//--|🠊 ArchiveMain.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠋 Desktop: Components Main 🠋|--\\
  section[class*='foreground'] {
    div[class*='elements-main'] {
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    nav[class*='browse'] {
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile: Components Main 🠋|--\\
  //--|🠊 <main id="components-main" class="default-main"> 🠈|--\\
  section[class*='foreground'] {
    div[class*='elements-main'] {
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      section[class*='article'] {
        background: rgba(Palettes.$red-dark, 0.75);
      }
      section[class*='aside'] {
        background: rgba(Palettes.$green-dark, 0.75);
      }
      section[class*='button'] {
        background: rgba(Palettes.$blue-dark, 0.75);
      }
      section:nth-child(4) {
        background: rgba(Palettes.$purple-dark, 0.75);
      }
      section:nth-child(5) {
        background: rgba(Palettes.$orange-dark, 0.75);
      }
      section:nth-child(6) {
        background: rgba(Palettes.$pink-dark, 0.75);
      }
      section:nth-child(7) {
        background: rgba(Palettes.$yellow-dark, 0.75);
      }
      section:nth-child(8) {
        background: rgba(Palettes.$brown-dark, 0.75);
      }
      section:nth-child(9) {
        background: rgba(Palettes.$turquoise-dark, 0.75);
      }
      section:nth-child(10) {
        background: rgba(Palettes.$gray-dark, 0.75);
      }
    }
    nav[class*='browse'] {
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
main[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid;
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid;
  }
}
