//--|🠊 OvertimeRightbar.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠊 Desktop <Rightbar> 🠈|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    background: rgba(green, 0.25);
  }
}
@mixin mobile-portrait {
  //--|🠊 Mobile <Rightbar> 🠈|--\\
  section[class*='foreground'] {
    menu[class*='select'] {
      grid-area: 2 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    background: rgba(blue, 0.25);
  }
}

aside[id='overtime-rightbar'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
