//--|🠊 TicketingHeader.scss 🠈|--\\
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  background: rgba(Palettes.$logTicket-dark, 0.5);
  /*
  section[class*='fore'] {
  }
  figure[class*='mid'] {
  }
  div[class*='back'] {
  }
  */
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--\\
}

header[id*='ticketing'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    section[class*='foreground'],
    figure[class*='midground'],
    div[class*='background'] {
      display: inherit;
      grid-template: inherit;
      grid-area: 1 / 1 / 6 / 4;
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
