//--|🠊 Table.data-week.scss 🠈|--\\
@mixin desktop-landscape {
  /*
  display: flex;
  position: relative;
  flex-direction: column;
  thead {
    width: 100%;
    display: grid;
    height: 100svh;
    position: fixed;
    tr {
      grid-row: 2 / 9; //--|🠈 row-start / row-end 🠈|--\\
      display: inherit; //--|🠊 display: grid; 🠈|--\\
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
      grid-template: repeat(7, 1fr) / 1fr; //--|🠈 rows / cols 🠈|--\\
    }
  }
  tbody {
    display: grid;
    height: 100svh;
    flex-shrink: 0;
    tr {
      width: 100%;
      display: inherit; //--|🠊 display: grid; 🠈|--\\
      grid-column: 2 / 4; //--|🠈 col-start / col-end 🠈|--\\
      grid-template: 1fr / repeat(2, 1fr); //--|🠈 rows / cols 🠈|--\\
      td[class*='clock-in'] {
        grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
      }
      td[class*='clock-out'] {
        grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
      }
      //--|===|--\\
      &[class*='mon'] {
        grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='tue'] {
        grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='wed'] {
        grid-row: 4 / 5; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='thu'] {
        grid-row: 5 / 6; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='fri'] {
        grid-row: 6 / 7; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='sat'] {
        grid-row: 7 / 8; //--|🠈 row-start / row-end 🠈|--\\
      }
      &[class*='sun'] {
        grid-row: 8 / 9; //--|🠈 row-start / row-end 🠈|--\\
      }
    }
  }

  thead,
  tbody {
    tr {
      text-align: center;
      align-items: center;
      backdrop-filter: blur(12px);
      span {
        font-size: 48px;
      }
    }

    grid-template-rows: 8rem repeat(7, 1fr) 8rem; //--|🠈 rows 🠈|--\\
    grid-template-columns: repeat(3, 1fr) clamp(0px, 75% - 512px, 512px); //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      tr span {
        font-size: 36px;
      }
      grid-template-rows: 6rem repeat(7, 1fr) 6rem; //--|🠈 rows 🠈|--\\
      grid-template-columns: repeat(3, 1fr) clamp(0px, 75% - 360px, 360px); //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      tr span {
        font-size: 24px;
      }
      grid-template-rows: 4rem repeat(7, 1fr) 4rem; //--|🠈 rows 🠈|--\\
      grid-template-columns: repeat(3, 1fr) clamp(0px, 75% - 228px, 228px); //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      tr span {
        font-size: 16px;
      }
      grid-template-rows: 3rem repeat(7, 1fr) 3rem; //--|🠈 rows 🠈|--\\
      grid-template-columns: repeat(3, 1fr) clamp(0px, 75% - 168px, 168px); //--|🠈 columns 🠈|--\\
    }
  }
  */
}
@mixin mobile-portrait {
}
table[class*='data-week'] {
  /*
  thead {
    tr {
      color: white;
      background: rgba(black, 0.75);
    }
  }
  tbody {
    tr {
      color: black;
      background: rgba(white, 0.5);
    }
  }

  //--|🠊 @extend %desk-back; 🠈|--\\
  @extend %carousel-containers;
  */
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

/*
%desk-back {
  tbody {
    &:nth-child(2) {
      background: rgba(darkred, 0.25);
    }
    &:nth-child(3) {
      background: rgba(darkgreen, 0.25);
    }
    &:nth-child(4) {
      background: rgba(darkblue, 0.25);
    }
  }
}
%carousel-containers {
  transition: transform 750ms ease-in-out;
  thead {
    transition: transform 250ms ease-in-out;
  }
  &.N {
    tbody {
      display: none;
    }
    thead {
      display: none;
    }
  }
  &.I {
    transform: translateY(0);
    thead {
      transform: translateY(0);
    }
  }
  &.II {
    transform: translateY(-100%);
    thead {
      transform: translateY(100%);
    }
  }
  &.III {
    transform: translateY(-200%);
    thead {
      transform: translateY(200%);
    }
  }
}
*/
