//--|🠊 Article.selection.scss 🠈|--//
@use '../../../design/Mixins.scss';
@use '../../../design/Palettes.scss';
@forward '../../../design/Mixins.scss';

@mixin desktop-landscape {
  div[class*='branding'] {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
    img {
      width: 50%;
      height: 50%;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background: Palettes.$indexLand-light;
    }
  }

  aside[class*='container'] {
    z-index: 1;
    opacity: 1;
    display: inherit; //--|🠊 display: grid; 🠈|--//
    backdrop-filter: blur(6px);
    grid-template: repeat(2, 1fr) / 1fr; //--|🠊 rows / columns 🠈|--//
    transition: opacity 0.25s ease-in-out;
    background: rgba(Palettes.$indexLand-dark, 0.5);
  }

  /*
      // border-bottom: 2px dashed white;
    menu {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      grid-area: 2 / 1 / 3 / 4;
      img {
        opacity: 1;
        width: 50%;
        height: 50%;
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        background: Palettes.$indexLand-light;
      }
    }
    h1 {
      height: 100%; //--|🠊 width: auto; 🠈|--//
      display: flex;
      color: white;
      align-items: flex-end;
      justify-content: center;
      grid-area: 1 / 1 / 2 / 2;
    }
    &:hover {
      opacity: 0;
    }
    */
  /*
  nav[class*='navigation'] {
    z-index: 0;
    display: inherit; //--|🠊 display: grid; 🠈|--//
    &[class*='apps'] {
      grid-template: repeat(2, 1fr) / 1fr; //--|🠊 rows / columns 🠈|--//
    }
    &[class*='demos'] {
      grid-template: repeat(3, 1fr) / 1fr; //--|🠊 rows / columns 🠈|--//
    }

    ul[class*='apps'],
    ul[class*='demos'] {
      margin: 0;
      padding: 0;
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  */

  /*
  & {
    aside[class*='left'] {
      border-right: 2px dashed white;
    }
    aside[class*='right'] {
      border-left: 2px dashed white;
    }
    aside[class*='left'],
    nav[class*='apps'] {
      grid-area: 2 / 1 / 3 / 2;
      border-bottom-left-radius: 1rem;
    }
    aside[class*='right'],
    nav[class*='demos'] {
      grid-area: 2 / 2 / 3 / 3;
      border-bottom-right-radius: 1rem;
    }
  }
  */
}
@mixin mobile-portrait {
}

article[class*='selection'] {
  display: inherit; //--|🠊 display: grid; 🠈|--//
  border-radius: 1rem;

  grid-template: 1fr 2fr / repeat(2, 1fr); //--|🠊 rows / columns 🠈|--//
  background: rgba(Palettes.$indexLand-dark, 0.75);
  box-shadow: 0 0 8rem rgba(Palettes.$indexLand-medium, 0.75); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
  box-shadow: inset 0 0 8px rgba(Palettes.$indexLand-light, 1);

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
/*
  // display: grid;
  // background: darkred;
  // grid-template: inherit; //--|🠊 64px 1fr 64px / 96px 1fr 96px; 🠈|--//

  display: grid;
  overflow: hidden; //--|🠊 Hide elements outside the visible area 🠈|--//
  grid-template: inherit; //--|🠊 64px 1fr 64px / 96px 1fr 96px; 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//

  .landing-carousel {
    display: flex;
    grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    // transform: translateX(-100vw); //--|🠊 Default view is .login-section 🠈|--//
    transition: transform 0.5s ease-in-out;

    section {
      //--|🠊 display: block; 🠈|--//
      div[class*='container'] {
        height: 100%;
        display: grid;
        min-width: 100vw; //--|🠊 Each section takes up the full screen width 🠈|--//

        h6[class*='register'] {
          color: Palettes.$trackDay-dark;
          filter: drop-shadow(0 0 2rem rgba(Palettes.$trackDay-light, 1));
        }
        h6[class*='login'] {
          color: Palettes.$logTicket-dark;
          filter: drop-shadow(0 0 2rem rgba(Palettes.$logTicket-light, 1));
        }
        h6[class*='password'] {
          color: Palettes.$findLink-dark;
          filter: drop-shadow(0 0 2rem rgba(Palettes.$findLink-light, 1));
        }
      }


    }
  }
  */
