//--|🠊 Article.selection.scss 🠈|--//
@use '../../../design/Mixins.scss';
@use '../../../design/Palettes.scss';
@forward '../../../design/Mixins.scss';

@mixin desktop-landscape {
  div[class*='branding'] {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
    border-bottom: 4px dashed white;
    img {
      width: 50%;
      height: 50%;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background: Palettes.$indexLand-light;
    }
  }
  aside[class*='apps'] {
    grid-area: 2 / 1 / 4 / 2;
    border-bottom-left-radius: 1rem;
    /*
    border-right: 3px dashed white;
    background: rgba(darkblue, 0.25);
    */
    figure {
      border-bottom-left-radius: 1rem;
    }
    nav {
      grid-template: repeat(2, 1fr) / 1fr; //--|🠊 rows / columns 🠈|--//
      button:nth-child(1) {
        border-bottom: 2px dashed white;
      }
    }
  }
  aside[class*='demo'] {
    grid-area: 2 / 2 / 4 / 3;
    border-bottom-right-radius: 1rem;
    /*
    border-left: 3px dashed white;
    background: rgba(darkred, 0.25);
    */
    figure {
      border-bottom-right-radius: 1rem;
    }
    nav {
      grid-template: repeat(3, 1fr) / 1fr; //--|🠊 rows / columns 🠈|--//
      button:nth-child(1),
      button:nth-child(2) {
        border-bottom: 2px dashed white;
      }
    }
  }
  * {
    position: relative;
    figure,
    nav {
      display: grid;
      position: absolute;
    }
    figure {
      z-index: 1;
      opacity: 1;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(4px);
      transition: opacity 0.25s ease-in-out;
      background: rgba(Palettes.$indexLand-dark, 0.75);

      /*
      animation-delay: 3s; //--|🠈 Wait 3 seconds before starting the animation 🠈|--//
      animation: hide-cover 1s ease-in-out forwards;
      @keyframes hide-cover {
        from {
          // display: grid;
        }
        to {
          // display: none;
        }
      }
      */
    }
    &:hover {
      figure {
        opacity: 0;
      }
    }

    nav {
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }
  aside {
  }
}
@mixin mobile-portrait {
}

article[class*='selection'] {
  display: grid;
  border-radius: 1rem;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr); //--|🠊 rows / columns 🠈|--//
  background: rgba(Palettes.$indexLand-dark, 0.75);
  box-shadow: inset 0 0 8px rgba(Palettes.$indexLand-light, 1); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
