//--|🠊 Mixins.scss 🠈|--//
@use './Palettes.scss';

//--|🠋 Element Animations 🠋|--//
@mixin header-transition {
  //--|🠋 Header 🠋|--//
  header {
    &[class*='collapsed'] {
      backdrop-filter: blur(0px);
      clip-path: polygon(0% 0rem, 100% 0rem, 100% 4rem, 0% 4rem);
      menu {
        top: 0rem;
      }
      section {
        opacity: 0;
      }
    }
    &[class*='expanded'] {
      backdrop-filter: blur(32px);
      clip-path: polygon(0% 0rem, 100% 0rem, 100% 100%, 0% 100%);
      menu {
        top: -4rem;
      }
      section {
        opacity: 1;
      }
    }
    & {
      transition: clip-path 0.25s ease-in-out, backdrop-filter 0.5s ease-in-out, opacity 0.25s ease-in-out;
      menu {
        position: relative;
        transition: top 0.25s ease-in-out;
      }
    }
  }
}
@mixin sidebar-transition {
  //--|🠋 Leftbar & Rightbar 🠋|--//
  aside {
    backdrop-filter: blur(8px);
    &[id*='leftbar'] {
      &[class*='collapsed'] {
        transition: clip-path 0.25s;
        clip-path: inset(0% 100% 0% 0%); //~~|🠈 top / right / bottom / left 🠈|~~//
      }
    }
    &[id*='rightbar'] {
      &[class*='collapsed'] {
        transition: clip-path 0.25s;
        clip-path: inset(0% 0% 0% 100%); //~~|🠈 top / right / bottom / left 🠈|~~//
      }
    }

    &[class*='expanded'] {
      transition: clip-path 0.25s;
      clip-path: inset(0% 0% 0% 0%); //~~|🠈 top / right / bottom / left 🠈|~~//
    }
  }
}
@mixin footer-transition {
  //--|🠋 Footer 🠋|--//
  footer {
    &[class*='collapsed'] {
      backdrop-filter: blur(0px);
      clip-path: polygon(0% calc(100% - 4rem), 100% calc(100% - 4rem), 100% 100%, 0% 100%);
      menu {
        top: 0rem;
      }
      section {
        opacity: 0;
      }
    }
    &[class*='expanded'] {
      backdrop-filter: blur(32px);
      clip-path: polygon(0% 0rem, 100% 0rem, 100% 100%, 0% 100%);
      menu {
        top: 4rem;
      }
      section {
        opacity: 1;
      }
    }
    & {
      transition: clip-path 0.25s ease-in-out, backdrop-filter 0.5s ease-in-out, opacity 0.25s ease-in-out;
      menu {
        position: relative;
        transition: top 0.25s ease-in-out;
      }
    }
  }
}

//--|🠋 Resolution Testing 🠋|--//
@mixin orientation-testing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      width: 100%;
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      aside[class*='rightbar'] {
        // background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      section[class*='overlay'] {
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
      }

      header {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
      footer {
        background: rgba($red-light, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }
}

//--|🠋| Button Design (Default) |🠋|--//
@mixin button-shading {
  &[class*='landing'] {
    &[class*='dark'] {
      background: Palettes.$indexLand-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$indexLand-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(black, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$indexLand-dark, 0.5)); //
        * {
          color: Palettes.$indexLand-light;
        }
        img {
          background: Palettes.$indexLand-light;
        }
      }
    }
    &[class*='light'] {
      background: Palettes.$indexLand-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$indexLand-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(white, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$indexLand-light, 0.5)); //
        * {
          color: Palettes.$indexLand-dark;
        }
        img {
          background: Palettes.$indexLand-dark;
        }
      }
    }
    &[class*='medium'] {
      background: Palettes.$indexLand-medium;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        * {
          color: Palettes.$indexLand-dark;
        }
        img {
          background: Palettes.$indexLand-dark;
        }
      }
    }

    &[class*='dark']:hover {
      background: Palettes.$indexLand-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$indexLand-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$indexLand-dark, 0.5)); //
        *:hover {
          color: Palettes.$indexLand-dark;
        }
        img {
          background: Palettes.$indexLand-dark;
        }
      }
    }
    &[class*='light']:hover {
      background: Palettes.$indexLand-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$indexLand-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$indexLand-light, 0.5)); //
        *:hover {
          color: Palettes.$indexLand-light;
        }
        img {
          background: Palettes.$indexLand-light;
          filter: drop-shadow(0 0 8px rgba(black, 0.5));
        }
      }
    }
    &[class*='medium']:hover {
      background: Palettes.$indexLand-medium;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        *:hover {
          color: Palettes.$indexLand-light;
        }
        img {
          background: Palettes.$indexLand-light;
          filter: drop-shadow(0 0 8px rgba(white, 0.5));
        }
      }
    }

    @extend %override-shading;
    @extend %transition-shading;
  }
  &[class*='overtime'] {
    &[class*='dark'] {
      background: Palettes.$trackDay-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$trackDay-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(black, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$trackDay-dark, 0.5)); //
        * {
          color: Palettes.$trackDay-light;
        }
        img {
          background: Palettes.$trackDay-light;
        }
      }
    }
    &[class*='light'] {
      background: Palettes.$trackDay-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$trackDay-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(white, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$trackDay-light, 0.5)); //
        * {
          color: Palettes.$trackDay-dark;
        }
        img {
          background: Palettes.$trackDay-dark;
        }
      }
    }
    &[class*='medium'] {
      background: Palettes.$trackDay-medium;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        * {
          color: Palettes.$trackDay-dark;
        }
        img {
          background: Palettes.$trackDay-dark;
        }
      }
    }

    &[class*='dark']:hover {
      background: Palettes.$trackDay-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$trackDay-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$trackDay-dark, 0.5)); //
        *:hover {
          color: Palettes.$trackDay-dark;
        }
        img {
          background: Palettes.$trackDay-dark;
        }
      }
    }
    &[class*='light']:hover {
      background: Palettes.$trackDay-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$trackDay-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$trackDay-light, 0.5)); //
        *:hover {
          color: Palettes.$trackDay-light;
        }
        img {
          background: Palettes.$trackDay-light;
        }
      }
    }
    &[class*='medium']:hover {
      background: Palettes.$trackDay-medium;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        *:hover {
          color: Palettes.$trackDay-light;
        }
        img {
          background: Palettes.$trackDay-light;
        }
      }
    }

    @extend %override-shading;
    @extend %transition-shading;
  }
  &[class*='ticketing'] {
    &[class*='dark'] {
      background: Palettes.$logTicket-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$logTicket-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(black, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$logTicket-dark, 0.5)); //
        * {
          color: Palettes.$logTicket-light;
        }
        img {
          background: Palettes.$logTicket-light;
        }
      }
    }
    &[class*='light'] {
      background: Palettes.$logTicket-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$logTicket-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(white, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$logTicket-light, 0.5)); //
        * {
          color: Palettes.$logTicket-dark;
        }
        img {
          background: Palettes.$logTicket-dark;
        }
      }
    }
    &[class*='medium'] {
      background: Palettes.$logTicket-medium;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        * {
          color: Palettes.$logTicket-dark;
        }
        img {
          background: Palettes.$logTicket-dark;
        }
      }
    }

    &[class*='dark']:hover {
      background: Palettes.$logTicket-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$logTicket-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$logTicket-dark, 0.5)); //
        *:hover {
          color: Palettes.$logTicket-dark;
        }
        img {
          background: Palettes.$logTicket-dark;
        }
      }
    }
    &[class*='light']:hover {
      background: Palettes.$logTicket-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$logTicket-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$logTicket-light, 0.5)); //
        *:hover {
          color: Palettes.$logTicket-light;
        }
        img {
          background: Palettes.$logTicket-light;
        }
      }
    }
    &[class*='medium']:hover {
      background: Palettes.$logTicket-medium;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        *:hover {
          color: Palettes.$logTicket-light;
        }
        img {
          background: Palettes.$logTicket-light;
        }
      }
    }

    @extend %override-shading;
    @extend %transition-shading;
  }
  &[class*='hyperlink'] {
    &[class*='dark'] {
      background: Palettes.$findLink-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$findLink-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(black, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$findLink-dark, 0.5)); //
        * {
          color: Palettes.$findLink-light;
        }
        img {
          background: Palettes.$findLink-light;
        }
      }
    }
    &[class*='light'] {
      background: Palettes.$findLink-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$findLink-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 4px rgba(white, 0.75));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$findLink-light, 0.5)); //
        * {
          color: Palettes.$findLink-dark;
        }
        img {
          background: Palettes.$findLink-dark;
        }
      }
    }
    &[class*='medium'] {
      background: Palettes.$findLink-medium;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        * {
          color: Palettes.$findLink-dark;
        }
        img {
          background: Palettes.$findLink-dark;
        }
      }
    }

    &[class*='dark']:hover {
      background: Palettes.$findLink-light;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$findLink-dark, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$findLink-dark, 0.5)); //
        *:hover {
          color: Palettes.$findLink-dark;
        }
        img {
          background: Palettes.$findLink-dark;
        }
      }
    }
    &[class*='light']:hover {
      background: Palettes.$findLink-dark;
      filter: drop-shadow(0 0 2rem rgba(white, 0.125));
      // filter: drop-shadow(0 0 2rem rgba(Palettes.$findLink-light, 0.125)); //
      div {
        filter: drop-shadow(0 0 8px rgba(white, 0.5));
        // filter: drop-shadow(0 0 8px rgba(Palettes.$findLink-light, 0.5)); //
        *:hover {
          color: Palettes.$findLink-light;
        }
        img {
          background: Palettes.$findLink-light;
        }
      }
    }
    &[class*='medium']:hover {
      background: Palettes.$findLink-medium;
      filter: drop-shadow(0 0 2rem rgba(black, 0.125));
      div {
        filter: drop-shadow(0 0 8px rgba(black, 0.5));
        *:hover {
          color: Palettes.$findLink-light;
        }
        img {
          background: Palettes.$findLink-light;
        }
      }
    }

    @extend %override-shading;
    @extend %transition-shading;
  }
}
@mixin button-presets {
  cursor: default;
  div {
    img {
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
    img,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      cursor: pointer;
    }
  }
  &[class*='icon'] {
    padding: 0;
    div {
      img {
        width: 75%;
      }
    }
  }
  &[class*='left'] {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr; //--|🠈 rows / columns 🠈|--//
    div {
      display: flex;
      grid-area: 2 / 2 / 3 / 3; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    }
  }
  &[class*='right'] {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr; //--|🠈 rows / columns 🠈|--//
    div {
      display: flex;
      grid-area: 2 / 2 / 3 / 3; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    }
  }
  &[class*='text'],
  &[class*='center'] {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr; //--|🠈 rows / columns 🠈|--//
    div {
      display: inherit; //--|🠈 display: grid; 🠈|--//
      grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      * {
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
  }
}
@mixin button-spacing {
  &[class*='text'],
  &[class*='left'],
  &[class*='right'],
  &[class*='center'] {
    div {
      * {
        white-space: wrap;
        font-weight: bold;
        position: relative;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        top: 4px;
      }
      p {
        top: 8px;
        padding: 0 8px;
      }
    }
    &[class*='center'] {
      div {
        img {
          height: 100%;
          opacity: 0.25;
        }
      }
    }
  }
}
%override-shading {
  &[class*='icon'] {
    background: none !important;
  }
}
%transition-shading {
  &[class*='dark']:hover,
  &[class*='light']:hover,
  &[class*='medium']:hover {
    transition: background 0.25s ease-in-out;
    div {
      transition: filter 0.25s ease-in-out;
      * {
        transition: color 0.25s ease-in-out;
      }
      img {
        transition: background 0.25s ease-in-out;
      }
    }
  }
}
