//--|🠊 Mixins.scss 🠈|--//
@use './Palettes.scss';

@mixin shading-view {
  //--|🠋| Index or Landing (Grayscale) |🠋|--//
  &[class*='landing'] {
    &[class*='dark'] {
      background: Palettes.$indexLand-dark;
    }
    &[class*='medium'] {
      background: Palettes.$indexLand-medium;
    }
    &[class*='light'] {
      background: Palettes.$indexLand-light;
    }
  }

  //--|🠋| Find a Link (Red) |🠋|--//
  &[class*='hyperlink'] {
    &[class*='dark'] {
      background: Palettes.$findLink-dark;
    }
    &[class*='medium'] {
      background: Palettes.$findLink-medium;
    }
    &[class*='light'] {
      background: Palettes.$findLink-light;
    }
  }
  //--|🠋| Track a Day (Green) |🠋|--//
  &[class*='overtime'] {
    &[class*='dark'] {
      background: Palettes.$trackDay-dark;
    }
    &[class*='medium'] {
      background: Palettes.$trackDay-medium;
    }
    &[class*='light'] {
      background: Palettes.$trackDay-light;
    }
  }
  //--|🠋| Log a Ticket (Blue) |🠋|--//
  &[class*='ticketing'] {
    &[class*='dark'] {
      background: Palettes.$logTicket-dark;
    }
    &[class*='medium'] {
      background: Palettes.$logTicket-medium;
    }
    &[class*='light'] {
      background: Palettes.$logTicket-light;
    }
  }
}
@mixin layout-view {
  /*
    &[class*='left'] {
    }
    &[class*='right'] {
    }
    &[class*='center'] {
    }
    */
}

//--|🠋| Global Orientations |🠋|--//
@mixin orientation-testing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      width: 100%;
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      aside[class*='rightbar'] {
        // background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      section[class*='overlay'] {
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
      }

      header {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
      footer {
        background: rgba($red-light, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }
}

//--|🠋| Color Schemes |🠋|--//
@mixin preset-colors {
  $red-neon: #ff0000; //--🠊 rgba(255, 0, 0, 1) 🠈--//
  $red-dark: #660000; //--🠊 rgba(102, 0, 0, 1) 🠈--//
  $red-light: #ea9999; //--🠊 rgba(234, 153, 153, 1) 🠈--//

  $green-neon: #00ff00; //--🠊 rgba(0, 255, 0, 1) 🠈--//
  $green-dark: #274e13; //--🠊 rgba(39, 78, 19, 1) 🠈--//
  $green-light: #b6d7a8; //--🠊 rgba(182, 215, 168, 1) 🠈--//

  $blue-neon: #3c90ff; //--🠊 rgba(0, 0, 255, 1) 🠈--//
  $blue-dark: #073763; //--🠊 rgba(127, 17, 224, 1) 🠈--//
  $blue-light: #9fc5e8; //--🠊 rgba(159, 197, 232, 1) 🠈--//

  $purple-neon: #9900ff; //--🠊 rgba(153, 0, 255, 1) 🠈--//
  $purple-dark: #20124d; //--🠊 rgba(32, 18, 77, 1) 🠈--//
  $purple-light: #b4a7d6; //--🠊 rgba(180, 167, 214, 1) 🠈--//

  $pink-neon: #ff00ff; //--🠊 rgba(255, 0, 255, 1) 🠈--//
  $pink-dark: #4c1130; //--🠊 rgba(76, 17, 48, 1) 🠈--//
  $pink-light: #d5a6bd; //--🠊 rgba(213, 166, 189, 1) 🠈--//

  $yellow-neon: #ffff00; //--🠊 rgba(255, 255, 0, 1) 🠈--//
  $yellow-dark: #7f6000; //--🠊 rgba(127, 96, 0, 1) 🠈--//
  $yellow-light: #ffe599; //--🠊 rgba(255, 229, 153, 1) 🠈--//

  $orange-neon: #ff9900; //--🠊 rgba(255, 153, 0, 1) 🠈--//
  $orange-dark: #783f04; //--🠊 rgba(120, 63, 4, 1) 🠈--//
  $orange-light: #f9cb9c; //--🠊 rgba(249, 203, 156, 1) 🠈--//

  $brown-neon: #a97142; //--🠊 rgba(169, 113, 66, 1) 🠈--//
  $brown-dark: #4f341d; //--🠊 rgba(79, 52, 29, 1) 🠈--//
  $brown-light: #ffd3af; //--🠊 rgba(255, 211, 175, 1) 🠈--//

  $grey-neon: #bec2cb; //--🠊 rgba(190, 194, 203, 1) 🠈--//
  $grey-dark: #434343; //--🠊 rgba(67, 67, 67, 1) 🠈--//
  $grey-light: #efefef; //--🠊 rgba(239, 239, 239, 1) 🠈--//

  $turquoise-neon: #00ffff; //--🠊 rgba(0, 255, 255, 1) 🠈--//
  $turquoise-dark: #0c343d; //--🠊 rgba(12, 52, 61, 1) 🠈--//
  $turquoise-light: #a2c4c9; //--🠊 rgba(162, 196, 201, 1) 🠈--//
}
@mixin index-colors {
  //--|🠋| Index Colors |🠋|--//
  $primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
  $primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
  $primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//
}
@mixin resume-colors {
  //--|🠋| Résumé Colors |🠋|--//
  $primary-dark: #1f3131; //--🠊 rgba(31,49,49,1) 🠈--//
  $primary-medium: #3d6262; //--🠊 rgba(61,98,98,1) 🠈--//
  $primary-light: #9eb0b0; //--🠊 rgba(158,176,176,1) 🠈--//
}
@mixin ticket-colors {
  //--|🠋| Log a Ticket |🠋|--//
  $primary-dark: #0e183b; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #1f3892; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #879add; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//

  $secondary-dark: #3f1a02; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $secondary-medium: #ac5419; //--🠊 rgba(?? , ?? , ?? ,1) 🠈--//
  $secondary-light: #e7955e; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//

  $tertiary-dark: #032004; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-medium: #1c7e1f; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-light: #84d387; //--🠊 rgba( ??, ??, ??,1) 🠈--//
}
@mixin univer-colors {
  $primary-dark: #230510; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #450920; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #e2bcca; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//

  $secondary-dark: #392319; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-medium: #714631; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-light: #b8a298; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}

//--|🠋| Trinity {A]pps |🠋|--//
@mixin find-link {
  //--|🠋| Find a Link |🠋|--//
  $primary-dark: #230709; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #881a3d; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #e2bcca; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}
@mixin log-ticket {
  //--|🠋| Log a Ticket |🠋|--//
  $secondary-dark: #070e27; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-medium: #0b2583; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-light: #a8b8f3; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}
@mixin track-day {
  //--|🠋| Track a Day |🠋|--//
  $tertiary-dark: #072007; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-medium: #39853b; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-light: #9ee6a1; //--🠊 rgba( ??, ??, ??,1) 🠈--//
}
