// Mixin.scss
@mixin orientation-testing() {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      width: 100%;
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      aside[class*='rightbar'] {
        // background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      section[class*='overlay'] {
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
      }

      header {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
      footer {
        background: rgba($red-light, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }
}

@mixin orientation-testing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      width: 100%;
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      aside[class*='rightbar'] {
        // background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      section[class*='overlay'] {
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
      }

      header {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
      footer {
        background: rgba($red-light, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }
}
@mixin desktop-landscape {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //~~|🠊 rows / columns 🠈|~~//
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    grid-template: 6rem 1fr 6rem / 2rem 1fr 2rem; //~~|🠊 rows / columns 🠈|~~//
  }
}

//--|🠋| Color Schemes |🠋|--//
@mixin find-link {
  //--|🠋| Find a Link |🠋|--//
  $primary-dark: #230510; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #450920; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #e2bcca; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}
@mixin log-ticket {
  //--|🠋| Log a Ticket |🠋|--//
  $primary-dark: #050a1d; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #0b2583; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #a8b8f3; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}
@mixin track-day {
  //--|🠋| Track a Day |🠋|--//
  $tertiary-dark: #020a02; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-medium: #137e17; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-light: #91e994; //--🠊 rgba( ??, ??, ??,1) 🠈--//
}

@mixin index-colors {
  //--|🠋| Index Colors |🠋|--//
  $primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
  $primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
  $primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//
}
@mixin resume-colors {
  //--|🠋| Résumé Colors |🠋|--//
  $primary-dark: #1f3131; //--🠊 rgba(31,49,49,1) 🠈--//
  $primary-medium: #3d6262; //--🠊 rgba(61,98,98,1) 🠈--//
  $primary-light: #9eb0b0; //--🠊 rgba(158,176,176,1) 🠈--//
}
@mixin ticket-colors {
  //--|🠋| Log a Ticket |🠋|--//
  $primary-dark: #050a1d; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #1f3892; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #879add; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//

  $secondary-dark: #3f1a02; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $secondary-medium: #ac5419; //--🠊 rgba(?? , ?? , ?? ,1) 🠈--//
  $secondary-light: #e7955e; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//

  $tertiary-dark: #020f03; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-medium: #137e17; //--🠊 rgba( ?? , ?? , ?? ,1) 🠈--//
  $tertiary-light: #91e994; //--🠊 rgba( ??, ??, ??,1) 🠈--//
}
@mixin university-colors {
  $primary-dark: #230510; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-medium: #450920; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $primary-light: #e2bcca; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//

  $secondary-dark: #392319; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-medium: #714631; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
  $secondary-light: #b8a298; //--🠊 rgba( ?? , ?? , ?? , 1) 🠈--//
}
@mixin fitness-colors {
}
