//--|🠊 Menu.swipe.scss 🠈|--\\
@use '../../../../layouts/designs/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠋 Desktop (Swipe) 🠋|--\\
  $bold-weight: 650;
  $italic-weight: 250;
  $default-weight: 450;
  ul[class*='hori-X-swipe'] {
    overflow-x: hidden;

    %buttons-x-desktop {
      z-index: 1;
      width: 100%;
      display: grid;
      height: inherit; //--|🠈 height: @media; 🠈|--\\
      grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
      //--|🠊 Left 🠈|--\\
      &[class*='horizontal-lef'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px //--|🠈 rows 🠈|--//
          / 128px 128px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px //--|🠈 rows 🠈|--//
            / 48px 48px 1fr; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Right 🠈|--\\
      &[class*='horizontal-rig'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px //--|🠈 rows 🠈|--//
          / 1fr 128px 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px //--|🠈 rows 🠈|--//
            / 1fr 48px 48px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Center 🠈|--\\
      &[class*='horizontal-cen'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px //--|🠈 rows 🠈|--//
          / 1fr 128px 128px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px //--|🠈 rows 🠈|--//
            / 1fr 48px 48px 1fr; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='horizontal-def'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px //--|🠈 rows 🠈|--//
          / 128px 1fr 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px //--|🠈 rows 🠈|--//
            / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-x-desktop;
    }

    %titles-x-desktop {
      z-index: 0;
      width: 100%;
      display: flex;
      height: inherit; //--|🠈 height: @media; 🠈|--\\
      flex-direction: row;
      aside {
        min-width: 0; //--|🠈 For Ellipsis 🠈|--\\
        flex: 0 0 100%;
        display: inherit; //--|🠈 display: flex; 🠈|--\\
        align-items: center;
        h3 span {
          display: block;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: $default-weight;
          b {
            font-weight: $bold-weight;
          }
          i {
            font-style: italic;
            font-weight: $italic-weight;
          }
        }

        /*
        &:nth-child(1) {
          background: rgba(red, 0.25);
        }
        &:nth-child(2) {
          background: rgba(green, 0.25);
        }
        &:nth-child(3) {
          background: rgba(blue, 0.25);
        }
        */
      }
    }
    li[class*='showing'] {
      @extend %titles-x-desktop;
      @include desktop-x-showing();
    }
  }
  ol[class*='hori-Y-swipe'] {
    height: 100%;
    overflow: hidden;

    %buttons-y-desktop {
      z-index: 1;
      display: grid;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\

      //--|🠊 Top 🠈|--\\
      &[class*='horizontal-top'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Bottom 🠈|--\\
      &[class*='horizontal-bot'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Middle 🠈|--\\
      &[class*='horizontal-mid'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='horizontal-def'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 1fr 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 1fr 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 1fr 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 1fr 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-y-desktop;
    }

    %titles-y-desktop {
      z-index: 0;
      display: flex;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      flex-direction: row;
      aside {
        height: inherit; //--|🠈 height: 100%; 🠈|--\\
        display: inherit; //--|🠈 display: flex; 🠈|--\\
        align-items: center;
        justify-content: center;
        h3 {
          display: none;
        }

        width: 128px; //--|🠈 128px for Squares 🠈|--\\
        @media screen and (max-height: 768px) {
          width: 96px; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          width: 64px; //--|🠈 64px for Squares 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          width: 48px; //--|🠈 48px for Squares 🠈|--\\
        }

        /*
        &:nth-child(1) {
          background: rgba(red, 0.25);
        }
        &:nth-child(2) {
          background: rgba(green, 0.25);
        }
        &:nth-child(3) {
          background: rgba(blue, 0.25);
        }
        */
      }
    }
    li[class*='showing'] {
      @extend %titles-y-desktop;
      @include desktop-y-showing();
    }
  }
}
@mixin desktop-y-showing {
  &[class*='horizontal_I'] {
    transform: translateX(calc(-128px * 0));
  }
  &[class*='horizontal_II'] {
    transform: translateX(calc(-128px * 1));
  }
  &[class*='horizontal_III'] {
    transform: translateX(calc(-128px * 2));
  }
  &[class*='horizontal_IV'] {
    transform: translateX(calc(-128px * 3));
  }
  &[class*='horizontal_V'] {
    transform: translateX(calc(-128px * 4));
  }
  &[class*='horizontal_VI'] {
    transform: translateX(calc(-128px * 5));
  }
  &[class*='horizontal_VII'] {
    transform: translateX(calc(-128px * 6));
  }
  &[class*='horizontal_VIII'] {
    transform: translateX(calc(-128px * 7));
  }
  &[class*='horizontal_IX'] {
    transform: translateX(calc(-128px * 8));
  }
  &[class*='horizontal_X'] {
    transform: translateX(calc(-128px * 9));
  }
  &[class*='horizontal_XI'] {
    transform: translateX(calc(-128px * 10));
  }
  &[class*='horizontal_XII'] {
    transform: translateX(calc(-128px * 11));
  }
  &[class*='horizontal_XIII'] {
    transform: translateX(calc(-128px * 12));
  }
  &[class*='horizontal_XIV'] {
    transform: translateX(calc(-128px * 13));
  }
  &[class*='horizontal_XV'] {
    transform: translateX(calc(-128px * 14));
  }
  &[class*='horizontal_XVI'] {
    transform: translateX(calc(-128px * 15));
  }
  &[class*='horizontal_XVII'] {
    transform: translateX(calc(-128px * 16));
  }
  &[class*='horizontal_XVIII'] {
    transform: translateX(calc(-128px * 17));
  }
  &[class*='horizontal_XIX'] {
    transform: translateX(calc(-128px * 18));
  }
  &[class*='horizontal_XX'] {
    transform: translateX(calc(-128px * 19));
  }
  @media screen and (max-height: 768px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-96px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-96px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-96px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-96px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-96px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-96px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-96px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-96px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-96px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-96px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-96px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-96px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-96px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-96px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-96px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-96px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-96px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-96px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-96px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-96px * 19));
    }
  }
  @media screen and (max-height: 480px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-64px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-64px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-64px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-64px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-64px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-64px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-64px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-64px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-64px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-64px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-64px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-64px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-64px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-64px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-64px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-64px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-64px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-64px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-64px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-64px * 19));
    }
  }
  @media screen and (max-height: 360px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-48px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-48px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-48px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-48px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-48px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-48px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-48px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-48px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-48px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-48px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-48px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-48px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-48px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-48px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-48px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-48px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-48px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-48px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-48px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-48px * 19));
    }
  }
}
@mixin desktop-x-showing {
  &[class*='horizontal_I'] {
    transform: translateX(calc(-100% * 0));
  }
  &[class*='horizontal_II'] {
    transform: translateX(calc(-100% * 1));
  }
  &[class*='horizontal_III'] {
    transform: translateX(calc(-100% * 2));
  }
  &[class*='horizontal_IV'] {
    transform: translateX(calc(-100% * 3));
  }
  &[class*='horizontal_V'] {
    transform: translateX(calc(-100% * 4));
  }
  &[class*='horizontal_VI'] {
    transform: translateX(calc(-100% * 5));
  }
  &[class*='horizontal_VII'] {
    transform: translateX(calc(-100% * 6));
  }
  &[class*='horizontal_VIII'] {
    transform: translateX(calc(-100% * 7));
  }
  &[class*='horizontal_IX'] {
    transform: translateX(calc(-100% * 8));
  }
  &[class*='horizontal_X'] {
    transform: translateX(calc(-100% * 9));
  }
  &[class*='horizontal_XI'] {
    transform: translateX(calc(-100% * 10));
  }
  &[class*='horizontal_XII'] {
    transform: translateX(calc(-100% * 11));
  }
  &[class*='horizontal_XIII'] {
    transform: translateX(calc(-100% * 12));
  }
  &[class*='horizontal_XIV'] {
    transform: translateX(calc(-100% * 13));
  }
  &[class*='horizontal_XV'] {
    transform: translateX(calc(-100% * 14));
  }
  &[class*='horizontal_XVI'] {
    transform: translateX(calc(-100% * 15));
  }
  &[class*='horizontal_XVII'] {
    transform: translateX(calc(-100% * 16));
  }
  &[class*='horizontal_XVIII'] {
    transform: translateX(calc(-100% * 17));
  }
  &[class*='horizontal_XIX'] {
    transform: translateX(calc(-100% * 18));
  }
  &[class*='horizontal_XX'] {
    transform: translateX(calc(-100% * 19));
  }
}
//--|===|--\\
@mixin mobile-portrait {
  //--|🠋 Mobile (Swipe) 🠋|--\\
  $bold-weight: 650;
  $italic-weight: 250;
  $default-weight: 450;
  ul[class*='hori-X-swipe'] {
    overflow-x: hidden;

    %buttons-x-mobile {
      z-index: 1;
      width: 100%;
      display: grid;
      height: inherit; //--|🠈 height: @media; 🠈|--\\
      grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
      //--|🠊 Left 🠈|--\\
      &[class*='horizontal-lef'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Right 🠈|--\\
      &[class*='horizontal-rig'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Center 🠈|--\\
      &[class*='horizontal-cen'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='horizontal-def'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 1fr 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 1fr 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-x-mobile;
    }

    %titles-x-mobile {
      z-index: 0;
      width: 100%;
      display: flex;
      height: inherit; //--|🠈 height: @media; 🠈|--\\
      flex-direction: row;
      aside {
        min-width: 0; //--|🠈 For Ellipsis 🠈|--\\
        flex: 0 0 100%;
        display: inherit; //--|🠈 display: flex; 🠈|--\\
        align-items: center;
        h3 span {
          display: block;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: $default-weight;
          b {
            font-weight: $bold-weight;
          }
          i {
            font-style: italic;
            font-weight: $italic-weight;
          }
        }
        /*
        &:nth-child(1) {
          background: rgba(red, 0.25);
        }
        &:nth-child(2) {
          background: rgba(green, 0.25);
        }
        &:nth-child(3) {
          background: rgba(blue, 0.25);
        }
        */
      }
    }
    li[class*='showing'] {
      @extend %titles-x-mobile;
      @include mobile-x-showing();
    }
  }
  ol[class*='hori-Y-swipe'] {
    height: 100%;
    overflow-x: hidden;

    %buttons-y-mobile {
      z-index: 1;
      display: grid;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\

      //--|🠊 Top 🠈|--\\
      &[class*='horizontal-top'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px 192px 1fr //--|🠈 rows 🠈|--//
          / 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px 160px 1fr //--|🠈 rows 🠈|--//
            / 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Bottom 🠈|--\\
      &[class*='horizontal-bot'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 1fr 192px 192px //--|🠈 rows 🠈|--//
          / 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 1fr 160px 160px //--|🠈 rows 🠈|--//
            / 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Middle 🠈|--\\
      &[class*='horizontal-mid'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 1fr 192px 192px 1fr //--|🠈 rows 🠈|--//
          / 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 1fr 160px 160px 1fr //--|🠈 rows 🠈|--//
            / 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='horizontal-def'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px 1fr 192px //--|🠈 rows 🠈|--//
          / 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px 1fr 160px //--|🠈 rows 🠈|--//
            / 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 1fr 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 1fr 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-y-mobile;
    }

    %titles-y-mobile {
      z-index: 0;
      display: flex;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      flex-direction: row;
      aside {
        height: inherit; //--|🠈 height: 100%; 🠈|--\\
        display: inherit; //--|🠈 display: flex; 🠈|--\\
        align-items: center;
        justify-content: center;
        h3 {
          display: none;
        }

        width: 192px; //--|🠈 192px for Squares 🠈|--\\
        @media screen and (max-width: 768px) {
          width: 160px; //--|🠈 160px for Squares 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          width: 96px; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          width: 64px; //--|🠈 64px for Squares 🠈|--\\
        }
        /*
        &:nth-child(1) {
          background: rgba(red, 0.25);
        }
        &:nth-child(2) {
          background: rgba(green, 0.25);
        }
        &:nth-child(3) {
          background: rgba(blue, 0.25);
        }
        */
      }
    }
    li[class*='showing'] {
      @extend %titles-y-mobile;
      @include mobile-y-showing();
    }
  }
}
@mixin mobile-x-showing {
  &[class*='horizontal_I'] {
    transform: translateX(calc(-100% * 0));
  }
  &[class*='horizontal_II'] {
    transform: translateX(calc(-100% * 1));
  }
  &[class*='horizontal_III'] {
    transform: translateX(calc(-100% * 2));
  }
  &[class*='horizontal_IV'] {
    transform: translateX(calc(-100% * 3));
  }
  &[class*='horizontal_V'] {
    transform: translateX(calc(-100% * 4));
  }
  &[class*='horizontal_VI'] {
    transform: translateX(calc(-100% * 5));
  }
  &[class*='horizontal_VII'] {
    transform: translateX(calc(-100% * 6));
  }
  &[class*='horizontal_VIII'] {
    transform: translateX(calc(-100% * 7));
  }
  &[class*='horizontal_IX'] {
    transform: translateX(calc(-100% * 8));
  }
  &[class*='horizontal_X'] {
    transform: translateX(calc(-100% * 9));
  }
  &[class*='horizontal_XI'] {
    transform: translateX(calc(-100% * 10));
  }
  &[class*='horizontal_XII'] {
    transform: translateX(calc(-100% * 11));
  }
  &[class*='horizontal_XIII'] {
    transform: translateX(calc(-100% * 12));
  }
  &[class*='horizontal_XIV'] {
    transform: translateX(calc(-100% * 13));
  }
  &[class*='horizontal_XV'] {
    transform: translateX(calc(-100% * 14));
  }
  &[class*='horizontal_XVI'] {
    transform: translateX(calc(-100% * 15));
  }
  &[class*='horizontal_XVII'] {
    transform: translateX(calc(-100% * 16));
  }
  &[class*='horizontal_XVIII'] {
    transform: translateX(calc(-100% * 17));
  }
  &[class*='horizontal_XIX'] {
    transform: translateX(calc(-100% * 18));
  }
  &[class*='horizontal_XX'] {
    transform: translateX(calc(-100% * 19));
  }
}
@mixin mobile-y-showing {
  &[class*='horizontal_I'] {
    transform: translateX(calc(-192px * 0));
  }
  &[class*='horizontal_II'] {
    transform: translateX(calc(-192px * 1));
  }
  &[class*='horizontal_III'] {
    transform: translateX(calc(-192px * 2));
  }
  &[class*='horizontal_IV'] {
    transform: translateX(calc(-192px * 3));
  }
  &[class*='horizontal_V'] {
    transform: translateX(calc(-192px * 4));
  }
  &[class*='horizontal_VI'] {
    transform: translateX(calc(-192px * 5));
  }
  &[class*='horizontal_VII'] {
    transform: translateX(calc(-192px * 6));
  }
  &[class*='horizontal_VIII'] {
    transform: translateX(calc(-192px * 7));
  }
  &[class*='horizontal_IX'] {
    transform: translateX(calc(-192px * 8));
  }
  &[class*='horizontal_X'] {
    transform: translateX(calc(-192px * 9));
  }
  &[class*='horizontal_XI'] {
    transform: translateX(calc(-192px * 10));
  }
  &[class*='horizontal_XII'] {
    transform: translateX(calc(-192px * 11));
  }
  &[class*='horizontal_XIII'] {
    transform: translateX(calc(-192px * 12));
  }
  &[class*='horizontal_XIV'] {
    transform: translateX(calc(-192px * 13));
  }
  &[class*='horizontal_XV'] {
    transform: translateX(calc(-192px * 14));
  }
  &[class*='horizontal_XVI'] {
    transform: translateX(calc(-192px * 15));
  }
  &[class*='horizontal_XVII'] {
    transform: translateX(calc(-192px * 16));
  }
  &[class*='horizontal_XVIII'] {
    transform: translateX(calc(-192px * 17));
  }
  &[class*='horizontal_XIX'] {
    transform: translateX(calc(-192px * 18));
  }
  &[class*='horizontal_XX'] {
    transform: translateX(calc(-192px * 19));
  }

  @media screen and (max-width: 768px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-160px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-160px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-160px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-160px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-160px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-160px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-160px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-160px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-160px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-160px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-160px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-160px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-160px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-160px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-160px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-160px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-160px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-160px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-160px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-160px * 19));
    }
  }
  @media screen and (max-width: 480px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-96px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-96px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-96px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-96px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-96px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-96px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-96px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-96px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-96px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-96px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-96px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-96px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-96px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-96px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-96px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-96px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-96px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-96px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-96px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-96px * 19));
    }
  }
  @media screen and (max-width: 360px) {
    &[class*='horizontal_I'] {
      transform: translateX(calc(-64px * 0));
    }
    &[class*='horizontal_II'] {
      transform: translateX(calc(-64px * 1));
    }
    &[class*='horizontal_III'] {
      transform: translateX(calc(-64px * 2));
    }
    &[class*='horizontal_IV'] {
      transform: translateX(calc(-64px * 3));
    }
    &[class*='horizontal_V'] {
      transform: translateX(calc(-64px * 4));
    }
    &[class*='horizontal_VI'] {
      transform: translateX(calc(-64px * 5));
    }
    &[class*='horizontal_VII'] {
      transform: translateX(calc(-64px * 6));
    }
    &[class*='horizontal_VIII'] {
      transform: translateX(calc(-64px * 7));
    }
    &[class*='horizontal_IX'] {
      transform: translateX(calc(-64px * 8));
    }
    &[class*='horizontal_X'] {
      transform: translateX(calc(-64px * 9));
    }
    &[class*='horizontal_XI'] {
      transform: translateX(calc(-64px * 10));
    }
    &[class*='horizontal_XII'] {
      transform: translateX(calc(-64px * 11));
    }
    &[class*='horizontal_XIII'] {
      transform: translateX(calc(-64px * 12));
    }
    &[class*='horizontal_XIV'] {
      transform: translateX(calc(-64px * 13));
    }
    &[class*='horizontal_XV'] {
      transform: translateX(calc(-64px * 14));
    }
    &[class*='horizontal_XVI'] {
      transform: translateX(calc(-64px * 15));
    }
    &[class*='horizontal_XVII'] {
      transform: translateX(calc(-64px * 16));
    }
    &[class*='horizontal_XVIII'] {
      transform: translateX(calc(-64px * 17));
    }
    &[class*='horizontal_XIX'] {
      transform: translateX(calc(-64px * 18));
    }
    &[class*='horizontal_XX'] {
      transform: translateX(calc(-64px * 19));
    }
  }
}
menu[class*='swipe'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    ul[class*='hori-X-swipe'] {
      height: 128px; //--|🠈 128px for Squares 🠈|--\\
      &[class*='lef_'] li[class*='showing'] {
        aside {
          justify-content: flex-start;
          //--|🠊 display: flex; 🠈|--\\
          padding-left: calc(128px * 2);
        }
      }
      &[class*='rig_'] li[class*='showing'] {
        aside {
          justify-content: flex-end;
          //--|🠊 display: flex; 🠈|--\\
          padding-right: calc(128px * 2);
        }
      }
      &[class*='cen_'] li[class*='showing'] {
        h3 {
          display: none;
        }
      }
      &[class*='def_'] li[class*='showing'] {
        aside {
          padding: 0 128px;
          justify-content: center;
          //--|🠊 display: flex; 🠈|--\\
        }
      }
      @media screen and (max-height: 768px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(96px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(96px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 96px;
        }
      }
      @media screen and (max-height: 480px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(64px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(64px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 64px;
        }
      }
      @media screen and (max-height: 360px) {
        height: 48px; //--|🠈 48px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(48px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(48px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 48px;
        }
      }
    }
    ol[class*='hori-Y-swipe'] {
      width: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        width: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    ul[class*='hori-X-swipe'] {
      height: 192px; //--|🠈 192px for Squares 🠈|--\\
      &[class*='lef_'] li[class*='showing'] {
        aside {
          justify-content: flex-start;
          //--|🠊 display: flex; 🠈|--\\
          padding-left: calc(192px * 2);
        }
      }
      &[class*='rig_'] li[class*='showing'] {
        aside {
          justify-content: flex-end;
          //--|🠊 display: flex; 🠈|--\\
          padding-right: calc(192px * 2);
        }
      }
      &[class*='cen_'] li[class*='showing'] {
        h3 {
          display: none;
        }
      }
      &[class*='def_'] li[class*='showing'] {
        aside {
          padding: 0 192px;
          justify-content: center;
          //--|🠊 display: flex; 🠈|--\\
        }
      }
      @media screen and (max-width: 768px) {
        height: 160px; //--|🠈 160px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(160px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(160px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 160px;
        }
      }
      @media screen and (max-width: 480px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(96px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(96px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 96px;
        }
      }
      @media screen and (max-width: 360px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
        &[class*='lef_'] li[class*='showing'] aside {
          padding-left: calc(64px * 2);
        }
        &[class*='rig_'] li[class*='showing'] aside {
          padding-right: calc(64px * 2);
        }
        &[class*='def_'] li[class*='showing'] aside {
          padding: 0 64px;
        }
      }
    }
    ol[class*='hori-Y-swipe'] {
      width: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        width: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
  }
  //--|===|--\\
  &[class*='swipe'] {
    ul[class*='hori-X-swipe'],
    ol[class*='hori-Y-swipe'] {
      position: relative; //--|🠊 Superimpose Positioning 🠈|--\\
      li[class*='preview'],
      li[class*='showing'] {
        position: absolute;
        transition: transform 250ms ease-in-out;
        *[class*='highlight'],
        *[class*='downplay'] {
          transition:
            opacity 500ms ease-in-out,
            filter 250ms ease-in-out;
          &[class*='highlight'] {
            opacity: 1;
            filter: blur(0px);
          }
          &[class*='downplay'] {
            opacity: 0;
            filter: blur(24px);
            * {
              cursor: default;
            }
          }
        }
      }
    }
    *[class*='_mon'] {
      &[class*='lig_'] h3[class*='display'] {
        color: Palettes.$indexLand-light;
      }
      &[class*='dar_'] h3[class*='display'] {
        color: Palettes.$indexLand-dark;
      }
    }
  }
}
