//--|🠊 Menu.swipe.scss 🠈|--\\

@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  ul[class='hori-X-swipe'] {
    // background: darkblue;
    li[class*='showing'] {
      // background: green;

      grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    li[class='prev-view'] {
      grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    li[class='next-view'] {
      grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    width: 100%;
    display: grid;
    //--|🠋 128px for Squares 🠋|--\\
    height: 128px;
    grid-template: 128px //--|🠈 rows 🠈|--//
      / 128px 1fr 128px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      height: 96px;
      grid-template: 96px //--|🠈 rows 🠈|--//
        / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      height: 64px;
      grid-template: 64px //--|🠈 rows 🠈|--//
        / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      height: 48px;
      grid-template: 48px //--|🠈 rows 🠈|--//
        / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
    }
  }
  ol[class='vert-Y-swipe'] {
    background: darkred;

    li[class*='showing'] {
      background: green;

      grid-area: 2 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    li[class='prev-view'] {
      grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    li[class='next-view'] {
      grid-area: 3 / 1 / 4 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    height: 100%;
    display: grid;
    //--|🠋 128px for Squares 🠋|--\\
    grid-template: 128px 1fr 128px //--|🠈 rows 🠈|--//
      / 128px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      grid-template: 96px 1fr 96px //--|🠈 rows 🠈|--//
        / 96px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      grid-template: 64px 1fr 64px //--|🠈 rows 🠈|--//
        / 64px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      grid-template: 48px 1fr 48px //--|🠈 rows 🠈|--//
        / 48px; //--|🠈 columns 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--\\
}

menu[class*='swipe'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
