//--|🠊 ComponentsHeader.scss 🠈|--\\
@use '../../../designs/Palettes.scss';

@use '../../../designs/Mixins.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Layers) 🠋|--\\
  %foreground {
    header[class*='component'] {
      z-index: 5;
      grid-area: 1/1/6/4;

      menu[class*='carousel'] {
        // z-index: 5;
        grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    nav[class='default-header'] {
      grid-area: 1/1/6/4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  %midground {
  }
  %background {
  }

  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    &[class*='fore'] {
      @extend %foreground;
    }
    &[class*='mid'] {
      @extend %midground;
    }
    &[class*='back'] {
      @extend %background;
    }
  }

  //--|🠋 Labels 🠋|--\\
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    h1 {
      // color: red;
      grid-area: 1 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Layers) 🠋|--//
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    width: 100%;
    overflow: hidden;
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-template: inherit;
    grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    h1 {
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
header[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid;
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid;
  }
}
