//--|🠊 DivisionElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-division/DefaultDivision.scss';

section[class*='division-main'] {
  div.division-main_container {
    aside[class*='division'] {
      width: 100vw;
      height: 100svh;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        &[class*='default'] {
          @include DefaultDivision.desktop-landscape;
        }
        &[class*='carousel'] {
        }
        &[class*='squaring'] {
        }
      }
      @media screen and (orientation: portrait) {
        &[class*='default'] {
          @include DefaultDivision.mobile-portrait;
        }
        &[class*='carousel'] {
        }
        &[class*='squaring'] {
        }
      }
    }
  }
}
