//--|🠊 Header.branding.scss 🠈|--//
@use '../../../design/Mixins.scss';
@use '../../../design/Palettes.scss';
@forward '../../../design/Mixins.scss';

@mixin desktop-landscape {
  /*
  header[class*='branding'] {
    z-index: 2;
    display: inherit; //--|🠊 display: grid; 🠈|--//
    grid-area: 1 / 1 / 2 / 6;
  }
  article[class*='selection'] {
    z-index: 1;
    grid-area: 3 / 3 / 4 / 4;
  }
  figure[class*='rotation'] {
    z-index: 0;
    grid-area: 1 / 1 / 6 / 6; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  }
  */
}
@mixin mobile-portrait {
}

header[class*='branding'] {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
