//--|🠊 Button_shadows.scss 🠈|--//
@use '../../../../../designs/Palettes.scss' as Palettes;
@mixin button-shadows {
  //--|🠉 display: flex; 🠉|--//
  //--|🠊 button[class*='cleaned'] 🠈|--//
  @extend %mono-shadows; //--|🠈 Monochrome 🠈|--//
}
%mono-shadows {
  //--|🠊 Monochrome 🠈|--//
  //--|🠊 display: flex; 🠈|--//
  %dar_mon {
    *[class*='_text'] {
      span {
        filter: drop-shadow(0 0 2px rgba(Palettes.$gray-light, 1));
      }
    }
    &[class*='_icon'] {
      filter: drop-shadow(0 0 4px rgba(white, 1));
    }
    *[class*='_back'] {
      box-shadow: none;
      //--|🠊 box-shadow: inset 0 0 8px rgba(black, 1); 🠈|--//
    }
  }
  %med-mon {
    *[class*='_text'] {
      span {
        filter: drop-shadow(0 0 4px rgba(white, 1));
      }
    }
    &[class*='_icon'] {
      filter: drop-shadow(0 0 4px rgba(Palettes.$gray-neon, 1));
    }
    *[class*='_back'] {
      box-shadow: none;
      //--|🠊 box-shadow: inset 0 0 8px rgba(Palettes.$gray-neon, 0.5); 🠈|--//
    }
  }
  %lig-mon {
    *[class*='_text'] {
      span {
        filter: drop-shadow(0 0 2px rgba(Palettes.$gray-dark, 1));
      }
    }
    &[class*='_icon'] {
      filter: drop-shadow(0 0 4px rgba(black, 1));
    }
    *[class*='_back'] {
      box-shadow: none;
      //--|🠊 box-shadow: inset 0 0 8px rgba(white, 1); 🠈|--//
    }
  }

  div[class*='_mon_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='dar_mon'] {
      @extend %dar_mon;
    }
    &[class*='med_mon'] {
      @extend %med-mon;
    }
    &[class*='lig_mon'] {
      @extend %lig-mon;
    }
  }
}
