//--|🠊 profile/pipeline/Button_layout.scss 🠈|--\\
//--|🠊 Layout: Grid and flex styles 🠈|--\\
@mixin desktop-layout {
  //--|🠋 Desktop (Layout) 🠋|--\\
  display: grid;
  .fore {
    z-index: 2;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
  }
  .icon {
    z-index: 1;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    img {
      width: 100%;
      height: 100%;
    }
  }
  .back {
    z-index: 0;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
  }

  &[class*='big_'] {
    $border: 8px;
    $radius: 32px;

    grid-template: //--|🠋 Width: 1080p 🠋|--\\
      1fr 180px 1fr //--|🠈 rows 🠈|--//
      / 1fr 180px 1fr; //--|🠈 columns 🠈|--\\

    .fore {
      border: $border solid;
      border-radius: $radius;
    }
    .icon {
      border-radius: $radius;
      img {
        border-radius: $radius;
      }
    }
    .back {
      border-radius: $radius;
    }
  }
  &[class*='sma_'] {
    $border: 6px;
    $radius: 24px;

    grid-template: //--|🠋 Width: 1080p 🠋|--\\
      1fr 90px 1fr //--|🠈 rows 🠈|--//
      / 1fr 90px 1fr; //--|🠈 columns 🠈|--//

    .fore {
      border: $border solid;
      border-radius: $radius;
    }
    .icon {
      border-radius: $radius;
      img {
        border-radius: $radius;
      }
    }
    .back {
      border-radius: $radius;
    }
  }

  @media screen and (max-height: 768px) {
    &[class*='big_'] {
      $border: 6px;
      $radius: 20px;

      grid-template: //--|🠋 Width: 1366p 🠋|--\\
        1fr 150px 1fr //--|🠈 rows 🠈|--//
        / 1fr 150px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 4px;
      $radius: 16px;

      grid-template: //--|🠋 Width: 1366p 🠋|--\\
        1fr 75px 1fr //--|🠈 rows 🠈|--//
        / 1fr 75px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
  @media screen and (max-height: 480px) {
    &[class*='big_'] {
      $border: 4px;
      $radius: 12px;

      grid-template: //--|🠋 Width: 854p 🠋|--\\
        1fr 100px 1fr //--|🠈 rows 🠈|--//
        / 1fr 100px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 3px;
      $radius: 10px;

      grid-template: //--|🠋 Width: 854p 🠋|--\\
        1fr 50px 1fr //--|🠈 rows 🠈|--//
        / 1fr 50px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
  @media screen and (max-height: 360px) {
    &[class*='big_'] {
      $border: 3px;
      $radius: 6px;

      grid-template: //--|🠋 Width: 640p 🠋|--\\
        1fr 50px 1fr //--|🠈 rows 🠈|--//
        / 1fr 50px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 2px;
      $radius: 4px;

      grid-template: //--|🠋 Width: 640p 🠋|--\\
        1fr 25px 1fr //--|🠈 rows 🠈|--//
        / 1fr 25px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
}
@mixin mobile-layout {
  //--|🠋 Mobile (Layout) 🠋|--\\
  display: grid;
  .fore {
    z-index: 2;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
  }
  .icon {
    z-index: 1;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    img {
      width: 100%;
      height: 100%;
    }
  }
  .back {
    z-index: 0;
    grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
  }

  &[class*='big_'] {
    $border: 8px;
    $radius: 32px;

    grid-template: //--|🠋 Width: 1080p 🠋|--\\
      1fr 180px 1fr //--|🠈 rows 🠈|--//
      / 1fr 180px 1fr; //--|🠈 columns 🠈|--\\

    .fore {
      border: $border solid;
      border-radius: $radius;
    }
    .icon {
      border-radius: $radius;
      img {
        border-radius: $radius;
      }
    }
    .back {
      border-radius: $radius;
    }
  }
  &[class*='sma_'] {
    $border: 6px;
    $radius: 24px;

    grid-template: //--|🠋 Width: 1080p 🠋|--\\
      1fr 90px 1fr //--|🠈 rows 🠈|--//
      / 1fr 90px 1fr; //--|🠈 columns 🠈|--//

    .fore {
      border: $border solid;
      border-radius: $radius;
    }
    .icon {
      border-radius: $radius;
      img {
        border-radius: $radius;
      }
    }
    .back {
      border-radius: $radius;
    }
  }

  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }

  @media screen and (max-width: 768px) {
    &[class*='big_'] {
      $border: 6px;
      $radius: 20px;

      grid-template: //--|🠋 Height: 1366p 🠋|--\\
        1fr 150px 1fr //--|🠈 rows 🠈|--//
        / 1fr 150px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 4px;
      $radius: 16px;

      grid-template: //--|🠋 Height: 1366p 🠋|--\\
        1fr 75px 1fr //--|🠈 rows 🠈|--//
        / 1fr 75px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
  @media screen and (max-width: 480px) {
    &[class*='big_'] {
      $border: 4px;
      $radius: 12px;

      grid-template: //--|🠋 Height: 854p 🠋|--\\
        1fr 100px 1fr //--|🠈 rows 🠈|--//
        / 1fr 100px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 3px;
      $radius: 10px;

      grid-template: //--|🠋 Height: 854p 🠋|--\\
        1fr 50px 1fr //--|🠈 rows 🠈|--//
        / 1fr 50px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
  @media screen and (max-width: 360px) {
    &[class*='big_'] {
      $border: 3px;
      $radius: 6px;

      grid-template: //--|🠋 Height: 640p 🠋|--\\
        1fr 50px 1fr //--|🠈 rows 🠈|--//
        / 1fr 50px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
    &[class*='sma_'] {
      $border: 2px;
      $radius: 4px;

      grid-template: //--|🠋 Height: 640p 🠋|--\\
        1fr 25px 1fr //--|🠈 rows 🠈|--//
        / 1fr 25px 1fr; //--|🠈 columns 🠈|--\\

      .fore {
        border: $border solid;
        border-radius: $radius;
      }
      .icon {
        border-radius: $radius;
        img {
          border-radius: $radius;
        }
      }
      .back {
        border-radius: $radius;
      }
    }
  }
}
