//--|🠊 profile/pipeline/Button_colors.scss 🠈|--\\
//--|🠊 Visuals: Colors, shadows & gradients 🠈|--\\

@mixin desktop-colors {
  //--|🠋 Desktop (Colors) 🠋|--\\
  background: none;
  &[class*='_dar_'] {
    .fore {
      border-color: black;
    }
    .back {
      background: rgba(black, 0.5);
    }
  }
  &[class*='_lig_'] {
    .fore {
      border-color: white;
    }
    .back {
      background: rgba(white, 0.5);
    }
  }
}
@mixin mobile-colors {
  //--|🠋 Mobile (Colors) 🠋|--\\
}
