//--|🠊 Menu.scroll.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠊 Desktop (Elements) 🠈|--\\
  ul[class='vert-X-scroll'] {
    %buttons-x-desktop {
    }
    li[class*='preview'] {
      @extend %buttons-x-desktop;
    }
    li[class*='showing'] {
      display: none;
    }
  }
  ol[class='vert-Y-scroll'] {
    height: 100%;
    %buttons-y-desktop {
      z-index: 1;
      display: grid;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\

      //--|🠊 Top 🠈|--\\
      &[class*='vertical-top'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Bottom 🠈|--\\
      &[class*='vertical-bot'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Middle 🠈|--\\
      &[class*='vertical-mid'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='vertical-def'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 1fr 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 1fr 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 1fr 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 1fr 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-y-desktop;
    }
    li[class*='showing'] {
      display: none;
    }
  }
}

@mixin mobile-portrait {
  //--|🠊 Mobile (Elements) 🠈|--\\
  ul[class='vert-X-scroll'] {
    width: 100%;
    %buttons-x-mobile {
      z-index: 1;
      display: grid;
      width: inherit; //--|🠈 width: 100%; 🠈|--\\
      grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\

      //--|🠊 Left 🠈|--\\
      &[class*='vertical-lef'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
      }

      //--|🠊 Right 🠈|--\\
      &[class*='vertical-rig'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }

      //--|🠊 Center 🠈|--\\
      &[class*='vertical-cen'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }

      //--|🠊 Default 🠈|--\\
      &[class*='vertical-def'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 1fr 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 1fr 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-x-mobile;
    }
    li[class*='showing'] {
      display: none;
    }
  }
  ol[class='vert-Y-scroll'] {
    %buttons-y-mobile {
    }
    li[class*='preview'] {
    }
    li[class*='showing'] {
      display: none;
    }
  }
}

menu[class*='scroll'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    ul[class='vert-X-scroll'] {
      height: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        height: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
    ol[class='vert-Y-scroll'] {
      width: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        width: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    ul[class='vert-X-scroll'] {
      height: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        height: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
    ol[class='vert-Y-scroll'] {
      width: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        width: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
  }
  *[class*='scroll'] {
    [class*='highlight'],
    [class*='downplay'] {
      transition:
        opacity 1500ms ease-in-out,
        filter 750ms ease-in-out;
      &[class*='highlight'] {
        opacity: 1;
        filter: blur(0px);
      }
      &[class*='downplay'] {
        opacity: 0;
        filter: blur(24px);
        * {
          cursor: default;
        }
      }
    }
  }
}

/*
    width: 100%;
    position: relative;
    //--|🠋 X-axis 🠋|--\\
    %flex-size-desk {
      height: 128px; //--|🠈 128px for Squares 🠈|--\\
      margin: 0 128px;
      @media screen and (max-height: 768px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
        margin: 0 96px;
      }
      @media screen and (max-height: 480px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
        margin: 0 64px;
      }
      @media screen and (max-height: 360px) {
        height: 48px; //--|🠈 48px for Squares 🠈|--\\
        margin: 0 48px;
      }
    }
    %flex-view-desk {
      transition: transform 500ms ease-in-out;
      &[class*='horizontal_I'] {
        transform: translateX(0);
      }
      &[class*='horizontal_II'] {
        transform: translateX(-100%);
      }
      &[class*='horizontal_III'] {
        transform: translateX(-200%);
      }
      &[class*='horizontal_IV'] {
        transform: translateX(-300%);
      }
      &[class*='horizontal_V'] {
        transform: translateX(-400%);
      }
      &[class*='horizontal_VI'] {
        transform: translateX(-500%);
      }
      &[class*='horizontal_VII'] {
        transform: translateX(-600%);
      }
      &[class*='horizontal_VIII'] {
        transform: translateX(-700%);
      }
      &[class*='horizontal_IX'] {
        transform: translateX(-800%);
      }
      &[class*='horizontal_X'] {
        transform: translateX(-900%);
      }
      &[class*='horizontal_XI'] {
        transform: translateX(-1000%);
      }
      &[class*='horizontal_XII'] {
        transform: translateX(-1100%);
      }
      &[class*='horizontal_XIII'] {
        transform: translateX(-1200%);
      }
      &[class*='horizontal_XIV'] {
        transform: translateX(-1300%);
      }
      &[class*='horizontal_XV'] {
        transform: translateX(-1400%);
      }
      &[class*='horizontal_XVI'] {
        transform: translateX(-1500%);
      }
      &[class*='horizontal_XVII'] {
        transform: translateX(-1600%);
      }
      &[class*='horizontal_XVIII'] {
        transform: translateX(-1700%);
      }
      &[class*='horizontal_XIX'] {
        transform: translateX(-1800%);
      }
      &[class*='horizontal_XX'] {
        transform: translateX(-1900%);
      }
    }
    %grid-size-desk {
      height: 128px; //--|🠈 128px for Squares 🠈|--\\
      grid-template: 128px //--|🠈 rows 🠈|--//
        / 128px 1fr 128px; //--|🠈 columns 🠈|--\\
      @media screen and (max-height: 768px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
        grid-template: 96px //--|🠈 rows 🠈|--//
          / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
        grid-template: 64px //--|🠈 rows 🠈|--//
          / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        height: 48px; //--|🠈 48px for Squares 🠈|--\\
        grid-template: 48px //--|🠈 rows 🠈|--//
          / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
      }
    }
    li[class*='preview'] {
      z-index: 1;
      display: grid;
      @extend %grid-size-desk;
      div[class*='view'] {
        z-index: 1;
        &[class*='prev'] {
          grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        &[class*='next'] {
          grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
    }
    li[class*='showing'] {
      z-index: 0;
      display: flex;
      @extend %flex-size-desk;
      @extend %flex-view-desk;
      aside {
        z-index: 0;
        flex: 0 0 100%;
        display: inherit; //--|🠈 display: flex 🠈|--\\
        align-items: center;
        justify-content: center;
        h3 {
          span {
            b {
              font-weight: 800;
            }
            i {
              font-weight: 400;
            }
          }
        }
      }
    }
    li[class*='horizontal'] {
      inset: 0;
      position: absolute;
    }
    */
