//--|🠊 Menu.scroll.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠊 Desktop (Elements) 🠈|--\\
  ol[class='vert-Y-scroll'] {
    height: 100%;
    overflow: hidden;
    %buttons-y-desktop {
      z-index: 1;
      display: grid;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\

      //--|🠊 Top 🠈|--\\
      &[class*='vertical-top'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Bottom 🠈|--\\
      &[class*='vertical-bot'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Middle 🠈|--\\
      &[class*='vertical-mid'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 1fr 128px 128px 1fr //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 1fr 96px 96px 1fr //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 1fr 64px 64px 1fr //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 1fr 48px 48px 1fr //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='vertical-def'] {
        //--|🠊 128px for Squares 🠈|--\\
        grid-template: 128px 1fr 128px //--|🠈 rows 🠈|--//
          / 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px 1fr 96px //--|🠈 rows 🠈|--//
            / 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px 1fr 64px //--|🠈 rows 🠈|--//
            / 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠊 48px for Squares 🠈|--\\
          grid-template: 48px 1fr 48px //--|🠈 rows 🠈|--//
            / 48px; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
        }
        .next-view {
          grid-row: 3 / 4; //--|🠈 row-start / row-end 🠈|--\\
        }
      }
    }
    %titles-y-desktop {
      z-index: 0;
      height: inherit; //--|🠈 height: 100%; 🠈|--\\
      aside {
        display: flex;
        height: inherit; //--|🠈 height: 100%; 🠈|--\\
        align-items: center;
        justify-content: center;
        h3 {
          display: none;
        }

        width: 128px; //--|🠈 128px for Squares 🠈|--\\
        @media screen and (max-height: 768px) {
          width: 96px; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          width: 64px; //--|🠈 64px for Squares 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          width: 48px; //--|🠈 48px for Squares 🠈|--\\
        }
      }
    }
    li[class*='preview'] {
      @extend %buttons-y-desktop;
    }
    li[class*='showing'] {
      @extend %titles-y-desktop;
      @include desktop-y-showing();
    }
  }
  //--| Todo |--\\
  ul[class='vert-X-scroll'] {
    %buttons-x-desktop {
    }
    li[class*='preview'] {
      @extend %buttons-x-desktop;
    }
    li[class*='showing'] {
      display: none;
    }
  }
}
@mixin desktop-y-showing {
  &[class*='vertical_I'] {
    transform: translateY(calc(-100% * 0));
  }
  &[class*='vertical_II'] {
    transform: translateY(calc(-100% * 1));
  }
  &[class*='vertical_III'] {
    transform: translateY(calc(-100% * 2));
  }
  &[class*='vertical_IV'] {
    transform: translateY(calc(-100% * 3));
  }
  &[class*='vertical_V'] {
    transform: translateY(calc(-100% * 4));
  }
  &[class*='vertical_VI'] {
    transform: translateY(calc(-100% * 5));
  }
  &[class*='vertical_VII'] {
    transform: translateY(calc(-100% * 6));
  }
  &[class*='vertical_VIII'] {
    transform: translateY(calc(-100% * 7));
  }
  &[class*='vertical_IX'] {
    transform: translateY(calc(-100% * 8));
  }
  &[class*='vertical_X'] {
    transform: translateY(calc(-100% * 9));
  }
  &[class*='vertical_XI'] {
    transform: translateY(calc(-100% * 10));
  }
  &[class*='vertical_XII'] {
    transform: translateY(calc(-100% * 11));
  }
  &[class*='vertical_XIII'] {
    transform: translateY(calc(-100% * 12));
  }
  &[class*='vertical_XIV'] {
    transform: translateY(calc(-100% * 13));
  }
  &[class*='vertical_XV'] {
    transform: translateY(calc(-100% * 14));
  }
  &[class*='vertical_XVI'] {
    transform: translateY(calc(-100% * 15));
  }
  &[class*='vertical_XVII'] {
    transform: translateY(calc(-100% * 16));
  }
  &[class*='vertical_XVIII'] {
    transform: translateY(calc(-100% * 17));
  }
  &[class*='vertical_XIX'] {
    transform: translateY(calc(-100% * 18));
  }
  &[class*='vertical_XX'] {
    transform: translateY(calc(-100% * 19));
  }
}

@mixin mobile-portrait {
  //--|🠊 Mobile (Elements) 🠈|--\\
  ul[class='vert-X-scroll'] {
    width: 100%;
    overflow: hidden;
    %buttons-x-mobile {
      z-index: 1;
      display: grid;
      width: inherit; //--|🠈 width: 100%; 🠈|--\\
      grid-row: 1 / 2; //--|🠈 row-start / row-end 🠈|--\\
      //--|🠊 Left 🠈|--\\
      &[class*='vertical-lef'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }
        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Right 🠈|--\\
      &[class*='vertical-rig'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Center 🠈|--\\
      &[class*='vertical-cen'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 1fr 192px 192px 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 1fr 160px 160px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 1fr 96px 96px 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 1fr 64px 64px 1fr; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
      //--|🠊 Default 🠈|--\\
      &[class*='vertical-def'] {
        //--|🠊 192px for Squares 🠈|--\\
        grid-template: 192px //--|🠈 rows 🠈|--//
          / 192px 1fr 192px; //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠊 160px for Squares 🠈|--\\
          grid-template: 160px //--|🠈 rows 🠈|--//
            / 160px 1fr 160px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠊 96px for Squares 🠈|--\\
          grid-template: 96px //--|🠈 rows 🠈|--//
            / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠊 64px for Squares 🠈|--\\
          grid-template: 64px //--|🠈 rows 🠈|--//
            / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }

        .prev-view {
          grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
        }
        .next-view {
          grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
        }
      }
    }
    %titles-x-mobile {
      z-index: 0;
      aside {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 192px; //--|🠈 192px for Squares 🠈|--\\
        @media screen and (max-width: 768px) {
          height: 160px; //--|🠈 160px for Squares 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          height: 96px; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          height: 64px; //--|🠈 64px for Squares 🠈|--\\
        }
      }
    }

    li[class*='preview'] {
      @extend %buttons-x-mobile;
    }
    li[class*='showing'] {
      @extend %titles-x-mobile;
      @include mobile-x-showing();
    }
  }

  //--| Todo |--\\
  ol[class='vert-Y-scroll'] {
    %buttons-y-mobile {
    }
    li[class*='preview'] {
    }
    li[class*='showing'] {
      display: none;
    }
  }
}
@mixin mobile-x-showing {
  & {
    &[class*='vertical_I'] {
      transform: translateY(calc(-192px * 0));
    }
    &[class*='vertical_II'] {
      transform: translateY(calc(-192px * 1));
    }
    &[class*='vertical_III'] {
      transform: translateY(calc(-192px * 2));
    }
    &[class*='vertical_IV'] {
      transform: translateY(calc(-192px * 3));
    }
    &[class*='vertical_V'] {
      transform: translateY(calc(-192px * 4));
    }
    &[class*='vertical_VI'] {
      transform: translateY(calc(-192px * 5));
    }
    &[class*='vertical_VII'] {
      transform: translateY(calc(-192px * 6));
    }
    &[class*='vertical_VIII'] {
      transform: translateY(calc(-192px * 7));
    }
    &[class*='vertical_IX'] {
      transform: translateY(calc(-192px * 8));
    }
    &[class*='vertical_X'] {
      transform: translateY(calc(-192px * 9));
    }
    &[class*='vertical_XI'] {
      transform: translateY(calc(-192px * 10));
    }
    &[class*='vertical_XII'] {
      transform: translateY(calc(-192px * 11));
    }
    &[class*='vertical_XIII'] {
      transform: translateY(calc(-192px * 12));
    }
    &[class*='vertical_XIV'] {
      transform: translateY(calc(-192px * 13));
    }
    &[class*='vertical_XV'] {
      transform: translateY(calc(-192px * 14));
    }
    &[class*='vertical_XVI'] {
      transform: translateY(calc(-192px * 15));
    }
    &[class*='vertical_XVII'] {
      transform: translateY(calc(-192px * 16));
    }
    &[class*='vertical_XVIII'] {
      transform: translateY(calc(-192px * 17));
    }
    &[class*='vertical_XIX'] {
      transform: translateY(calc(-192px * 18));
    }
    &[class*='vertical_XX'] {
      transform: translateY(calc(-192px * 19));
    }
  }
  @media screen and (max-width: 768px) {
    &[class*='vertical_I'] {
      transform: translateY(calc(-160px * 0));
    }
    &[class*='vertical_II'] {
      transform: translateY(calc(-160px * 1));
    }
    &[class*='vertical_III'] {
      transform: translateY(calc(-160px * 2));
    }
    &[class*='vertical_IV'] {
      transform: translateY(calc(-160px * 3));
    }
    &[class*='vertical_V'] {
      transform: translateY(calc(-160px * 4));
    }
    &[class*='vertical_VI'] {
      transform: translateY(calc(-160px * 5));
    }
    &[class*='vertical_VII'] {
      transform: translateY(calc(-160px * 6));
    }
    &[class*='vertical_VIII'] {
      transform: translateY(calc(-160px * 7));
    }
    &[class*='vertical_IX'] {
      transform: translateY(calc(-160px * 8));
    }
    &[class*='vertical_X'] {
      transform: translateY(calc(-160px * 9));
    }
    &[class*='vertical_XI'] {
      transform: translateY(calc(-160px * 10));
    }
    &[class*='vertical_XII'] {
      transform: translateY(calc(-160px * 11));
    }
    &[class*='vertical_XIII'] {
      transform: translateY(calc(-160px * 12));
    }
    &[class*='vertical_XIV'] {
      transform: translateY(calc(-160px * 13));
    }
    &[class*='vertical_XV'] {
      transform: translateY(calc(-160px * 14));
    }
    &[class*='vertical_XVI'] {
      transform: translateY(calc(-160px * 15));
    }
    &[class*='vertical_XVII'] {
      transform: translateY(calc(-160px * 16));
    }
    &[class*='vertical_XVIII'] {
      transform: translateY(calc(-160px * 17));
    }
    &[class*='vertical_XIX'] {
      transform: translateY(calc(-160px * 18));
    }
    &[class*='vertical_XX'] {
      transform: translateY(calc(-160px * 19));
    }
  }
  @media screen and (max-width: 480px) {
    &[class*='vertical_I'] {
      transform: translateY(calc(-96px * 0));
    }
    &[class*='vertical_II'] {
      transform: translateY(calc(-96px * 1));
    }
    &[class*='vertical_III'] {
      transform: translateY(calc(-96px * 2));
    }
    &[class*='vertical_IV'] {
      transform: translateY(calc(-96px * 3));
    }
    &[class*='vertical_V'] {
      transform: translateY(calc(-96px * 4));
    }
    &[class*='vertical_VI'] {
      transform: translateY(calc(-96px * 5));
    }
    &[class*='vertical_VII'] {
      transform: translateY(calc(-96px * 6));
    }
    &[class*='vertical_VIII'] {
      transform: translateY(calc(-96px * 7));
    }
    &[class*='vertical_IX'] {
      transform: translateY(calc(-96px * 8));
    }
    &[class*='vertical_X'] {
      transform: translateY(calc(-96px * 9));
    }
    &[class*='vertical_XI'] {
      transform: translateY(calc(-96px * 10));
    }
    &[class*='vertical_XII'] {
      transform: translateY(calc(-96px * 11));
    }
    &[class*='vertical_XIII'] {
      transform: translateY(calc(-96px * 12));
    }
    &[class*='vertical_XIV'] {
      transform: translateY(calc(-96px * 13));
    }
    &[class*='vertical_XV'] {
      transform: translateY(calc(-96px * 14));
    }
    &[class*='vertical_XVI'] {
      transform: translateY(calc(-96px * 15));
    }
    &[class*='vertical_XVII'] {
      transform: translateY(calc(-96px * 16));
    }
    &[class*='vertical_XVIII'] {
      transform: translateY(calc(-96px * 17));
    }
    &[class*='vertical_XIX'] {
      transform: translateY(calc(-96px * 18));
    }
    &[class*='vertical_XX'] {
      transform: translateY(calc(-96px * 19));
    }
  }
  @media screen and (max-width: 360px) {
    &[class*='vertical_I'] {
      transform: translateY(calc(-64px * 0));
    }
    &[class*='vertical_II'] {
      transform: translateY(calc(-64px * 1));
    }
    &[class*='vertical_III'] {
      transform: translateY(calc(-64px * 2));
    }
    &[class*='vertical_IV'] {
      transform: translateY(calc(-64px * 3));
    }
    &[class*='vertical_V'] {
      transform: translateY(calc(-64px * 4));
    }
    &[class*='vertical_VI'] {
      transform: translateY(calc(-64px * 5));
    }
    &[class*='vertical_VII'] {
      transform: translateY(calc(-64px * 6));
    }
    &[class*='vertical_VIII'] {
      transform: translateY(calc(-64px * 7));
    }
    &[class*='vertical_IX'] {
      transform: translateY(calc(-64px * 8));
    }
    &[class*='vertical_X'] {
      transform: translateY(calc(-64px * 9));
    }
    &[class*='vertical_XI'] {
      transform: translateY(calc(-64px * 10));
    }
    &[class*='vertical_XII'] {
      transform: translateY(calc(-64px * 11));
    }
    &[class*='vertical_XIII'] {
      transform: translateY(calc(-64px * 12));
    }
    &[class*='vertical_XIV'] {
      transform: translateY(calc(-64px * 13));
    }
    &[class*='vertical_XV'] {
      transform: translateY(calc(-64px * 14));
    }
    &[class*='vertical_XVI'] {
      transform: translateY(calc(-64px * 15));
    }
    &[class*='vertical_XVII'] {
      transform: translateY(calc(-64px * 16));
    }
    &[class*='vertical_XVIII'] {
      transform: translateY(calc(-64px * 17));
    }
    &[class*='vertical_XIX'] {
      transform: translateY(calc(-64px * 18));
    }
    &[class*='vertical_XX'] {
      transform: translateY(calc(-64px * 19));
    }
  }
}

menu[class*='scroll'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    ul[class='vert-X-scroll'] {
      height: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        height: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
    ol[class='vert-Y-scroll'] {
      width: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        width: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    ul[class='vert-X-scroll'] {
      height: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        height: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        height: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        height: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
    ol[class='vert-Y-scroll'] {
      width: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        width: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        width: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        width: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
  }
  *[class*='scroll'] {
    [class*='highlight'],
    [class*='downplay'] {
      transition:
        opacity 1500ms ease-in-out,
        filter 750ms ease-in-out;
      &[class*='highlight'] {
        opacity: 1;
        filter: blur(0px);
      }
      &[class*='downplay'] {
        opacity: 0;
        filter: blur(24px);
        * {
          cursor: default;
        }
      }
    }
  }
  //--|🠊 Superimpose Positioning 🠈|--\\
  ul[class='vert-X-scroll'],
  ol[class='vert-Y-scroll'] {
    position: relative;
    li[class*='preview'],
    li[class*='showing'] {
      position: absolute;
    }
  }
}
