//--|🠊 Division.loading.scss 🠈|--//
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';
@forward '../../../designs/Mixins.scss';

@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
  align-items: center;
  justify-content: center;
  img {
    width: auto;
    height: 100%;
  }
}
@mixin mobile-portrait {
}

div[class*='loading'] {
  display: flex;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
