/*
@import '../../backup-colors.scss';
@import '../../../pages/select-colors.scss';

button[class*='icon'] {
  background: none;
  filter: drop-shadow(0 0 4px rgba(black, 0.25));
  img {
    height: 75%;
    cursor: pointer;
    // transition: filter(drop-shadow) 0.25s ease-in-out;
  }

  &:hover {
    filter: drop-shadow(0 0 4px rgba(white, 0.25));
  }
  &[class*='active'] {
    filter: drop-shadow(0 0 4px rgba(white, 0.25));
  }
  //~~|🠊 border: 4px dashed $red-neon; 🠈|~~//
  //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
}
*/
