//--|🠊 Button.routing.scss 🠈|--//
@use 'sass:color';
@use '../../../designs/Palettes.scss' as Palettes;

@use './pipeline/Button_grid.scss';
@use './pipeline/Button_flex.scss';
@use './pipeline/Button_size.scss';
@use './pipeline/Button_tint.scss';
@use './pipeline/Button_move.scss';
@use './pipeline/Button_corn.scss';

button[class*='routing'],
button[class*='counter'] {
  @extend %button-grid;
  @extend %button-flex;
  @extend %button-user;
  @extend %button-move;

  //--|🠋 Desktop (Landscape) 🠋|--\\
  @media screen and (orientation: landscape) {
    @include Button_size.desktop-size();
    @include Button_corn.desktop-corn();
    @include Button_tint.desktop-tint();
    @include Button_grid.desktop-grid();
    /*
    @include Button_flex.desktop-flex();
    @include Button_move.desktop-move();
    */
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    /*
    @include Button_size.mobile-size();
    @include Button_grid.mobile-grid();
    @include Button_flex.mobile-flex();
    @include Button_tint.mobile-tint();
    @include Button_move.mobile-move();
    @include Button_corn.mobile-corn();
    */
  }

  // @extend %button-test;
}
%button-grid {
  display: grid;

  .fore,
  .mid,
  .back {
    display: inherit;
    overflow: hidden;
    grid-area: 1 / 1 / 4 / 4;
    span {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}
%button-test {
  .fore {
    background: rgba(Palettes.$red-medium, 0.25);
  }
  .mid {
    background: rgba(Palettes.$green-medium, 0.25);
  }
  .back {
    background: rgba(Palettes.$blue-medium, 0.25);
  }
}
%button-user {
  div[class*='fore'] {
    z-index: 2;
    cursor: pointer;
  }
  div[class*='mid'] {
    z-index: 1;
  }
  div[class*='back'] {
    z-index: 0;
  }
}
%button-flex {
  .text {
  }
  .mid {
    width: 100%;
    height: 100%;
  }
  .back {
  }
}
%button-move {
}
