//--|🠊 RoutingButtons.scss 🠈|--\\
@use '../../../../../../designs/Mixins.scss';
@use '../../../../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 <aside className="routing-button"> 🠈|--\\
  section[class*='foreground'] {
    display: grid;
    $high-desk: 128px; //--|🠈 128px for Squares 🠈|--\\
    $test-desk: 96px; //--|🠈 96px for Squares 🠈|--\\
    $misc-desk: 64px; //--|🠈 64px for Squares 🠈|--\\
    $tiny-desk: 48px; //--|🠈 48px for Squares 🠈|--\\

    div[class*='colors'] {
      z-index: 2;
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      grid-area: 2 / 3 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      grid-template: repeat(3, 1fr) / 1fr; //--|🠈 rows / cols 🠈|--\\
      label:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      label:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      label:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }

      margin: $high-desk 0; //--|🠈 96px (Left & Right) for Design 🠈|--\\
      @media screen and (max-height: 768px) {
        margin: $test-desk 0; //--|🠈 64px (Left & Right) for Design 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        margin: $misc-desk 0; //--|🠈 48px (Left & Right) for Design 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        margin: $tiny-desk 0; //--|🠈 32px (Left & Right) for Design 🠈|--\\
      }
    }
    div[class*='carousel'] {
      z-index: 0;

      div[class*='container'] {
        display: list-item;
        section[class*='one'] {
          background: rgba(darkgreen, 0.25);

          $high-one: 128px;
          $test-one: 96px;
          $misc-one: 64px;
          $tiny-one: 48px;

          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            1fr repeat(3, $high-one) 1fr //--|🠈 rows 🠈|--//
            / 1fr repeat(3, $high-one) 1fr; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              1fr repeat(3, $test-one) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $test-one) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              1fr repeat(3, $misc-one) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $misc-one) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              1fr repeat(3, $tiny-one) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $tiny-one) 1fr; //--|🠈 columns 🠈|--\\
          }
        }
        section[class*='fou'] {
          background: rgba(darkblue, 0.25);

          $high-fou: 84px;
          $test-fou: 64px;
          $misc-fou: 42px;
          $tiny-fou: 32px;

          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            1fr repeat(3, $high-fou) 1fr //--|🠈 rows 🠈|--//
            / 1fr repeat(3, $high-fou) 1fr; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              1fr repeat(3, $test-fou) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $test-fou) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              1fr repeat(3, $misc-fou) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $misc-fou) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              1fr repeat(3, $tiny-fou) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $tiny-fou) 1fr; //--|🠈 columns 🠈|--\\
          }
        }
        section[class*='par'] {
          background: rgba(darkred, 0.25);

          $high-par: 64px;
          $test-par: 48px;
          $misc-par: 32px;
          $tiny-par: 24px;

          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            1fr repeat(3, $high-par) 1fr //--|🠈 rows 🠈|--//
            / 1fr repeat(3, $high-par) 1fr; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              1fr repeat(3, $test-par) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $test-par) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              1fr repeat(3, $misc-par) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $misc-par) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              1fr repeat(3, $tiny-par) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, $tiny-par) 1fr; //--|🠈 columns 🠈|--\\
          }
        }
        section[class*='routing'] {
          display: grid;
        }
      }
      //--|===|--\\
      &[class*='darkside'] {
        //--|🠊 background: black; 🠈|--\\
        grid-area: 1 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &[class*='lightside'] {
        //--|🠊 background: white; 🠈|--\\
        grid-area: 1 / 5 / 6 / 7; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    menu[class*='routing'] {
      z-index: 1;
      &[class*='darkside'] {
        grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &[class*='lightside'] {
        grid-area: 2 / 4 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }

    //--|🠋 96px (Left & Right) for Design 🠋|--\\
    grid-template: //--|🠋 Width: 1920px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 48px 1fr repeat(2, $high-desk) 1fr 48px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 64px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 1366px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr repeat(2, $test-desk) 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 48px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 854px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr repeat(2, $misc-desk) 1fr 24px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 32px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 640px 🠋|--\\
        repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
        / 16px 1fr repeat(2, $tiny-desk) 1fr 16px; //--|🠈 columns 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
  }
  @include Mixins.layering-position;
  /*
  //--|🠊 <aside className="routing-button"> 🠈|--\\
  %mark-area {
    div {
      &[class*='routing'] {
        &[class*='darkside'] {
          grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        section[class*='routing'] {
          button[class*='_tl_'] {
            grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_tc_'] {
            grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_tr_'] {
            grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_ml_'] {
            grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_mc_'] {
            grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_mr_'] {
            grid-area: 3 / 4 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_bl_'] {
            grid-area: 4 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_bc_'] {
            grid-area: 4 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_br_'] {
            grid-area: 4 / 4 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
        }
        &[class*='lightside'] {
          grid-area: 2 / 4 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
      &[class*='toggle'] {
        grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\

      }
    }
  }
  %mark-disp {
    display: grid;
    div[class*='routing'] {
      &[class*='container'] {
        section[class*='routing-main'] {
          display: grid;
          height: inherit; //--|🠈 height: 100%; 🠈|--\\
        }
      }
      &[class*='side-main'] {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    div[class*='toggle'] {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
    }
  }

  section[class*='foreground'] {
    @extend %mark-area;
    @extend %mark-disp;
    //--|🠋 96px (Left & Right) for Design 🠋|--\\
    grid-template: //--|🠋 Width: 1920px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 48px 1fr 16rem 1fr 48px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 64px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 1366px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr 12rem 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 48px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 854px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr 8rem 1fr 24px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 32px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 640px 🠋|--\\
        repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
        / 16px 1fr 6rem 1fr 16px; //--|🠈 columns 🠈|--\\
    }
    div {
      //--|🠊 display: grid; 🠈|--\\
      &[class*='container'] {
        //--|🠊 display: flex; 🠈|--\\
        section[class*='routing-main'] {
          //--|🠊 display: grid; 🠈|--\\
          grid-gap: 32px;
          //--|🠋 96px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            1fr repeat(3, 128px) 1fr //--|🠈 rows 🠈|--//
            / 1fr repeat(3, 128px) 1fr; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            grid-gap: 16px;
            //--|🠋 64px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              1fr repeat(3, 96px) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, 96px) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            grid-gap: 8px;
            //--|🠋 48px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              1fr repeat(3, 64px) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, 64px) 1fr; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            grid-gap: 4px;
            //--|🠋 32px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              1fr repeat(3, 48px) 1fr //--|🠈 rows 🠈|--//
              / 1fr repeat(3, 48px) 1fr; //--|🠈 columns 🠈|--\\
          }
        }
      }
      &[class*='toggle'] {

      }
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    display: grid;
    grid-row: 1 / 2;
    section[class*='side'] {
      &.left-side {
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        background: Palettes.$indexLand-darkMode;
        filter: drop-shadow(1rem 0px 1rem rgba(white, 0.25));
      }
      &.right-side {
        grid-area: 2 / 8 / 3 / 9; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        background: Palettes.$indexLand-lightMode;
        filter: drop-shadow(-1rem 0px 1rem rgba(black, 0.25));
      }
    }

    grid-template: 1fr 512px 1fr/ 48px 1fr 512px 1fr repeat(2, 128px) 1fr 512px 1fr 48px; //--|🠈 Width: 1920px 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template: 1fr 352px 1fr / 32px 1fr 352px 1fr repeat(2, 96px) 1fr 352px 1fr 32px; //--|🠈 Width: 1366px 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template: 1fr 224px 1fr / 24px 1fr 224px 1fr repeat(2, 64px) 1fr 224px 1fr 24px; //--|🠈 Width: 854px 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template: 1fr 160px 1fr / 16px 1fr 160px 1fr repeat(2, 48px) 1fr 160px 1fr 16px; //--|🠈 Width: 640px 🠈|--\\
    }
  }

  @include Mixins.layering-position;
  */
}
@mixin mobile-portrait {
  //--|🠊 <aside className="routing-button"> 🠈|--\\
  section[class*='foreground'] {
    @extend %mark-area-mobi;
    @extend %mark-disp-mobi;
    div {
      //--|🠊 display: grid; 🠈|--\\
      &[class*='container'] {
        //--|🠊 display: flex; 🠈|--\\
        section[class*='routing-main'] {
          //--|🠊 display: grid; 🠈|--\\
          $high-one: 192px;
          $test-one: 160px;
          $misc-one: 96px;
          $tiny-one: 64px;

          $high-fou: 128px;
          $test-fou: 106px;
          $misc-fou: 64px;
          $tiny-fou: 42px;

          $high-par: 96px;
          $test-par: 80px;
          $misc-par: 48px;
          $tiny-par: 32px;
          &[class*='dark'] {
            &[class*='one'] {
              background: rgba(darkgreen, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem repeat(3, $high-one) 1fr 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-one) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem repeat(3, $test-one) 1fr 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-one) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem repeat(3, $misc-one) 1fr 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-one) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem repeat(3, $tiny-one) 1fr 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-one) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
            &[class*='fou'] {
              background: rgba(darkblue, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem repeat(3, $high-fou) 1fr 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-fou) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem repeat(3, $test-fou) 1fr 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-fou) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem repeat(3, $misc-fou) 1fr 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-fou) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem repeat(3, $tiny-fou) 1fr 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-fou) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
            &[class*='par'] {
              background: rgba(darkred, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem repeat(3, $high-par) 1fr 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-par) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem repeat(3, $test-par) 1fr 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-par) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem repeat(3, $misc-par) 1fr 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-par) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem repeat(3, $tiny-par) 1fr 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-par) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
          }
          &[class*='light'] {
            &[class*='one'] {
              background: rgba(green, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem 1fr repeat(3, $high-one) 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-one) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem 1fr repeat(3, $test-one) 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-one) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem 1fr repeat(3, $misc-one) 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-one) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem 1fr repeat(3, $tiny-one) 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-one) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
            &[class*='fou'] {
              background: rgba(darkblue, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem 1fr repeat(3, $high-fou) 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-fou) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem 1fr repeat(3, $test-fou) 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-fou) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem 1fr repeat(3, $misc-fou) 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-fou) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem 1fr repeat(3, $tiny-fou) 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-fou) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
            &[class*='par'] {
              background: rgba(darkred, 0.25);

              grid-gap: 16px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
              grid-template: //--|🠋 Height: 1920px 🠋|--\\
                12rem 1fr repeat(3, $high-par) 12rem //--|🠈 rows 🠈|--//
                / 64px 1fr repeat(3, $high-par) 1fr 64px; //--|🠈 columns 🠈|--\\
              @media screen and (max-width: 768px) {
                grid-gap: 12px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 1366px 🠋|--\\
                  10rem 1fr repeat(3, $test-par) 10rem //--|🠈 rows 🠈|--//
                  / 48px 1fr repeat(3, $test-par) 1fr 48px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 480px) {
                grid-gap: 6px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 854px 🠋|--\\
                  6rem 1fr repeat(3, $misc-par) 6rem //--|🠈 rows 🠈|--//
                  / 32px 1fr repeat(3, $misc-par) 1fr 32px; //--|🠈 columns 🠈|--\\
              }
              @media screen and (max-width: 360px) {
                grid-gap: 4px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
                grid-template: //--|🠋 Height: 640px 🠋|--\\
                  4rem 1fr repeat(3, $tiny-par) 4rem //--|🠈 rows 🠈|--//
                  / 24px 1fr repeat(3, $tiny-par) 1fr 24px; //--|🠈 columns 🠈|--\\
              }
            }
          }
        }
      }
      &[class*='toggle'] {
        //--|🠋 96px (Left & Right) for Design 🠋|--\\
        grid-template: //--|🠋 Width: 1920px 🠋|--\\
          12rem //--|🠈 rows 🠈|--//
          / repeat(3, 1fr); //--|🠈 columns 🠈|--\\
        @media screen and (max-width: 768px) {
          //--|🠋 64px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1366px 🠋|--\\
            10rem //--|🠈 rows 🠈|--//
            / repeat(3, 1fr); //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          //--|🠋 48px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 854px 🠋|--\\
            6rem //--|🠈 rows 🠈|--//
            / repeat(3, 1fr); //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          //--|🠋 32px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 640px 🠋|--\\
            4rem //--|🠈 rows 🠈|--//
            / repeat(3, 1fr); //--|🠈 columns 🠈|--\\
        }
      }
    }

    //--|🠊 64px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 1920px 🠋|--\\
      repeat(2, 6rem) 1fr 12rem 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
      / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
    menu {
      padding: 0 128px;
    }
    @media screen and (max-width: 768px) {
      //--|🠊 48px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 1366px 🠋|--\\
        repeat(2, 5rem) 1fr 10rem 1fr repeat(2, 5rem) //--|🠈 rows 🠈|--//
        / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
      menu {
        padding: 0 112px;
      }
    }
    @media screen and (max-width: 480px) {
      //--|🠊 32px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 854px 🠋|--\\
        repeat(2, 3rem) 1fr 6rem 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
      menu {
        padding: 0 64px;
      }
    }
    @media screen and (max-width: 360px) {
      //--|🠊 24px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 640px 🠋|--\\
        repeat(2, 2rem) 1fr 4rem 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
      menu {
        padding: 0 40px;
      }
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    /*
    display: grid;
    grid-row: 1 / 2; //--|🠈 row-start row-end 🠈|--\\
    grid-template-rows: 1fr;

    .left-side {
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-darkMode;
      filter: drop-shadow(1rem 0px 1rem rgba(white, 0.25));
    }
    .right-side {
      grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-lightMode;
      filter: drop-shadow(-1rem 0px 1rem rgba(black, 0.25));
    }
    grid-template-columns: 1fr 256px 1fr; //--|🠈 Width: 1920px 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template-columns: 1fr 192px 1fr; //--|🠈 Width: 1366px 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template-columns: 1fr 128px 1fr; //--|🠈 Width: 854px 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template-columns: 1fr 96px 1fr; //--|🠈 Width: 640px 🠈|--\\
    }
    */
  }
  //--|===|--\\
  %mark-area-mobi {
    menu {
      z-index: 2;
      &[class*='darkside'] {
        grid-area: 1 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &[class*='lightside'] {
        grid-area: 6 / 2 / 8 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    div[class*='toggle'] {
      z-index: 1;
      grid-area: 4 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      label:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      label:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      label:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    div[class*='carousel'] {
      z-index: 0;
      overflow: hidden;
      grid-area: 1 / 1 / 8 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      &[class*='darkside'] {
        //--|🠊 background: rgba(black, 0.25); 🠈|--\\
        clip-path: inset(0 0 50% 0); //--|🠈 top / right / bottom / left 🠈|--\\
        /*
        button[class*='_top_'] {
          grid-area: 3 / 2 / 8 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_bot_'] {
          grid-area: 8 / 2 / 13 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_lef_'] {
          grid-area: 3 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_rig_'] {
          grid-area: 5 / 3 / 7 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_cen_'] {
          grid-area: 7 / 3 / 9 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_tex_'] {
          grid-area: 9 / 3 / 11 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_ico_'] {
          grid-area: 11 / 3 / 13 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        */
      }
      &[class*='lightside'] {
        //--|🠊 background: rgba(white, 0.25); 🠈|--\\
        clip-path: inset(50% 0 0 0); //--|🠈 top / right / bottom / left 🠈|--\\
        /*
        button[class*='_top_'] {
          grid-area: 5 / 2 / 10 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_bot_'] {
          grid-area: 10 / 2 / 15 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_lef_'] {
          grid-area: 5 / 3 / 7 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_rig_'] {
          grid-area: 7 / 3 / 9 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_cen_'] {
          grid-area: 9 / 3 / 11 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_tex_'] {
          grid-area: 11 / 3 / 13 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        button[class*='_ico_'] {
          grid-area: 13 / 3 / 15 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        */
      }
    }
  }
  %mark-disp-mobi {
    display: grid;
    div[class*='routing'] {
      //--|🠊 display: flex; 🠈|--\\
      &[class*='side-main'] {
        flex-direction: column;
      }
      &[class*='container'] {
        section[class*='routing-main'] {
          display: grid;
          height: 100svh;
        }
      }
    }
    div[class*='toggle'] {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
    }
  }
  @include Mixins.layering-position;
  /*
    aside[class*='routing'] {
    height: inherit; //--|🠈 height: 100%; 🠈|--\\

    //--|🠋 Mobile (Layers) 🠋|--\\
    section[class*='foreground'] {
    }
    figure[class*='midground'] {
    }
    div[class*='background'] {
    }

    @include Mixins.portrait-grid;
  }
  @include Mixins.layering-position;
  */
}
