//--|🠊 Division.selection.scss 🠈|--//
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';
@forward '../../../designs/Mixins.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 4rem 1fr 40rem 1fr 4rem / 6rem 1fr 25rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//

  header[class*='branding'] {
    z-index: 2;
    display: inherit; //--|🠊 display: grid; 🠈|--//
    grid-area: 1 / 1 / 2 / 6;
  }
  article[class*='selection'] {
    z-index: 1;
    grid-area: 3 / 3 / 4 / 4;
  }
  figure[class*='rotation'] {
    z-index: 0;
    grid-area: 1 / 1 / 6 / 6; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  }
}
@mixin mobile-portrait {
}

div[class*='selection'] {
  display: grid;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
