//--|🠊 Time.clock-count.scss 🠈|--\\
@mixin desktop-landscape {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 96px;
  }
  @media screen and (max-height: 768px) {
    span {
      font-size: 64px;
    }
  }
  @media screen and (max-height: 480px) {
    span {
      font-size: 48px;
    }
  }
  @media screen and (max-height: 360px) {
    span {
      font-size: 36px;
    }
  }
}
@mixin mobile-portrait {
}

time[class*='clock-count'] {
  span {
    color: white;
    font-weight: 600;
  }
  @extend %desk-back;
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

%desk-back {
  background: rgba(black, 0.25);
}
