//--|🠊 OvertimeFooter.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  grid-template: 8rem 1fr 4rem / 8rem repeat(3, 1fr) 3rem; //--|🠊 rows / columns 🠈|--//

  menu[class*='overtime'] {
    z-index: 2;
    display: inherit; //--|🠈 display: grid; 🠈|--//
    grid-area: 3 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    grid-template: 4rem / 8rem repeat(3, 1fr) 3rem; //--|🠊 rows / columns 🠈|--//

    span[class*='scrolling'] {
      padding-left: 8rem;
      grid-area: 1 / 1 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
  }
  /*
  section[class*='overtime'] {
    z-index: 3;
    grid-area: 2 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    background: purple;
  }
  */
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}
footer[id*='overtime'] {
  display: grid;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
