bin
.txt
.env
.wsuo
6.5.1
build
secret.*
*secret.*
node_modules
package.json
settings.json
package-*.json
source/server/
build/desktop.ini
public/desktop.ini
source/desktop.ini
DocumentLayout.json
VSWorkspaceState.json
