//--|🠊 LandingMain.scss 🠈|--\\
@use '../../../styles/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop: Landing Main 🠋|--\\
  //--|🠊 <main id="landing-main" class="default-main"> 🠈|--\\
  section[class*='main-fore'] {
    div[class*='testing'] {
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      button[id*='block'] {
        border: 2px dashed Palettes.$purple-medium;
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile: Landing Main 🠋|--\\
  //--|🠊 <main id="landing-main" class="default-main"> 🠈|--\\
  section[class*='main-fore'] {
    div[class*='testing'] {
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      button[id*='block'] {
        border: 2px dashed Palettes.$purple-medium;
      }
    }
  }
}

main[id*='landing'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
