//--|🠊 Menu.landing.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
  ul[class*='list'] {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    list-style: none;

    &[class*='overlay'] {
      background: rgba(red, 0.5);
      /*
      li {
      }
      */
    }
    &[class*='leftbar'] {
      background: rgba(green, 0.5);

      /*
      li {
      }
      */
    }
    &[class*='rightbar'] {
      background: rgba(blue, 0.5);

      /*
      li {
      }
      */
    }

    &[class*='header'] {
      background: rgba(brown, 0.5);

      /*
      li {
      }
      */
    }
    &[class*='footer'] {
      background: rgba(purple, 0.5);

      /*
      li {
      }
      */
    }
    &[class*='main'] {
      background: rgba(cyan, 0.5);

      /*
      li {
      }
      */
    }
  }

  /*
  ul[class*='overlay'] {
    li {
    }
  }
  ul[class*='leftbar'] {
    li {
    }
  }
  ul[class*='rightbar'] {
    li {
    }
  }

  ul[class*='header'] {
    li {
    }
  }
  ul[class*='footer'] {
    li {
    }
  }
  ul[class*='main'] {
    li {
    }
  }
  */
}
@mixin mobile-portrait {
}

menu[class*='landing'] {
  display: flex;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
