//--|🠊 OvertimeMain.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: repeat(2, 4rem) 1fr 4rem / 8rem repeat(3, 1fr) 3rem; //--|🠊 rows / columns 🠈|--//

  aside[class*='carousel'] {
    display: block;
    overflow: hidden;
    position: relative;
    grid-area: 3 / 1 / 4 / 4;
    transition: transform 0.25s ease-in-out;

    section[class*='workdays'] {
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    section[class*='weekdays'] {
      z-index: 0;
      div[class*='container'] {
        transition: transform 0.25s ease-in-out;
      }
    }
    section {
      position: absolute;
    }
  }
  aside[class*='leave'] {
    display: inherit; //--|🠈 display: grid; 🠈|--//
    grid-area: 2 / 4 / 5 / 6; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    border-radius: 4rem 0 0 4rem; //--|🠊 top-left / top-right / bottom-right / bottom-left 🠈|--//
    background: Palettes.$trackDay-dark;
    grid-template: 4rem repeat(2, 1fr) 8rem / 1fr 3rem; //--|🠊 rows / columns 🠈|--//
    box-shadow: inset 0 0 1rem rgba(Palettes.$trackDay-light, 0.5);
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}

main[id*='overtime'] {
  display: grid;
  @extend %ground-design;
  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
%ground-design {
  aside[class*='leave'] {
    div {
      z-index: 0;
    }
    .foreground,
    .midground {
      display: none;
    }
    .background {
      grid-area: 1 / 1 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      border-top-left-radius: 4rem;
      border-bottom-left-radius: 4rem;
      border-left: 2px dashed Palettes.$trackDay-light;
      box-shadow: inset 0 0 1rem rgba(Palettes.$trackDay-light, 0.5);
    }
  }
}
