//--|🠊 LandingMain.scss 🠈|--//
@use '../../../design/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
  div[class*='container'] {
    grid-template: 1fr 40rem 1fr / 6rem 1fr 25rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//

    /* grid-template: 4rem 1fr 4rem / 6rem repeat(3, 1fr) 6rem; */ //--|🠊 rows / columns 🠈|--//
  }
}
@mixin mobile-portrait {
  //--|🠊 display: flex; 🠈|--//
  div[class*='container'] {
    grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//
  }
}

main[id*='main'] {
  display: grid;
  overflow: hidden; //--|🠊 Hide elements outside the visible area 🠈|--//
  grid-template: inherit; //--|🠊 64px 1fr 64px / 96px 1fr 96px; 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//

  /*
  .landing-branding {
    display: flex;
    align-items: flex-start;
    grid-area: 1 / 1 / 2 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    justify-content: flex-start;
    img {
      height: 4rem;
      margin: 2rem;
    }
  }
  */
  .landing-carousel {
    display: flex;
    grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    transform: translateX(-100vw); //--|🠊 Default view is .login-section 🠈|--//
    transition: transform 0.25s ease;

    section {
      &[class*='register'] {
        background: Palettes.$trackDay-dark;
        /* background: rgba(green, 0.25); */
      }
      &[class*='login'] {
        background: Palettes.$logTicket-dark;
        /* background: rgba(blue, 0.25); */
      }
      &[class*='password'] {
        background: Palettes.$findLink-dark;
        /* background: rgba(red, 0.25); */
      }
      div[class*='container'] {
        height: 100%;
        display: grid;
        min-width: 100vw; /* Each section takes up the full screen width */
        grid-area: 1 / 2 / 2 / 3; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
      }
    }

    //--|🠋 Desktop (Landscape) 🠋|--//
    @media screen and (orientation: landscape) {
      @include desktop-landscape();
    }
    //--|🠋 Mobile (Portrait) 🠋|--//
    @media screen and (orientation: portrait) {
      @include mobile-portrait();
    }
  }
}
