//--|🠊 Table.weeks.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
  tbody[id*='week'] {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    tr {
      td:nth-child(1) {
        width: 8rem;
        border-right: solid black;
        // border-bottom: solid black;
      }
      td:nth-child(2) {
        border-right: solid black;
      }
      td:nth-child(3) {
        border-right: solid black;
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}

table[class*='weeks'] {
  display: flex;
  font-weight: 600;
  flex-direction: column;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
