//--|🠊 OvertimeOverlay.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: block; 🠈|--//
  section[class*='loading'] {
    display: grid;
    grid-template: 4rem 1fr 45rem 1fr 4rem / 6rem 1fr 80rem 1fr 6rem; //--|🠊 720px / 1280px 🠈|--//
    background: linear-gradient(
      0deg,
      rgba(white, 0) 0%,
      rgba(Palettes.$trackDay-medium, 1) 100%
    );
    img {
      width: 100%;
      height: 100%;
      cursor: wait;
      padding: 10rem;
      border-radius: 4rem;
      grid-area: 3 / 3 / 4 / 4;
      filter: drop-shadow(0 0 1rem rgba(black, 1));
      background: rgba(Palettes.$trackDay-dark, 0.5);
      box-shadow: inset 0 0 1rem rgba(Palettes.$trackDay-light, 0.75); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
    }
  }
  section[class*='vocation'] {
    display: grid;
    grid-template: 4rem 1fr 40rem 1fr 4rem / 6rem 1fr 25rem 1fr 6rem; //--|🠊 rows - 768px / columns - 1366px 🠈|--//
    background: linear-gradient(
      180deg,
      rgba(white, 0) 0%,
      rgba(Palettes.$trackDay-medium, 1) 100%
    );

    article[class*='vocation'] {
      grid-area: 3 / 3 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    }
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
    section[class*='loading'] {
      grid-template: 4rem 1fr auto 1fr 4rem / 6rem 1fr auto 1fr 6rem; //--|🠊 640px / 1137.78px 🠈|--//
    }
    section[class*='vocation'] {
      grid-template: 2rem 1fr 26rem 1fr 2rem / 3rem 0.5fr 1fr 0.5fr 3rem; //--|🠊 rows / columns 🠈|--//
    }
  }
  @media screen and (max-height: 480px) {
    section[class*='loading'] {
      img {
        padding: 5rem;
      }
    }
  }
  @media screen and (max-height: 360px) {
    section[class*='vocation'] {
      grid-template: 2rem 1fr 18.5rem 1fr 2rem / 3rem 0.33fr 1fr 0.33fr 3rem; //--|🠊 rows / columns 🠈|--//
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 display: block; 🠈|--//
  section[class*='loading'] {
    display: grid;
    grid-template: 6rem 1fr auto 1fr 6rem / 2rem 1fr auto 1fr 2rem; //--|🠊 rows / columns 🠈|--//
    background: linear-gradient(
      0deg,
      rgba(white, 1) 0%,
      rgba(Palettes.$indexLand-medium, 1) 100%
    );
    img {
      width: 100%;
      height: auto;
      grid-area: 3 / 3 / 4 / 4;
      filter: drop-shadow(0 0 8px white);
      outline: 4px groove Palettes.$indexLand-medium;
      box-shadow: inset 0 0 4rem rgba(Palettes.$indexLand-dark, 0.75); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
    }
  }
  section[class*='selection'] {
    display: grid;
    grid-template: 6rem 1fr 6rem / 2rem 1fr 2rem; //--|🠊 rows / columns 🠈|--//
    background: linear-gradient(
      180deg,
      rgba(white, 1) 0%,
      rgba(Palettes.$indexLand-medium, 1) 100%
    );
    header[class*='branding'] {
      grid-area: 1 / 2 / 2 / 3;
    }
    article[class*='selection'] {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

section[id*='overtime'] {
  //--|🠊 display: block; 🠈|--//
  overflow: hidden; //--|🠈 Hide elements outside the visible area 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  div[class*='carousel'] {
    display: flex;
    @extend %show-section;
    flex-direction: column;
    animation: slide-up 1s ease-in-out forwards; //--|🠈 1s duration, ease-in-out timing function, forwards fill mode 🠈|--//

    section {
      width: 100vw;
      height: 100vh;
    }

    //--|🠋 Desktop (Landscape) 🠋|--//
    @media screen and (orientation: landscape) {
      @include desktop-landscape();
    }
    //--|🠋 Mobile (Portrait) 🠋|--//
    @media screen and (orientation: portrait) {
      @include mobile-portrait();
    }
  }
}
%show-section {
  animation-delay: 0.75s; //--|🠈 Wait 3 seconds before starting the animation 🠈|--//
  @keyframes slide-up {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-100vh);
    }
  }
}
