// Menu.button.scss
body {
  header,
  footer {
    menu.buttons {
      display: grid;
      //--|🠋 Desktop (Landscape) 🠋|--//
      @media screen and (orientation: landscape) {
        grid-template-rows: 4rem;
      }
      //--|🠋 Mobile (Portrait) 🠋|--//
      @media screen and (orientation: portrait) {
        grid-template-rows: 6rem;
      }

      button[id*='active'] {
        h3,
        h6 {
          color: white;
          cursor: default;
        }
      }
    }
  }

  main,
  aside,
  header,
  footer,
  section {
    menu {
      display: grid;

      button[id*='active'] {
        h3,
        h6 {
          color: white;
          cursor: default;
        }
      }
    }
    menu[class*='horizontal'] {
      //--|🠊 display: grid 🠈|--//
      grid-template-rows: 1fr auto 1fr;
      button {
        grid-row: 2 / 3; //~~|🠈 row-start / row-end 🠈|~~//
      }
      button:nth-child(1) {
        grid-column: 1 / 2; //~~|🠈 col-start / col-end 🠈|~~//
      }
      button:nth-child(2) {
        grid-column: 2 / 3; //~~|🠈 col-start / col-end 🠈|~~//
      }
      button:nth-child(3) {
        grid-column: 3 / 4; //~~|🠈 col-start / col-end 🠈|~~//
      }
      button:nth-child(4) {
        grid-column: 4 / 5; //~~|🠈 col-start / col-end 🠈|~~//
      }
      button:nth-child(5) {
        grid-column: 5 / 6; //~~|🠈 col-start / col-end 🠈|~~//
      }
    }
    menu[class*='vertical'] {
      //--|🠊 display: grid 🠈|--//
      // button:nth-child(1) {
      //   grid-column: 1 / 2; //~~|🠈 col-start / col-end 🠈|~~//
      // }
      // button:nth-child(2) {
      //   grid-column: 2 / 3; //~~|🠈 col-start / col-end 🠈|~~//
      // }
      // button:nth-child(3) {
      //   grid-column: 3 / 4; //~~|🠈 col-start / col-end 🠈|~~//
      // }
      // button:nth-child(4) {
      //   grid-column: 4 / 5; //~~|🠈 col-start / col-end 🠈|~~//
      // }
      // button:nth-child(5) {
      //   grid-column: 5 / 6; //~~|🠈 col-start / col-end 🠈|~~//
      // }
    }
  }
}
