body {
  header,
  footer {
    menu.buttons {
      display: grid;
      //--|🠋 Desktop (Landscape) 🠋|--//
      @media screen and (orientation: landscape) {
        grid-template-rows: 4rem;
      }
      //--|🠋 Mobile (Portrait) 🠋|--//
      @media screen and (orientation: portrait) {
        grid-template-rows: 6rem;
      }

      button {
        //--|🠉 display: grid; 🠉|--//
        &:nth-child(1) {
          grid-area: 1 / 1 / 2 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
        }
        &:nth-child(2) {
          grid-area: 1 / 2 / 2 / 3; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
        }
        &:nth-child(3) {
          grid-area: 1 / 3 / 2 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
        }
        &:nth-child(4) {
          grid-area: 1 / 4 / 2 / 5; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
        }
        &:nth-child(5) {
          grid-area: 1 / 5 / 2 / 6; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
        }
        &[id*='active'] {
          h3,
          h6 {
            color: white;
            cursor: default;
          }
        }
      }

      //--|🠊 display: grid; 🠈|--//
      &[class='five'].buttons button {
        grid-template-columns: repeat(5, 1fr);
      }
      &[class='four'].buttons button {
        grid-template-columns: repeat(4, 1fr);
      }
      &[class='three'] {
        grid-template-columns: repeat(3, 1fr);
      }
      &[class='two'].buttons button {
        grid-template-columns: repeat(2, 1fr);
      }
      &[class='one'].buttons button {
        grid-template-columns: 1fr;
      }
    }
  }
  main,
  aside,
  section {
    menu.buttons {
      background: purple;
    }
  }
}
