// @import '../tools/vendors/bootstrap/5.3.3/css/'
@import '../layouts/containers/color-palette.scss';
@import '../layouts/containers/global-styling.scss';

//--|🠋| Color Scheme |🠋|--//
$primary-dark: #1f3131; //--🠊 rgba(31,49,49,1) 🠈--//
$primary-medium: #3d6262; //--🠊 rgba(61,98,98,1) 🠈--//
$primary-light: #9eb0b0; //--🠊 rgba(158,176,176,1) 🠈--//

$secondary-dark: #230510; //--🠊 rgba(35,5,16,1) 🠈--//
$secondary-medium: #450920; //--🠊 rgba(69,9,32,1) 🠈--//
$secondary-light: #a2848f; //--🠊 rgba(162,132,143,1) 🠈--//

$tertiary-dark: #392319; //--🠊 rgba(57,35,25,1) 🠈--//
$tertiary-medium: #714631; //--🠊 rgba(113,70,49,1) 🠈--//
$tertiary-light: #b8a298; //--🠊 rgba(184,162,152,1) 🠈--//

@mixin orientation-testing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($red-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($red-dark, 0.25);
      }

      header {
        background: rgba($red-light, 0.25);
      }
      footer {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
      }
    }

    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }

  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }
}

div[id*='index-body'] {
  height: 100vh;
  display: grid;
  /* background: linear-gradient(140deg, $primary-dark 0%, $primary-medium 75%, $primary-dark 100%); */
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //~~|🠊 rows / columns 🠈|~~//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    grid-template: 6rem 1fr 6rem / 4rem 1fr 4rem; //~~|🠊 rows / columns 🠈|~~//
  }
  @include orientation-testing();
}

@import '../layouts/containers/Main/IndexMain/IndexMain.scss';
@import '../layouts/containers/Overlay/IndexOverlay/IndexOverlay.scss';
@import '../layouts/containers/Header/IndexHeader/IndexHeader.scss';
@import '../layouts/containers/Footer/IndexFooter/IndexFooter.scss';
@import '../layouts/containers/Leftbar/IndexLeftbar/IndexLeftbar.scss';
@import '../layouts/containers/Rightbar/IndexRightbar/IndexRightbar.scss';
