//--|🠊 index.scss 🠈|--//
//--|🠋 Designs 🠋|--//
@use '../layouts/designs/Global.scss';
@use '../layouts/designs/Mixins.scss';
@use '../layouts/designs/Palettes.scss';

//--|🠋 Applications 🠋|--//
@use './landing.scss';
@use './overtime.scss';
@use './ticketing.scss';
@use './hyperlink.scss';

body {
  overflow: hidden; //--|🠈 Disable Scrolling 🠈|--//

  /* transition: transform 1s ease-in-out; */
  div[id*='landing'],
  div[id*='overtime'],
  div[id*='ticketing'],
  div[id*='hyperlink'] {
    display: grid;
    overflow: inherit; //--|🠈 overflow: hidden; 🠈|--//

    @include Mixins.body-transition();
    @include Mixins.header-transition();
    @include Mixins.footer-transition();
    @include Mixins.overlay-transition();
    @include Mixins.sidebar-transition();
  }
}
