//--|🠊 TableElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-table/DefaultTable.scss';

section[class*='table'] {
  div.table-main_container {
    aside[class*='default'] {
      width: 100vw;
      height: 100svh;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        @include DefaultTable.desktop-landscape;
      }
      @media screen and (orientation: portrait) {
        @include DefaultTable.mobile-portrait;
      }
    }
  }
}
