//--|🠊 ComponentsFooter.scss 🠈|--\\
@use '../../../designs/Palettes.scss';
@mixin desktop-landscape {
  //--|🠋 Desktop (Layers) 🠋|--\\
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    width: 100%;
    overflow: hidden;
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-template: inherit;
    grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\

    h1 {
      color: blue;
      grid-area: 4 / 2 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Layers) 🠋|--//
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    width: 100%;
    overflow: hidden;
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-template: inherit;
    grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    h1 {
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
footer[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    //--|🠋 96px (Left & Right) for Design 🠋|--\\
    grid-template: //--|🠋 Width: 1920px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 64px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 1366px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 48px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 854px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 32px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 640px 🠋|--\\
        repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
        / 16px 1fr 16px; //--|🠈 columns 🠈|--\\
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    //--|🠋 64px (Left & Right) for Design 🠋|--\\
    grid-template: //--|🠋 Height: 1920px 🠋|--\\
      repeat(2, 6rem) 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
      / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
    @media screen and (max-width: 768px) {
      //--|🠋 48px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Height: 1366px 🠋|--\\
        repeat(2, 5rem) 1fr repeat(2, 5rem) //--|🠈 rows 🠈|--//
        / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 480px) {
      //--|🠋 32px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Height: 854px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 360px) {
      //--|🠋 24px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Height: 640px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
    }
  }
}
