//--|🠊 Footer.applications.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  display: flex;
  .select-application {
    width: 100%;
    display: inherit; //--|🠈 display: flex; 🠈|--\\
    justify-content: space-around;

    height: 128px;
    padding: 0 128px;
    @media screen and (max-height: 768px) {
      height: 96px;
      padding: 0 96px;
    }
    @media screen and (max-height: 480px) {
      height: 64px;
      padding: 0 64px;
    }
    @media screen and (max-height: 360px) {
      height: 48px;
      padding: 0 48px;
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--\\
}

footer[class*='applications'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
