@import './color-palette.scss';
@import '../tools/vendors/bootstrap/5.3.3/css/bootstrap.css';
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Rubik', Helvetica;

  p {
    cursor: default;
    white-space: wrap;
  }
  button {
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    outline: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h1 {
    font-weight: 800;
  }
  h2 {
    font-weight: 700;
  }
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 500;
  }
  h5 {
    font-weight: 400;
  }
  h6 {
    font-weight: 300;
  }
}
body {
  height: 100vh; //~~|🠊 Force body's height to fit the screen 🠈|~~//
  overflow: hidden; //~~|🠊 Hide the scrollbar completely 🠈|~~//
  /*
  background: linear-gradient(
    140deg,
    $primary-dark 0%,
    $primary-medium 50%,
    $primary-light 100%
  ); //~~|🠊 Apply the background gradient 🠈|~~//
  */
}
