@import '../../../containers/color-palette.scss';

//--|🠋| Index Colors |🠋|--//
$primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
$primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
$primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: repeat(12, 1fr) / repeat(5, 1fr); //~~|🠈 rows / columns 🠈|~~//
  menu {
    grid-area: 4 / 1 / 6 / 4; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
  }
  span[class*='title'] {
    grid-area: 1 / 1 / 3 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
  }

  span[class*='subject'] {
    display: none;
  }
  span[class*='description'] {
    display: none;
  }

  aside[class*='profile'] {
    display: none;
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
  grid-template: repeat(12, 1fr) / repeat(3, 1fr); //~~|🠈 rows / columns 🠈|~~//
  menu {
    grid-area: 11 / 1 / 13 / 4; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
  }
  span[class*='title'] {
    display: none;
    grid-area: 1 / 1 / 3 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
  }

  span[class*='subject'] {
    display: none;
  }
  span[class*='description'] {
    display: none;
  }
  aside[class*='profile'] {
    display: none;
  }
}

body {
  section[class*='career'] {
    display: grid;
    [id*='home'] {
      grid-area: 2 / 2 / 3 / 3; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      &[id*='fore'],
      &[id*='mid'],
      &[id*='back'] {
      }
    }
    //--|🠋 Desktop (Landscape) 🠋|--//
    @media screen and (orientation: landscape) {
      //--|🠊 display: grid; 🠈|--//
      grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //~~|🠈 rows / columns 🠈|~~//
      div[id*='home'] {
        display: inherit; //~~|🠈 display: grid; 🠈|~~//
        @include desktop-landscape(); //~~|🠊 display: grid; 🠈|~~//
      }
    }
    //--|🠋 Mobile (Portrait) 🠋|--//
    @media screen and (orientation: portrait) {
      //--|🠊 display: grid; 🠈|--//
      grid-template: 6rem 1fr 6rem / 4rem 1fr 4rem; //~~|🠈 rows / columns 🠈|~~//
      div[id*='home'] {
        display: inherit; //~~|🠈 display: grid; 🠈|~~//
        @include mobile-portrait(); //~~|🠊 display: grid; 🠈|~~//
      }
    }
  }

  #index-body {
    @include index-colors();
  }
  #resume-body {
    @include resume-colors();
  }
}
