//--|🠊 Division.carousel.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠋 Desktop (Carousel) 🠋|--\\
  %hori-scope-desk {
    //--|🠊 <ul class="hori-X-axis"> 🠈|--\\
    li[class*='horizontal'] {
      transition: transform 500ms ease-in-out;
      div[class*='container'] {
        display: flex;
        height: inherit;
        > * {
          height: 100svh;
        }
      }
    }
  }
  %hori-stack-desk {
    li[class*='carousel'] {
      &[class*='horizontal_I'] {
        transform: translateX(0);
      }
      &[class*='horizontal_II'] {
        transform: translateX(-100%);
      }
      &[class*='horizontal_III'] {
        transform: translateX(-200%);
      }
      &[class*='horizontal_IV'] {
        transform: translateX(-300%);
      }
      &[class*='horizontal_V'] {
        transform: translateX(-400%);
      }
      &[class*='horizontal_VI'] {
        transform: translateX(-500%);
      }
      &[class*='horizontal_VII'] {
        transform: translateX(-600%);
      }
      &[class*='horizontal_VIII'] {
        transform: translateX(-700%);
      }
      &[class*='horizontal_IX'] {
        transform: translateX(-800%);
      }
      &[class*='horizontal_X'] {
        transform: translateX(-900%);
      }
      &[class*='horizontal_XI'] {
        transform: translateX(-1000%);
      }
      &[class*='horizontal_XII'] {
        transform: translateX(-1100%);
      }
      &[class*='horizontal_XIII'] {
        transform: translateX(-1200%);
      }
      &[class*='horizontal_XIV'] {
        transform: translateX(-1300%);
      }
      &[class*='horizontal_XV'] {
        transform: translateX(-1400%);
      }
      &[class*='horizontal_XVI'] {
        transform: translateX(-1500%);
      }
      &[class*='horizontal_XVII'] {
        transform: translateX(-1600%);
      }
      &[class*='horizontal_XVIII'] {
        transform: translateX(-1700%);
      }
      &[class*='horizontal_XIX'] {
        transform: translateX(-1800%);
      }
      &[class*='horizontal_XX'] {
        transform: translateX(-1900%);
      }
    }
  }

  %vert-scope-desk {
    //--|🠊 <ol class="vert-Y-axis"> 🠈|--\\
    height: 100%;
    display: flex;
    li[class*='vertical'] {
      width: 100%;
      transition: transform 500ms ease-in-out;
    }
  }
  %vert-stack-desk {
    li[class*='carousel'] {
      &[class*='vertical_I'] {
        transform: translateY(0);
      }
      &[class*='vertical_II'] {
        transform: translateY(-100svh);
      }
      &[class*='vertical_III'] {
        transform: translateY(-200svh);
      }
      &[class*='vertical_IV'] {
        transform: translateY(-300svh);
      }
      &[class*='vertical_V'] {
        transform: translateY(-400svh);
      }
      &[class*='vertical_VI'] {
        transform: translateY(-500svh);
      }
      &[class*='vertical_VII'] {
        transform: translateY(-600svh);
      }
      &[class*='vertical_VIII'] {
        transform: translateY(-700svh);
      }
      &[class*='vertical_IX'] {
        transform: translateY(-800svh);
      }
      &[class*='vertical_X'] {
        transform: translateY(-900svh);
      }
      &[class*='vertical_XI'] {
        transform: translateY(-1000svh);
      }
      &[class*='vertical_XII'] {
        transform: translateY(-1100svh);
      }
      &[class*='vertical_XIII'] {
        transform: translateY(-1200svh);
      }
      &[class*='vertical_XIV'] {
        transform: translateY(-1300svh);
      }
      &[class*='vertical_XV'] {
        transform: translateY(-1400svh);
      }
      &[class*='vertical_XVI'] {
        transform: translateY(-1500svh);
      }
      &[class*='vertical_XVII'] {
        transform: translateY(-1600svh);
      }
      &[class*='vertical_XVIII'] {
        transform: translateY(-1700svh);
      }
      &[class*='vertical_XIX'] {
        transform: translateY(-1800svh);
      }
      &[class*='vertical_XX'] {
        transform: translateY(-1900svh);
      }
    }
  }

  ul[class='hori-X-axis'] {
    @extend %hori-scope-desk;
    @extend %hori-stack-desk;
  }
  ol[class='vert-Y-axis'] {
    @extend %vert-stack-desk;
    @extend %vert-scope-desk;
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Carousel) 🠋|--\\
  %hori-scope-mobi {
    //--|🠊 <ul class="hori-X-axis"> 🠈|--\\
    li[class*='horizontal'] {
      transition: transform 500ms ease-in-out;
      div[class*='container'] {
        display: flex;
        height: inherit;
        > * {
          width: 100svh;
        }
      }
    }
  }
  %hori-stack-mobi {
    li[class*='carousel'] {
      &[class*='horizontal_I'] {
        transform: translateX(0);
      }
      &[class*='horizontal_II'] {
        transform: translateX(-100%);
      }
      &[class*='horizontal_III'] {
        transform: translateX(-200%);
      }
      &[class*='horizontal_IV'] {
        transform: translateX(-300%);
      }
      &[class*='horizontal_V'] {
        transform: translateX(-400%);
      }
      &[class*='horizontal_VI'] {
        transform: translateX(-500%);
      }
      &[class*='horizontal_VII'] {
        transform: translateX(-600%);
      }
      &[class*='horizontal_VIII'] {
        transform: translateX(-700%);
      }
      &[class*='horizontal_IX'] {
        transform: translateX(-800%);
      }
      &[class*='horizontal_X'] {
        transform: translateX(-900%);
      }
      &[class*='horizontal_XI'] {
        transform: translateX(-1000%);
      }
      &[class*='horizontal_XII'] {
        transform: translateX(-1100%);
      }
      &[class*='horizontal_XIII'] {
        transform: translateX(-1200%);
      }
      &[class*='horizontal_XIV'] {
        transform: translateX(-1300%);
      }
      &[class*='horizontal_XV'] {
        transform: translateX(-1400%);
      }
      &[class*='horizontal_XVI'] {
        transform: translateX(-1500%);
      }
      &[class*='horizontal_XVII'] {
        transform: translateX(-1600%);
      }
      &[class*='horizontal_XVIII'] {
        transform: translateX(-1700%);
      }
      &[class*='horizontal_XIX'] {
        transform: translateX(-1800%);
      }
      &[class*='horizontal_XX'] {
        transform: translateX(-1900%);
      }
    }
  }

  %vert-scope-mobi {
    //--|🠊 <ol class="vert-Y-axis"> 🠈|--\\
    height: 100%;
    display: flex;
    li[class*='vertical'] {
      width: 100%;
      transition: transform 500ms ease-in-out;
    }
  }
  %vert-stack-mobi {
    li[class*='carousel'] {
      &[class*='vertical_I'] {
        transform: translateY(0);
      }
      &[class*='vertical_II'] {
        transform: translateY(-100svh);
      }
      &[class*='vertical_III'] {
        transform: translateY(-200svh);
      }
      &[class*='vertical_IV'] {
        transform: translateY(-300svh);
      }
      &[class*='vertical_V'] {
        transform: translateY(-400svh);
      }
      &[class*='vertical_VI'] {
        transform: translateY(-500svh);
      }
      &[class*='vertical_VII'] {
        transform: translateY(-600svh);
      }
      &[class*='vertical_VIII'] {
        transform: translateY(-700svh);
      }
      &[class*='vertical_IX'] {
        transform: translateY(-800svh);
      }
      &[class*='vertical_X'] {
        transform: translateY(-900svh);
      }
      &[class*='vertical_XI'] {
        transform: translateY(-1000svh);
      }
      &[class*='vertical_XII'] {
        transform: translateY(-1100svh);
      }
      &[class*='vertical_XIII'] {
        transform: translateY(-1200svh);
      }
      &[class*='vertical_XIV'] {
        transform: translateY(-1300svh);
      }
      &[class*='vertical_XV'] {
        transform: translateY(-1400svh);
      }
      &[class*='vertical_XVI'] {
        transform: translateY(-1500svh);
      }
      &[class*='vertical_XVII'] {
        transform: translateY(-1600svh);
      }
      &[class*='vertical_XVIII'] {
        transform: translateY(-1700svh);
      }
      &[class*='vertical_XIX'] {
        transform: translateY(-1800svh);
      }
      &[class*='vertical_XX'] {
        transform: translateY(-1900svh);
      }
    }
  }

  ul[class='hori-X-axis'] {
    @extend %hori-scope-mobi;
    @extend %hori-stack-mobi;
  }
  ol[class='vert-Y-axis'] {
    @extend %vert-stack-mobi;
    @extend %vert-scope-mobi;
  }
}

div[class*='carousel'] {
  @media screen and (orientation: landscape) {
    overflow: hidden;
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
