//--|🠊 SectionElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './characters-section/CharactersSection.scss';

section[class*='section-main'] {
  div.section-main_container {
    aside[class*='section'] {
      width: 100vw;
      height: 100svh;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        &[class*='characters'] {
          @include CharactersSection.desktop-landscape;
        }
      }
      @media screen and (orientation: portrait) {
        &[class*='characters'] {
          @include CharactersSection.mobile-portrait;
        }
      }
    }
  }
}
