//--|🠊 SectionElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './profiles-section/ProfilesSection.scss';

section[class*='section-main'] {
  div.section-main_container {
    @media screen and (orientation: landscape) {
      aside[class*='section'] {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='profiles'] {
          @include ProfilesSection.desktop-landscape;
        }
      }
    }
    @media screen and (orientation: portrait) {
      aside[class*='section'] {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='profiles'] {
          @include ProfilesSection.mobile-portrait;
        }
      }
    }
  }
}
