//--|🠊 TimeElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-time/DefaultTime.scss';

section[class*='time'] {
  div.time-main_container {
    aside[class*='default'] {
      width: 100vw;
      height: 100svh;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        @include DefaultTime.desktop-landscape;
      }
      @media screen and (orientation: portrait) {
        @include DefaultTime.mobile-portrait;
      }
    }
  }
}
