//--|🠊 Division.default.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Default) 🠋|--\\

  button[id*='block'] {
    &[id*='left'] {
      padding-left: 1rem;
    }
    &[id*='right'] {
      padding-right: 1rem;
    }

    &#test-main-block {
      grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-head-block {
      grid-area: 1 / 1 / 2 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-foot-block {
      grid-area: 4 / 1 / 5 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    &#test-over-block {
      grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-left-block {
      grid-area: 2 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-right-block {
      grid-area: 2 / 4 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    border: 2px dashed Palettes.$gray-medium;
  }

  display: grid;
  //--|🠊 96px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Width: 1920px 🠋|--\\
    8rem repeat(2, 1fr) 8rem //--|🠈 rows 🠈|--//
    / 48px repeat(3, 1fr) 48px; //--|🠈 columns 🠈|--\\
  @media screen and (max-height: 768px) {
    //--|🠊 64px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 1366px 🠋|--\\
      6rem repeat(2, 1fr) 6rem //--|🠈 rows 🠈|--//
      / 32px repeat(3, 1fr) 32px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 480px) {
    //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 854px 🠋|--\\
      4rem repeat(2, 1fr) 4rem //--|🠈 rows 🠈|--//
      / 24px repeat(3, 1fr) 24px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 360px) {
    //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 640px 🠋|--\\
      3rem repeat(2, 1fr) 3rem //--|🠈 rows 🠈|--//
      / 16px repeat(3, 1fr) 16px; //--|🠈 columns 🠈|--\\
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Default) 🠋|--\\

  button[id*='block'] {
    &#test-main-block {
      grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-head-block {
      grid-area: 1 / 1 / 2 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-foot-block {
      grid-area: 5 / 1 / 6 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    &#test-over-block {
      grid-area: 4 / 2 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-left-block {
      grid-area: 3 / 1 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    &#test-right-block {
      grid-area: 3 / 3 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    border: 2px dashed Palettes.$gray-medium;
  }
  display: grid;
  //--|🠊 64px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Height: 1920px 🠋|--\\
    repeat(2, 12rem) 1fr repeat(2, 12rem) //--|🠈 rows 🠈|--//
    / 64px repeat(2, 1fr) 64px; //--|🠈 columns 🠈|--\\
  button[id*='block'] {
    &[id*='left'] {
      padding-left: 4rem;
    }
    &[id*='right'] {
      padding-right: 4rem;
    }
  }
  @media screen and (max-width: 768px) {
    //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 1366px 🠋|--\\
      repeat(2, 10rem) 1fr repeat(2, 10rem) //--|🠈 rows 🠈|--//
      / 48px repeat(2, 1fr) 48px; //--|🠈 columns 🠈|--\\
    button[id*='block'] {
      &[id*='left'] {
        padding-left: 3rem;
      }
      &[id*='right'] {
        padding-right: 3rem;
      }
    }
  }
  @media screen and (max-width: 480px) {
    //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 854px 🠋|--\\
      repeat(2, 6rem) 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
      / 32px repeat(2, 1fr) 32px; //--|🠈 columns 🠈|--\\
    button[id*='block'] {
      &[id*='left'] {
        padding-left: 2rem;
      }
      &[id*='right'] {
        padding-right: 2rem;
      }
    }
  }
  @media screen and (max-width: 360px) {
    //--|🠊 24px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 640px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 24px repeat(2, 1fr) 24px; //--|🠈 columns 🠈|--\\
    button[id*='block'] {
      &[id*='left'] {
        padding-left: 1.5rem;
      }
      &[id*='right'] {
        padding-right: 1.5rem;
      }
    }
  }
}

div[class*='division-default'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
