//--|🠊 Navigation.password.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 5rem / 5rem 1fr; //--|🠊 rows / columns 🠈|--//
  button {
    grid-area: 1 / 1 / 2 / 2; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  }
  h4[class*='label'] {
    margin: 0;
    display: flex;
    font-weight: bold;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    color: Palettes.$findLink-dark;
    filter: drop-shadow(Palettes.$findLink-light 0 0 8px); //--|🠈 drop-shadow( <color> <x-axis> <y-axis> <blur> ) 🠈|--//
  }

  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 5rem / 5rem 1fr; //--|🠊 rows / columns 🠈|--//
  button {
    grid-area: 1 / 1 / 2 / 2; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  }
  h4[class*='label'] {
    margin: 0;
    display: flex;
    font-weight: bold;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    color: Palettes.$findLink-dark;
    filter: drop-shadow(Palettes.$findLink-light 0 0 8px); //--|🠈 drop-shadow( <color> <x-axis> <y-axis> <blur> ) 🠈|--//
  }

  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 360px) {
  }
}

nav[class*='password'] {
  display: grid;
  /*
  border-radius: 1rem;
  background: rgba(Palettes.$logTicket-dark, 0.75);
  box-shadow: 0 0 8rem rgba(Palettes.$logTicket-medium, 0.75); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
  box-shadow: inset 0 0 8px rgba(Palettes.$logTicket-light, 1);
  */
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
