// // Button.fade.scss
@import '../../../containers/color-palette.scss';

//--|🠋| Index Colors |🠋|--//
$primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
$primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
$primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//

@mixin fade-design {
  button {
    div {
      cursor: default;
      h3,
      h6 {
        width: 4rem;
        cursor: pointer;
      }
    }
  }

  button[class*='-downplay-'] {
    div[class*='button'] {
      filter: drop-shadow(0 0 8px white);
      h3,
      h6 {
        color: $primary-medium;
        animation: downplayFade 1s forwards;
      }
      img.primary-medium {
        display: flex;
      }
    }
  }
  button[class*='-highlight-'] {
    div[class*='button'] {
      filter: drop-shadow(0 0 8px black);
      h3,
      h6 {
        color: $primary-light;
        animation: highlightFade 1s forwards;
      }
      // img.primary-light {
      //   display: flex;
      // }
    }
  }
}
@mixin fade-effects {
  button {
    background: none;
    div {
      cursor: default;
      h3,
      h6 {
        cursor: pointer;
      }
    }
  }
  button[class*='-downplay-'] {
    div {
      animation: downplayFade 1s forwards;
      img.primary-medium {
        z-index: 0;
        opacity: 1;
        // animation: fadeOut 1s forwards;
      }
      img.primary-light {
        z-index: 0;
        animation: fadeOut 1s forwards;
      }
      img.primary-dark {
        opacity: 0;
        display: none;
      }
    }
  }
  button[class*='-highlight-'] {
    div {
      animation: highlightFade 1s forwards;
      img.primary-medium {
        z-index: 0;
        opacity: 1;
        // animation: fadeIn 1s forwards;
      }
      img.primary-light {
        z-index: 1;
        animation: fadeIn 1s forwards;
      }

      img.primary-dark {
        opacity: 0;
        display: none;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      filter: blur(1rem);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      filter: blur(0);
    }
    to {
      opacity: 0;
      filter: blur(1rem);
    }
  }
  @keyframes highlightFade {
    from {
      color: $primary-medium;
      filter: drop-shadow(0 0 8px white);
    }
    to {
      color: $primary-light;
      filter: drop-shadow(0 0 8px black);
    }
  }
  @keyframes downplayFade {
    from {
      color: $primary-light;
      filter: drop-shadow(0 0 8px black);
    }
    to {
      color: $primary-medium;
      filter: drop-shadow(0 0 8px white);
    }
  }
}
@mixin fade-placement {
  button {
    display: flex;
    &[class*='-left'] {
      overflow: hidden;
      position: relative;
      align-items: center;
      justify-content: flex-start;
      div[class*='foreground'],
      div[class*='midground'],
      div[class*='background'] {
        display: grid;
        position: absolute;
        grid-template-rows: 1fr;
        grid-template-columns: 4rem auto 1fr;
        h3,
        h6 {
          width: 100%;
          grid-row: 1 / 2;
          grid-column: 2 / 4;
          padding-top: 0.5rem;
        }
        img[class*='dark'],
        img[class*='light'],
        img[class*='medium'] {
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
      }
    }
    &[class*='-center'] {
      position: relative;
      align-items: center;
      justify-content: center;
      div[class*='foreground'],
      div[class*='midground'],
      div[class*='background'] {
        display: grid;
        position: absolute;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto 1fr;
        h3,
        h6 {
          width: 100px;
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          padding-top: 0.5rem;
        }
        img[class*='dark'],
        img[class*='light'],
        img[class*='medium'] {
          width: 4rem;
          height: 4rem;
          grid-row: 1 / 2;
          padding: 0.25rem;
          grid-column: 2 / 3;
        }
      }
    }
    &[class*='-right'] {
      position: relative;
      align-items: center;
      justify-content: flex-end;
      div[class*='foreground'],
      div[class*='midground'],
      div[class*='background'] {
        display: grid;
        position: absolute;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto 4rem;
        h3,
        h6 {
          width: 100%;
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          padding-top: 0.5rem;
        }
        img[class*='dark'],
        img[class*='light'],
        img[class*='medium'] {
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          grid-row: 1 / 2;
          grid-column: 3 / 4;
        }
      }
    }
  }
}

body {
  header,
  footer {
    menu {
      @include fade-design();
      @include fade-effects();
      @include fade-placement();
    }
  }
  main,
  aside,
  section {
    menu {
      @include fade-design();
      @include fade-effects();
      @include fade-placement();
    }
  }
}
