//--|🠊 Aside.characters.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Division) 🠋|--\\
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Division) 🠋|--\\
}

aside[class*='characters'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

//--|🠊 ProfileOvertime.scss 🠈|--\\
/*
@use '../../../../../designs/Palettes.scss';
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  // height: 100%;

  // background: rgba(darkblue, 0.25);
  .one {
    background: rgba(orange, 0.5);
  }
  .two {
    background: rgba(purple, 0.5);
  }
  .thr {
    background: rgba(black, 0.5);
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--//
}
*/
