//--|🠊 Aside.characters.scss 🠈|--\\
@use '../../../styles/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠋 Desktop (Characters) 🠋|--\\
  div[class='characters'] {
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    grid-template: repeat(4, auto) 1fr //--|🠈 rows 🠈|--//
      / repeat(3, auto); //--|🠈 columns 🠈|--\\
    button {
      padding-top: 4px;
      padding-bottom: 4px;
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(6) {
        grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(7) {
        grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(8) {
        grid-area: 4 / 1 / 5 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(9) {
        grid-area: 4 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
  }
  //--|===|--\\
  width: 398px; //--|🠊 96px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Width: 1920px 🠋|--\\
    64px 1fr auto 1fr 64px //--|🠈 rows 🠈|--//
    / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
  mask-image: linear-gradient(to bottom, transparent 0%, black 2rem, black calc(100% - 2rem), transparent 100%);
  @media screen and (max-height: 768px) {
    width: 321px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 1366px 🠋|--\\
      48px 1fr auto 1fr 48px //--|🠈 rows 🠈|--//
      / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
    mask-image: linear-gradient(to bottom, transparent 0%, black 1.5rem, black calc(100% - 1.5rem), transparent 100%);
  }
  @media screen and (max-height: 480px) {
    width: 230px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 854px 🠋|--\\
      32px 1fr auto 1fr 32px //--|🠈 rows 🠈|--//
      / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
    mask-image: linear-gradient(to bottom, transparent 0%, black 1rem, black calc(100% - 1rem), transparent 100%);
  }
  @media screen and (max-height: 360px) {
    width: 139px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 640px 🠋|--\\
      24px 1fr auto 1fr 24px //--|🠈 rows 🠈|--//
      / 16px 1fr 16px; //--|🠈 columns 🠈|--\\
    mask-image: linear-gradient(to bottom, transparent 0%, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
  }

  //--|🠊 Style View 🠈|--\\
  &[class*='lef_'] {
    margin-right: auto;
  }
  &[class*='rig_'] {
    margin-left: auto;
  }
  //--|🠊 Style Color & Shade 🠈|--\\
  &[class*='_dar_'] {
    &[class*='_mon'] {
      background: Palettes.$gray-darkMode;
    }
    &[class*='_red'] {
      background: Palettes.$red-darkMode;
    }
    &[class*='_gre'] {
      background: Palettes.$green-darkMode;
    }
    &[class*='_blu'] {
      background: Palettes.$blue-darkMode;
    }
    &[class*='_pur'] {
      background: Palettes.$purple-darkMode;
    }
    &[class*='_ora'] {
      background: Palettes.$orange-darkMode;
    }
    &[class*='_pin'] {
      background: Palettes.$pink-darkMode;
    }
    &[class*='_yel'] {
      background: Palettes.$yellow-darkMode;
    }
    &[class*='_bro'] {
      background: Palettes.$brown-darkMode;
    }
    &[class*='_tur'] {
      background: Palettes.$turquoise-darkMode;
    }
  }
  &[class*='_lig_'] {
    &[class*='_mon'] {
      background: Palettes.$gray-lightMode;
    }
    &[class*='_red'] {
      background: Palettes.$red-lightMode;
    }
    &[class*='_gre'] {
      background: Palettes.$green-lightMode;
    }
    &[class*='_blu'] {
      background: Palettes.$blue-lightMode;
    }
    &[class*='_pur'] {
      background: Palettes.$purple-lightMode;
    }
    &[class*='_ora'] {
      background: Palettes.$orange-lightMode;
    }
    &[class*='_pin'] {
      background: Palettes.$pink-lightMode;
    }
    &[class*='_yel'] {
      background: Palettes.$yellow-lightMode;
    }
    &[class*='_bro'] {
      background: Palettes.$brown-lightMode;
    }
    &[class*='_tur'] {
      background: Palettes.$turquoise-lightMode;
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Characters) 🠋|--\\
  div[class='characters'] {
    width: 100%;
    grid-gap: 8px 0; //--|🠈 Top & Bot / Lef & Rig 🠈|--\\
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-area: 2 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    grid-template: repeat(9, auto) 1fr //--|🠈 rows 🠈|--//
      / 1fr; //--|🠈 columns 🠈|--\\
    button {
      /*
      padding-top: 4px;
      padding-bottom: 4px;
      */
      &:nth-child(1) {
        grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(2) {
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(4) {
        grid-area: 4 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(5) {
        grid-area: 5 / 2 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(6) {
        grid-area: 6 / 2 / 7 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(7) {
        grid-area: 7 / 2 / 8 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(8) {
        grid-area: 8 / 2 / 9 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &:nth-child(9) {
        grid-area: 9 / 2 / 10 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    //--|===|--\\
    overflow-y: auto;
    scrollbar-width: none; //--|🠈 Firefox 🠈|--\\
    -ms-overflow-style: none; //--|🠈 IE/Edge 🠈|--\\
    &::-webkit-scrollbar {
      display: none; //--|🠈 Chrome/Safari 🠈|--\\
    }
  }
  //--|===|--\\
  width: 228px; //--|🠊 64px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Height: 1920px 🠋|--\\
    calc(96px * 2) 9fr 1fr 96px //--|🠈 rows 🠈|--//
    / 64px 1fr 64px; //--|🠈 columns 🠈|--\\

  mask-image: linear-gradient(to bottom, transparent 0%, black 3rem, black calc(100% - 3rem), transparent 100%);
  &::before {
    width: 138px;
  }
  div[class='characters'] {
    padding: 0 24px;
    button:first-child {
      padding-top: 48px;
    }
    mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
  }
  @media screen and (max-width: 768px) {
    width: 198px; //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 1366px 🠋|--\\
      calc(80px * 2) 9fr 1fr 80px //--|🠈 rows 🠈|--//
      / 48px 1fr 48px; //--|🠈 columns 🠈|--\\

    mask-image: linear-gradient(to bottom, transparent 0%, black 2.5rem, black calc(100% - 2.5rem), transparent 100%);
    &::before {
      width: 123px;
    }
    div[class='characters'] {
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
      button:first-child {
        padding-top: 40px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    width: 132px; //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 854px 🠋|--\\
      calc(48px * 2) 9fr 1fr 48px //--|🠈 rows 🠈|--//
      / 32px 1fr 32px; //--|🠈 columns 🠈|--\\

    mask-image: linear-gradient(to bottom, transparent 0%, black 1.5rem, black calc(100% - 1.5rem), transparent 100%);
    &::before {
      width: 82px;
    }
    div[class='characters'] {
      padding: 0 16px;
      button:first-child {
        padding-top: 24px;
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
    }
  }
  @media screen and (max-width: 360px) {
    width: 80px; //--|🠊 24px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 640px 🠋|--\\
      calc(32px * 2) 9fr 1fr 32px //--|🠈 rows 🠈|--//
      / 24px 1fr 24px; //--|🠈 columns 🠈|--\\

    mask-image: linear-gradient(to bottom, transparent 0%, black 1rem, black calc(100% - 1rem), transparent 100%);
    &::before {
      width: 57px;
    }
    div[class='characters'] {
      button:first-child {
        padding-top: 16px;
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
    }
  }

  //--|🠊 Style View 🠈|--\\
  &[class*='lef_'] {
    margin-right: auto;
    &::before {
      left: 0;
    }
    button {
      margin-right: auto;
    }
  }
  &[class*='rig_'] {
    margin-left: auto;
    &::before {
      right: 0;
    }
    button {
      margin-left: auto;
    }
  }
  //--|🠊 Style Shade 🠈|--\\
  &::before {
    content: '';
    height: 100%;
    position: absolute;
  }
  &[class*='_dar_']::before {
    background: Palettes.$indexLand-darkMode;
  }
  &[class*='_lig_']::before {
    background: Palettes.$indexLand-lightMode;
  }
}

aside[class*='characters-default'] {
  display: grid;
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
