// Menu.anchor.scss
body {
  header,
  footer {
    menu.anchors {
      display: grid;
      //--|🠋 Desktop (Landscape) 🠋|--//
      @media screen and (orientation: landscape) {
        grid-template-rows: 4rem;
      }
      //--|🠋 Mobile (Portrait) 🠋|--//
      @media screen and (orientation: portrait) {
        grid-template-rows: 6rem;
      }
      a:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      }
      a:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      }
      a:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      }
      a:nth-child(4) {
        grid-area: 1 / 4 / 2 / 5; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      }
      a:nth-child(5) {
        grid-area: 1 / 5 / 2 / 6; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
      }
      a[id*='active'] {
        h3,
        h6 {
          color: white;
          cursor: default;
        }
      }
    }
  }
  main,
  aside,
  section {
    menu.anchors {
      display: none;
    }
  }
}
