//--|🠊 RoutingButtons.scss 🠈|--\\
@use '../../../../../../designs/Mixins.scss';
@use '../../../../../../designs/Palettes.scss';

@mixin desktop-landscape {
  aside[class*='routing'] {
    // height: inherit; //--|🠈 height: 100%; 🠈|--\\
    //--|🠋 Desktop (Layers) 🠋|--\\
    section[class*='foreground'] {
      background: rgba(darkblue, 0.5);
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    figure[class*='midground'] {
    }
    div[class*='background'] {
    }

    @include Mixins.landscape-grid;
  }
}
@mixin mobile-portrait {
  aside[class*='routing'] {
    height: inherit; //--|🠈 height: 100%; 🠈|--\\

    //--|🠋 Mobile (Layers) 🠋|--\\
    section[class*='foreground'] {
    }
    figure[class*='midground'] {
    }
    div[class*='background'] {
    }

    @include Mixins.portrait-grid;
  }
}
