@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 4rem / auto 1fr; //~~|🠊 rows / columns 🠈|~~//
  menu {
    height: 4rem;
    a {
      display: none;
    }
  }

  background: $red-neon !important;
}
@mixin mobile-portrait {
  menu {
    height: 6rem;
    display: none;
    button {
      display: none;
    }
  }

  background: $blue-neon !important;
}
header[id*='index'] {
  display: grid;
  grid-area: 1 / 1 / 2 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//

  .signature-adjacent {
    height: 2rem;
    margin: 1rem 3rem;
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
