//--|🠊 Section.profile.scss 🠈|--\\
@mixin desktop-landscape {
  display: grid;

  menu {
    grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\

    // display: flex;
    li {
      width: 448px;
      height: 672px;
      background: rgba(darkred, 0.25);
    }
  }

  grid-template: //--|🠋 1080px 🠋|--\\
    4rem 1fr 4rem //--|🠈 rows 🠈|--//
    / 48px 350px 1fr auto 1fr 350px 48px; //--|🠈 columns 🠈|--//
  @media screen and (max-height: 768px) {
    grid-template: //--|🠋 1366px 🠋|--\\
      3rem 1fr 3rem //--|🠈 rows 🠈|--//
      / 32px 290px 1fr auto 1fr 290px 32px; //--|🠈 columns 🠈|--//
  }
  @media screen and (max-height: 480px) {
    grid-template: //--|🠋 854px 🠋|--\\
      2rem 1fr 2rem //--|🠈 rows 🠈|--//
      / 24px 206px 1fr auto 1fr 206px 24px; //--|🠈 columns 🠈|--//
  }
  @media screen and (max-height: 360px) {
    grid-template: //--|🠋 640px 🠋|--\\
      1.5rem 1fr 1.5rem //--|🠈 rows 🠈|--//
      / 16px 140px 1fr auto 1fr 140px 16px; //--|🠈 columns 🠈|--//
  }
  &.jane-lester {
    menu {
      li {
        background: rgba(darkred, 0.25);
      }
    }
  }
  &.hammad-dean {
    menu {
      li {
        background: rgba(darkblue, 0.25);
      }
    }
  }
  /*
  */

  /*
  //--|🠋 96px (Left & Right) for Design 🠋|--\\
  grid-template: //--|🠋 1080px 🠋|--\\
    repeat(2, 4rem) repeat(7, 1fr) repeat(2, 4rem) //--|🠈 rows 🠈|--//
    / 48px 1fr 512px 482px 48px; //--|🠈 columns 🠈|--//
  //--|🠋 64px (Left & Right) for Design 🠋|--\\
  @media screen and (max-height: 768px) {
    grid-template: repeat(2, 3rem) repeat(7, 1fr) repeat(2, 3rem) //--|🠈 rows 🠈|--//
      / 32px 1fr 360px 343px 32px; //--|🠈 columns 🠈|--//
  }
  //--|🠋 48px (Left & Right) for Design 🠋|--\\
  @media screen and (max-height: 480px) {
    grid-template: repeat(2, 2rem) repeat(7, 1fr) repeat(2, 2rem) //--|🠈 rows 🠈|--//
      / 24px 1fr 228px 211px 24px; //--|🠈 columns 🠈|--//
  }
  //--|🠋 32px (Left & Right) for Design 🠋|--\\
  @media screen and (max-height: 360px) {
    grid-template: repeat(2, 1.5rem) repeat(7, 1fr) repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
      / 16px 1fr 168px 159px 16px; //--|🠈 columns 🠈|--//
  }
  */
}
@mixin mobile-portrait {
}

section[class*='profile-header'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
