//--|🠊 Footer.select.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  /*
  //--|🠋 X-axis 🠋|--\\
  &[class*='cen'] {
    ul[class*='hori-X-select'] {
      // position: relative;
      // li[class*='preview'] {
      //   z-index: 1;
      //   display: grid;
      //   @extend %grid-size;
      //   div[class*='view'] {
      //     z-index: 1;
      //     &[class*='prev'] {
      //       grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      //     }
      //     &[class*='next'] {
      //       grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      //     }
      //   }
      // }
      // li[class*='showing'] {
      //   z-index: 0;
      //   display: flex;
      //   @extend %flex-size;
      //   @extend %flex-view;
      //   aside {
      //     z-index: 0;
      //     flex: 0 0 100%;
      //     display: inherit; //--|🠈 display: flex 🠈|--\\
      //     align-items: center;
      //     justify-content: center;
      //   }
      // }
      // li[class*='horizontal'] {
      //   inset: 0;
      //   position: absolute;
      // }

      // //--|🠋 X-axis 🠋|--\\
      // %flex-size {
      //   height: 128px; //--|🠈 128px for Squares 🠈|--\\
      //   margin: 0 128px;
      //   @media screen and (max-height: 768px) {
      //     height: 96px; //--|🠈 96px for Squares 🠈|--\\
      //     margin: 0 96px;
      //   }
      //   @media screen and (max-height: 480px) {
      //     height: 64px; //--|🠈 64px for Squares 🠈|--\\
      //     margin: 0 64px;
      //   }
      //   @media screen and (max-height: 360px) {
      //     height: 48px; //--|🠈 48px for Squares 🠈|--\\
      //     margin: 0 48px;
      //   }
      // }
      // %flex-view {
      //   transition: transform 500ms ease-in-out;
      //   &[class*='horizontal_I'] {
      //     transform: translateX(0);
      //   }
      //   &[class*='horizontal_II'] {
      //     transform: translateX(-100%);
      //   }
      //   &[class*='horizontal_III'] {
      //     transform: translateX(-200%);
      //   }
      //   &[class*='horizontal_IV'] {
      //     transform: translateX(-300%);
      //   }
      //   &[class*='horizontal_V'] {
      //     transform: translateX(-400%);
      //   }
      //   &[class*='horizontal_VI'] {
      //     transform: translateX(-500%);
      //   }
      //   &[class*='horizontal_VII'] {
      //     transform: translateX(-600%);
      //   }
      //   &[class*='horizontal_VIII'] {
      //     transform: translateX(-700%);
      //   }
      //   &[class*='horizontal_IX'] {
      //     transform: translateX(-800%);
      //   }
      //   &[class*='horizontal_X'] {
      //     transform: translateX(-900%);
      //   }
      //   &[class*='horizontal_XI'] {
      //     transform: translateX(-1000%);
      //   }
      //   &[class*='horizontal_XII'] {
      //     transform: translateX(-1100%);
      //   }
      //   &[class*='horizontal_XIII'] {
      //     transform: translateX(-1200%);
      //   }
      //   &[class*='horizontal_XIV'] {
      //     transform: translateX(-1300%);
      //   }
      //   &[class*='horizontal_XV'] {
      //     transform: translateX(-1400%);
      //   }
      //   &[class*='horizontal_XVI'] {
      //     transform: translateX(-1500%);
      //   }
      //   &[class*='horizontal_XVII'] {
      //     transform: translateX(-1600%);
      //   }
      //   &[class*='horizontal_XVIII'] {
      //     transform: translateX(-1700%);
      //   }
      //   &[class*='horizontal_XIX'] {
      //     transform: translateX(-1800%);
      //   }
      //   &[class*='horizontal_XX'] {
      //     transform: translateX(-1900%);
      //   }
      // }
      // %grid-size {
      //   height: 128px; //--|🠈 128px for Squares 🠈|--\\
      //   grid-template: 128px //--|🠈 rows 🠈|--//
      //     / 128px 1fr 128px; //--|🠈 columns 🠈|--\\
      //   @media screen and (max-height: 768px) {
      //     height: 96px; //--|🠈 96px for Squares 🠈|--\\
      //     grid-template: 96px //--|🠈 rows 🠈|--//
      //       / 96px 1fr 96px; //--|🠈 columns 🠈|--\\
      //   }
      //   @media screen and (max-height: 480px) {
      //     height: 64px; //--|🠈 64px for Squares 🠈|--\\
      //     grid-template: 64px //--|🠈 rows 🠈|--//
      //       / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
      //   }
      //   @media screen and (max-height: 360px) {
      //     height: 48px; //--|🠈 48px for Squares 🠈|--\\
      //     grid-template: 48px //--|🠈 rows 🠈|--//
      //       / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
      //   }
      // }
    }

    height: 128px; //--|🠈 128px for Squares 🠈|--\\
    @media screen and (max-height: 768px) {
      height: 96px; //--|🠈 96px for Squares 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      height: 64px; //--|🠈 64px for Squares 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      height: 48px; //--|🠈 48px for Squares 🠈|--\\
    }
  }

  //--|🠋 Y-axis 🠋|--\\
  &[class*='mid'] {
    overflow-y: auto;
    overflow-x: hidden;
    &[class*='lef'] {
      direction: rtl; //--|🠈 Move Scrollbar to the Left 🠈|--\\
      ol[class*='vert-Y-select'] li[class='preview-vertical'] {
        div[class*='view'] {
          position: relative;
          transition: left 250ms ease-in-out;
          &[class*='downplay'] {
            left: -128px;
            @media screen and (max-height: 768px) {
              left: -96px;
            }
            @media screen and (max-height: 480px) {
              left: -64px;
            }
            @media screen and (max-height: 360px) {
              left: -48px;
            }
          }
          &[class*='highlight'] {
            left: 0px;
          }
        }
      }
    }
    &[class*='rig'] {
      direction: ltr; //--|🠈 Move Scrollbar to the Right 🠈|--\\
      ol[class*='vert-Y-select'] li[class='preview-vertical'] {
        div[class*='view'] {
          position: relative;
          transition: right 250ms ease-in-out;
          &[class*='downplay'] {
            right: -128px;
            @media screen and (max-height: 768px) {
              right: -96px;
            }
            @media screen and (max-height: 480px) {
              right: -64px;
            }
            @media screen and (max-height: 360px) {
              right: -48px;
            }
          }
          &[class*='highlight'] {
            right: 0px;
          }
        }
      }
    }
    ol[class*='vert-Y-select'] {
      li[class='preview-vertical'] {
        div[class*='view'] {
          padding: 1rem 0;
          @media screen and (max-height: 768px) {
            padding: 0.75rem 0;
          }
          @media screen and (max-height: 480px) {
            padding: 0.5rem 0;
          }
          @media screen and (max-height: 360px) {
            padding: 0.25rem 0;
          }
        }
      }
    }
    width: 128px; //--|🠈 128px for Squares 🠈|--\\
    mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
    @media screen and (max-height: 768px) {
      width: 96px; //--|🠈 96px for Squares 🠈|--\\
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
    }
    @media screen and (max-height: 480px) {
      width: 64px; //--|🠈 64px for Squares 🠈|--\\
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
    }
    @media screen and (max-height: 360px) {
      width: 48px; //--|🠈 48px for Squares 🠈|--\\
      mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
    }
  }
  */
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--\\
}

footer[class*='select'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }

  /*
  *[class*='select'] {
    [class*='highlight'],
    [class*='downplay'] {
      transition:
        opacity 1500ms ease-in-out,
        filter 750ms ease-in-out;
      &[class*='highlight'] {
        opacity: 1;
        // filter: blur(0px);
      }
      &[class*='downplay'] {
        opacity: 0.5;
        // filter: blur(24px);
        * {
          cursor: default;
        }
      }
    }
  }
  */
}
