//--|🠊 Button_default.scss 🠈|--//
@use './pipeline/Button_placing.scss';
@use './pipeline/Button_surface.scss';
@use './pipeline/Button_motions.scss';
@use './pipeline/Button_shadows.scss';
@use './pipeline/Button_scaling.scss';

@mixin extend-desktop {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @include Button_motions.desktop-motions();
  @include Button_placing.desktop-placing();
  @include Button_scaling.desktop-scaling();
  @include Button_shadows.desktop-shadows();
  @include Button_surface.desktop-surface();
}
@mixin extend-mobile {
  //--|🠋 Mobile (Portrait) 🠋|--//
  @include Button_motions.mobile-motions();
  @include Button_placing.mobile-placing();
  @include Button_scaling.mobile-scaling();
  @include Button_shadows.mobile-shadows();
  @include Button_surface.mobile-surface();
}

/*
  Button Ideas
Expand
Shrink
*/
/*
    div[class*='_top_'] {
      //--|🠊 display: grid; 🠈|--//
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Top & Bottom (Template) 🠋|--//
      grid-template: repeat(5, 1fr) / repeat(5, 1fr);
      &[class*='_text'] {
        z-index: 1;

        span[class*='_text'] {
          display: inherit; //--|🠈 display: grid; 🠈|--//
          grid-template: 1fr auto 1fr / 1fr auto 1fr; //--|🠈 rows / cols 🠈|--//
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          }
        }
        span[class*='_top_'],
        span[class*='_bot_'] {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            cursor: pointer;
            padding: 8px 1rem;
            border-radius: 8px;
          }
        }
      }
      &[class*='_icon'] {
        z-index: 0;
        span[class*='_icon'] {
          display: flex;
          cursor: pointer;
          justify-content: center;
        }
      }
    }
    */
/*
    div[class*='_lef_'] {
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Left (Template) 🠋|--//
      grid-template: 1fr auto 1fr / 1rem 4rem auto 1fr 1rem;

      span[class*='_icon'] {
        display: flex;
        cursor: pointer;
      }
      span[class*='_text'] {
        display: inherit; //--|🠈 display: grid; 🠈|--//
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          text-align: left;
          grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
      }
      span[class*='_back'] {
        width: 100%;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      &[class*='_text'] {
        z-index: 2;
      }
      &[class*='_icon'] {
        z-index: 1;
      }
      &[class*='_back'] {
        z-index: 0;
      }
    }
    */
/*
    div[class*='_rig_'] {
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Right (Template) 🠋|--//
      grid-template: 1fr auto 1fr/1rem 1fr auto 4rem 1rem;
      span[class*='_icon'] {
        display: flex;
        img {
          cursor: pointer;
        }
      }
      span[class*='_text'] {
        display: inherit; //--|🠈 display: grid; 🠈|--//
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          // background: red;
          text-align: right;
          grid-area: 2 / 4 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
      }
      span[class*='_back'] {
        width: 100%;
        background: blue;

        grid-area: 2 / 4 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      &[class*='_text'] {
        z-index: 2;
      }
      &[class*='_icon'] {
        z-index: 1;
      }
      &[class*='_back'] {
        z-index: 0;
      }
    }
    */
/*
    div[class*='_cen_'] {
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Center (Template) 🠋|--//
      grid-template: 1fr auto 1fr / 1rem 1fr 4rem 1fr 1rem;
      span[class*='_icon'] {
        display: flex;
        img {
          cursor: pointer;
        }
      }
      span[class*='_text'] {
        display: inherit; //--|🠈 display: grid; 🠈|--//
        grid-template: 1fr auto 1fr/1rem 1fr 4rem 1fr 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          text-align: center;
          grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
      }
      span[class*='_back'] {
        width: 100%;
        background: blue;

        grid-area: 2 / 4 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      &[class*='_text'] {
        z-index: 2;
      }
      &[class*='_icon'] {
        z-index: 1;
      }
      &[class*='_back'] {
        z-index: 0;
      }
    }
    */
/*
    div[class*='_tex_'] {
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Center (Template) 🠋|--//
      grid-template: 1fr auto 1fr/1rem 1fr auto 1fr 1rem;
      span[class*='_icon'] {
        display: none;
      }
      span[class*='_text'] {
        display: inherit; //--|🠈 display: grid; 🠈|--//
        grid-template: 1fr auto 1fr/1rem 1fr auto 1fr 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          text-align: center;
          grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
      }
      span[class*='_back'] {
        width: 100%;
        background: blue;

        grid-area: 2 / 4 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      &[class*='_text'] {
        z-index: 2;
      }
      &[class*='_icon'] {
        z-index: 1;
      }
      &[class*='_back'] {
        z-index: 0;
      }
    }
    */
/*
    div[class*='_ico_'] {
      width: 100%;
      height: 100%;
      display: grid;
      position: absolute;

      //--|🠋 Center (Template) 🠋|--//
      grid-template: 1fr auto 1fr / 1rem 1fr 4rem 1fr 1rem;
      span[class*='_icon'] {
        display: flex;
        img {
          cursor: pointer;
        }
      }

      span[class*='_back'] {
        width: 100%;
        background: blue;

        grid-area: 2 / 4 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      &[class*='_icon'] {
        z-index: 1;
      }
      &[class*='_back'] {
        z-index: 0;
      }

      &[class*='_text'] {
        display: none;
        span[class*='_text'] {
          display: none; //--|🠈 display: grid; 🠈|--//
          grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        }
      }
    }
    */
/*
%align-left {
  //--|🠊 display: flex; 🠈|--//
  &[class*='_lef_'] {
    margin: 0;
    display: flex;
    text-align: left;
    padding-left: 8px;
  }
}
%align-right {
  //--|🠊 display: flex; 🠈|--//
  &[class*='_rig_'] {
    text-align: right;
    padding-right: 8px;
  }
}
*/
