//--|🠊 Button.default.scss 🠈|--//
@use './Button_default.scss';

@mixin desktop-landscape {
  //--|🠉 display: flex; 🠉|--//

  //--|🠊 button[class*='default'] 🠈|--//
  div[class*='one_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h1 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h1 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h1 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h1 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        border-radius: 8px;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='two_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h2 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h2 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h2 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h2 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='thr_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h3 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h3 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h3 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h3 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='fou_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h4 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h4 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h4 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h4 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='fiv_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h5 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h5 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h5 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h5 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='six_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h6 {
          margin: 0;
          padding-left: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h6 {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h6 {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        h6 {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2/ 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }
  div[class*='par_'] {
    //--|🠊 display: grid; 🠈|--//
    &[class*='_top_'] {
      //--|🠊 Top <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        //--|🠊 grid-template: repeat(5, 1fr) / repeat(5, 1fr); 🠈|--//
        grid-area: 1 / 1 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_bot_'] {
      //--|🠊 Bottom <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 1 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 4 / 1 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_lef_'] {
      //--|🠊 Left <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
          // //--|🠋 Desktop (Landscape) 🠋|--//
          // @media screen and (max-height: 360px) {
          //   width: 1.5rem;
          //   height: 1.5rem;
          // }
        }
      }
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        p {
          margin: 0;
          padding-left: 4rem;
          /* padding-left: 4rem; */
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_rig_'] {
      //--|🠊 Right <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        p {
          margin: 0;
          padding-right: 4rem;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 2 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        padding: 8px 1rem 8px 4rem;
      }
    }
    &[class*='_cen_'] {
      //--|🠊 Center <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        p {
          margin: 0;
        }
      }
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
    }
    &[class*='_tex_'] {
      //--|🠊 Text <button> Element 🠈|--//
      span[class*='_text'] {
        //--|🠊 display: grid; 🠈|--//
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        p {
          margin: 0;
        }
      }
      span[class*='_back'] {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        padding: 0 1rem;
        grid-area: 2 / 2 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_icon'] {
        display: none;
      }
    }
    &[class*='_ico_'] {
      //--|🠊 Icon <button> Element 🠈|--//
      span[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        padding-top: 6px;
        grid-area: 1 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        img {
          width: 100%;
          height: 100%;
        }
      }
      span[class*='_back'] {
        width: 100%;
        /* height: 4rem; */
        border-radius: 8px;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      span[class*='_text'] {
        display: none;
      }
    }
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
    div[class*='one_'],
    div[class*='two_'],
    div[class*='thr_'] {
      &[class*='_top_'] {
        //--|🠊 Paragraph Tags inside button[class*='default'] wrapping <p> elements with a max-height of 360 Pixels 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h1,
          h2,
          h3 {
            padding: 4px 8px;
            line-height: 0.75;
          }
        }
      }
      &[class*='_bot_'] {
        //--|🠊 Bottom <button> Element 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h1,
          h2,
          h3 {
            padding: 4px 8px;
            line-height: 0.75;
          }
        }
      }
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 3rem auto 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
        span[class*='_text'] {
          h1 {
            font-size: 1.5rem;
            padding: 0 0 0 2.5rem;
          }
          h2,
          h3 {
            margin: 0;
            text-align: left;
          }
        }
        span[class*='_back'] {
          height: 2.25rem;
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 3rem 4px;
        span[class*='_icon'] {
          &[class*='one_'],
          &[class*='two_'],
          &[class*='thr_'] {
            img {
              width: 3rem;
              height: 3rem;
            }
          }
        }
        span[class*='_text'] {
          h1 {
            margin: 0;
            font-size: 1.5rem;
            padding-right: 2.25rem;
          }
          h2,
          h3 {
            margin: 0;
            padding-right: 3rem;
          }
        }
        span[class*='_back'] {
          height: 2.25rem;
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 3rem;
            height: 3rem;
            margin-top: 2px;
          }
        }
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3 {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 2.25rem;
        }
      }
      &[class*='_tex_'] {
        span[class*='_text'] {
          h1,
          h2,
          h3 {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 2.25rem;
        }
      }
      &[class*='_ico_'] {
        grid-template: 1fr 2.25rem 1fr/4px 1fr 2.25rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
        span[class*='_back'] {
          height: 2.25rem;
          width: 2.25rem;
        }
      }
    }

    div[class*='fou_'],
    div[class*='fiv_'],
    div[class*='six_'] {
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1.5rem auto 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 1.75rem;
            height: 1.75rem;
            padding-top: 10px;
          }
        }
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            text-align: left;
            padding: 0 0 0 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.75rem;
          h4,
          h5,
          h6 {
            font-size: 1.62rem;
          }
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 1.5rem 4px;
        span[class*='_icon'] {
          img {
            width: 1.75rem;
            height: 1.75rem;
            padding-top: 3.5rem;
          }
        }
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            padding: 0 1.5rem 0 0;
            /* padding-right: 1.5rem; */
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.75rem;
          h4,
          h5,
          h6 {
            font-size: 1.62rem;
          }
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 2.25rem 1fr 4px;
        span[class*='_text'] {
          width: 100%;
          h4,
          h5,
          h6 {
            margin: 0;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.75rem;
        }
      }
      &[class*='_tex_'] {
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h4,
          h5,
          h6 {
            margin: 0;
            padding: 4px 8px;
          }
        }
      }
      &[class*='_ico_'] {
        grid-template: 1fr 1.75rem 1fr/4px 1fr 1.75rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
        span[class*='_back'] {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }

    div[class*='par_'] {
      //--|🠊 display: grid; 🠈|--//
      &[class*='_top_'] {
        //--|🠊 Paragraph Tags inside button[class*='default'] wrapping <p> elements with a max-height of 360 Pixels 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          p {
            padding: 2px 4px;
            margin: 1px 0 0 0;
            line-height: 0.75;
            font-size: 0.75rem;
            border-radius: 4px;

            // color: darkred !important;
          }
        }
      }
      &[class*='_bot_'] {
        //--|🠊 Bottom <button> Element 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          p {
            padding: 2px 4px;
            margin: 1px 0 0 0;
            line-height: 0.75;
            font-size: 0.75rem;
            border-radius: 4px;
          }
        }
      }
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1.5rem auto 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          p {
            margin: 0;
            text-align: left;
            font-size: 0.75rem;
            padding: 0 0 0 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          p {
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 1.5rem 4px;
        span[class*='_icon'] {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          p {
            margin: 0;
            text-align: right;
            font-size: 0.75rem;
            margin-right: 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          p {
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 14px;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            text-align: center;
            font-size: 0.75rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            padding: inherit;
            font-size: 1.5rem;
          }
        }
      }
      &[class*='_tex_'] {
        //--|🠊 Text <button> Element 🠈|--//
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            text-align: center;
            font-size: 0.75rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            padding: inherit;
            font-size: 1.5rem;
          }
        }
      }
      &[class*='_ico_'] {
        //--|🠊 Icon <button> Element 🠈|--//
        grid-template: 1fr 1.5rem 1fr/4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
      }
    }
  }
  @media screen and (max-height: 360px) {
    div[class*='one_'],
    div[class*='two_'],
    div[class*='thr_'] {
      &[class*='_top_'] {
        //--|🠊 Paragraph Tags inside button[class*='default'] wrapping <p> elements with a max-height of 360 Pixels 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h1,
          h2,
          h3 {
            padding: 4px 8px;
            line-height: 0.75;
            font-size: 1.75rem;
            border-radius: 2px;
          }
        }
      }
      &[class*='_bot_'] {
        //--|🠊 Bottom <button> Element 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h1,
          h2,
          h3 {
            padding: 4px 8px;
            line-height: 0.75;
            font-size: 1.75rem;
            border-radius: 2px;
          }
        }
      }
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1.5rem auto 1fr 4px;
        span[class*='_icon'] {
          &[class*='one_'],
          &[class*='two_'],
          &[class*='thr_'] {
            img {
              width: 2.25rem;
              height: 2.25rem;
            }
          }
        }
        span[class*='_text'] {
          h1,
          h2,
          h3 {
            margin: 0;
            text-align: left;
            font-size: 1.5rem;
            padding: 0 0 0 2.25rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3 {
            font-size: 1.55rem;
          }
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 2.25rem 4px;
        span[class*='_icon'] {
          &[class*='one_'],
          &[class*='two_'],
          &[class*='thr_'] {
            img {
              width: 2.25rem;
              height: 2.25rem;
            }
          }
        }
        span[class*='_text'] {
          h1,
          h2,
          h3 {
            margin: 0;
            font-size: 1.5rem;
            padding-right: 3rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3 {
            font-size: 1.55rem;
          }
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 2.25rem;
            height: 2.25rem;
          }
        }
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3 {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3 {
            margin: 0;
            padding: inherit;
            font-size: 1.5rem;
          }
        }
      }
      &[class*='_tex_'] {
        span[class*='_text'] {
          h1,
          h2,
          h3 {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.75rem;
          h1,
          h2,
          h3 {
            margin: 0;
            padding: inherit;
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_ico_'] {
        grid-template: 1fr 2.25rem 1fr/4px 1fr 2.25rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
        span[class*='_back'] {
          height: 2.25rem;
          width: 2.25rem;
        }
      }
    }
    div[class*='fou_'],
    div[class*='fiv_'],
    div[class*='six_'] {
      &[class*='_top_'] {
        //--|🠊 Paragraph Tags inside button[class*='default'] wrapping <p> elements with a max-height of 360 Pixels 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h4,
          h5,
          h6 {
            padding: 4px 8px;
            line-height: 0.75;
            font-size: 1.25rem;
            border-radius: 2px;
          }
        }
      }
      &[class*='_bot_'] {
        //--|🠊 Bottom <button> Element 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          h4,
          h5,
          h6 {
            padding: 4px 8px;
            line-height: 0.75;
            font-size: 1.25rem;
            border-radius: 2px;
          }
        }
      }
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1.5rem auto 1fr 4px;
        span[class*='_icon'] {
          &[class*='fou_'],
          &[class*='fiv_'],
          &[class*='six_'] {
            img {
              width: 2.25rem;
              height: 2.25rem;
            }
          }
        }
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            text-align: left;
            font-size: 1.25rem;
            padding: 0 0 0 2.25rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h4,
          h5,
          h6 {
            font-size: 1.55rem;
          }
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 2.25rem 4px;
        span[class*='_icon'] {
          &[class*='fou_'],
          &[class*='fiv_'],
          &[class*='six_'] {
            img {
              width: 2.25rem;
              height: 2.25rem;
            }
          }
        }
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            font-size: 1.25rem;
            padding-right: 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h4,
          h5,
          h6 {
            font-size: 1.55rem;
          }
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 2.25rem;
            height: 2.25rem;
          }
        }
        span[class*='_text'] {
          width: 100%;
          h4,
          h5,
          h6 {
            margin: 0;
            font-size: 1.25rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h4,
          h5,
          h6 {
            margin: 0;
            font-size: 1.25rem;
          }
        }
      }
      &[class*='_tex_'] {
        span[class*='_text'] {
          h4,
          h5,
          h6 {
            margin: 0;
            font-size: 1.25rem;
            text-align: center;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h4,
          h5,
          h6 {
            margin: 0;
            padding: inherit;
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_ico_'] {
        grid-template: 1fr 1.75rem 1fr/4px 1fr 1.75rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
        span[class*='_back'] {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
    div[class*='par_'] {
      //--|🠊 display: grid; 🠈|--//
      &[class*='_top_'] {
        //--|🠊 Paragraph Tags inside button[class*='default'] wrapping <p> elements with a max-height of 360 Pixels 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          p {
            padding: 2px 4px;
            margin: 1px 0 0 0;
            line-height: 0.75;
            font-size: 0.75rem;
            border-radius: 4px;

            // color: darkred !important;
          }
        }
      }
      &[class*='_bot_'] {
        //--|🠊 Bottom <button> Element 🠈|--//
        span[class*='_text'] {
          //--|🠊 display: grid; 🠈|--//
          p {
            padding: 2px 4px;
            margin: 1px 0 0 0;
            line-height: 0.75;
            font-size: 0.75rem;
            border-radius: 4px;
          }
        }
      }
      &[class*='_lef_'] {
        //--|🠊 Left <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1.5rem auto 1fr 4px;
        span[class*='_icon'] {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          p {
            margin: 0;
            text-align: left;
            font-size: 0.75rem;
            padding: 0 0 0 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          p {
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_rig_'] {
        //--|🠊 Right <button> Element 🠈|--//
        grid-template: 1fr auto 1fr/4px 1fr auto 1.5rem 4px;
        span[class*='_icon'] {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          p {
            margin: 0;
            text-align: right;
            font-size: 0.75rem;
            margin-right: 1.5rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          p {
            font-size: 1.125rem;
          }
        }
      }
      &[class*='_cen_'] {
        //--|🠊 Center <button> Element 🠈|--//
        grid-template: 1fr auto 1fr / 4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 12px;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            text-align: center;
            font-size: 0.75rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            padding: inherit;
            font-size: 1.5rem;
          }
        }
      }
      &[class*='_tex_'] {
        //--|🠊 Text <button> Element 🠈|--//
        span[class*='_text'] {
          width: 100%;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            text-align: center;
            font-size: 0.75rem;
          }
        }
        span[class*='_back'] {
          padding: 0;
          height: 1.5rem;
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            margin: 0;
            padding: inherit;
            font-size: 1.5rem;
          }
        }
      }
      &[class*='_ico_'] {
        //--|🠊 Icon <button> Element 🠈|--//
        grid-template: 1fr 1.5rem 1fr/4px 1fr 1.5rem 1fr 4px;
        span[class*='_icon'] {
          padding-top: 2px;
        }
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

button[class*='default'] {
  display: flex;
  overflow: hidden;
  position: relative;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }

  @include Button_default.extend-mobile();
  @include Button_default.extend-desktop();
}
