//--|🠊 Button.default.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
  div[class*='_top_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkred !important;
  }
  div[class*='_bot_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkgreen !important;
  }
  div[class*='_lef_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkblue !important;
  }
  div[class*='_rig_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkred !important;
  }
  div[class*='_cen_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkgreen !important;
  }
  div[class*='_tex_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: darkblue !important;
  }
  div[class*='_ico_'] {
    //--|🠊 display: grid; 🠈|--//
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    // background: purple !important;
  }

  /*
  span {
    width: 100%;
    height: 100%;
  }

  span[class*='one_top'] {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    img {
      color: white;
      grid-area: 1 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    h1 {

      white-space: nowrap;
      display: inline-block;
      
      grid-area: 2 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
  }
  */

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-portrait {
  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

button[class*='default'] {
  display: flex;

  @extend %default-canvas;
  @extend %default-presets;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
  /*
  @extend %default-shadows;
  @extend %default-filters;
  @extend %default-motions;
  */
}

%default-canvas {
  div[class*='dar_mon'] {
    background: Palettes.$indexLand-dark;
  }
  div[class*='med_mon'] {
    background: Palettes.$indexLand-medium;
  }
  div[class*='lig_mon'] {
    background: Palettes.$indexLand-light;
  }

  div[class*='dar_red'] {
    background: Palettes.$findLink-dark;
  }
  div[class*='med_red'] {
    background: Palettes.$findLink-medium;
  }
  div[class*='lig_red'] {
    background: Palettes.$findLink-light;
  }

  div[class*='dar_gre'] {
    background: Palettes.$trackDay-dark;
  }
  div[class*='med_gre'] {
    background: Palettes.$trackDay-medium;
  }
  div[class*='lig_gre'] {
    background: Palettes.$trackDay-light;
  }

  div[class*='dar_blu'] {
    background: Palettes.$logTicket-dark;
  }
  div[class*='med_blu'] {
    background: Palettes.$logTicket-medium;
  }
  div[class*='lig_blu'] {
    background: Palettes.$logTicket-light;
  }
}
%default-presets {
  div {
    width: 100%;
    height: 100%;
    display: grid;
    span {
      grid-area: 1 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
      }
    }
  }
}
%default-placing {
}

/*
%default-shadows {
}
%default-filters {
}
%default-motions {
}
*/
