//--|🠊 carousel/addons/scroll-carousel 🠈|--\\
@use '../../../../../designs/Mixins.scss';
@use '../../../../../designs/Palettes.scss';

@mixin desktop-scroll {
  li[class*='_scr'] {
    @include desk-grid;
    @include desk-flex;
  }
  li {
    @include Mixins.clip-menu();
  }
}
@mixin mobile-scroll {
}

@mixin desk-grid {
}

@mixin desk-flex {
  //--|🠋 Y-axis 🠋|--\\

  //--|🠋 X-axis 🠋|--\\
  %flex-height {
    height: 128px; //--|🠋 128px for Squares 🠋|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      height: 96px; //--|🠋 96px for Squares 🠋|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      height: 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      height: 48px; //--|🠋 48px for Squares 🠋|--\\
    }
  }
  %flex-width {
    width: 128px; //--|🠋 128px for Squares 🠋|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      width: 96px; //--|🠋 96px for Squares 🠋|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      width: 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      width: 48px; //--|🠋 48px for Squares 🠋|--\\
    }
  }

  &[class*='hori_top'] {
    /*
    height: 100%;
    overflow-y: auto;
    */
    ul {
      display: flex;

      justify-content: space-between;
      li:first-child,
      li:last-child {
        @extend %flex-width;
        @extend %flex-height;
      }
    }
    &[class*='_top_'] {
      @extend %flex-height;
    }
  }
}
