//--|🠊 carousel/addons/scroll-carousel 🠈|--\\
@use '../../../../../designs/Mixins.scss';
@use '../../../../../designs/Palettes.scss';

@mixin desktop-scroll {
  li[class*='_scr'] {
    @include desk-grid;
    @include desk-flex;
  }
  li {
    @include Mixins.clip-menu();
  }
}
@mixin mobile-scroll {
}

@mixin desk-grid {
  //--|🠋 Y-axis 🠋|--\\

  //--|🠋 X-axis 🠋|--\\

  %grid-rows {
    //--|🠋 128px for Squares 🠋|--\\
    grid-template-rows: 128px;
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      grid-template-rows: 96px; //--|🠋 96px for Squares 🠋|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      grid-template-rows: 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      grid-template-rows: 48px; //--|🠋 48px for Squares 🠋|--\\
    }
  }
  %grid-cols {
    margin: 0 128px;
    grid-template-columns: 128px 1fr 128px; //--|🠋 128px for Squares 🠋|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      margin: 0 96px;
      grid-template-columns: 96px 1fr 96px;
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      margin: 0 64px;
      grid-template-columns: 64px 1fr 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      margin: 0 48px;
      grid-template-columns: 48px 1fr 48px;
    }
  }
  %grid-width {
    text-align: center;
    width: calc(100vw - 128px * 2);
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      width: calc(100vw - 96px * 2);
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      width: calc(100vw - 64px * 2);
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      width: calc(100vw - 48px * 2);
    }
  }
  &[class*='hori_top'] {
    ul {
      display: grid;
      @extend %grid-rows;
      @extend %grid-cols;

      li:first-child {
        grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        // overflow-x: hidden;
        width: 100%;
        span {
          position: relative;

          flex-direction: row;

          display: flex;
          align-items: center;
          justify-content: center;

          @extend %grid-height;
          h1 {
            // position: absolute;
            // @extend %grid-width;
          }
        }
      }
      li.button:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      li.button:last-child {
        grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
  }
}
@mixin desk-flex {
  //--|🠋 Y-axis 🠋|--\\

  //--|🠋 X-axis 🠋|--\\

  &[class*='hori_top'] {
    ul {
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &[class*='_top_'] {
      @extend %grid-height;
    }
  }
  %grid-height {
    height: 128px; //--|🠋 128px for Squares 🠋|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      height: 96px; //--|🠋 96px for Squares 🠋|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      height: 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      height: 48px; //--|🠋 48px for Squares 🠋|--\\
    }
  }
  %flex-width {
    width: 128px; //--|🠋 128px for Squares 🠋|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      width: 96px; //--|🠋 96px for Squares 🠋|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      width: 64px; //--|🠋 64px for Squares 🠋|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      width: 48px; //--|🠋 48px for Squares 🠋|--\\
    }
  }
}
