//--|🠊 Button_size.scss 🠈|--\\
@mixin desktop-size {
  .text {
    max-width: 32rem;
    h1 {
      font-size: 40px;
      font-weight: 800;
    }
    h2 {
      font-size: 32px;
      font-weight: 700;
    }
    h3 {
      font-size: 28px;
      font-weight: 600;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
    }
    h5 {
      font-size: 20px;
      font-weight: 400;
    }
    h6 {
      font-size: 16px;
      font-weight: 300;
    }
    p {
      font-size: 14px;
      font-weight: 200;
    }
    @media screen and (max-height: 768px) {
      max-width: 22rem;
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 20px;
      }
      h5 {
        font-size: 16px;
      }
      h6 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
    @media screen and (max-height: 480px) {
      max-width: 14rem;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 16px;
      }
      h4 {
        font-size: 16px;
      }
      h5 {
        font-size: 14px;
      }
      h6 {
        font-size: 12px;
      }
      p {
        font-size: 10px;
      }
    }
    @media screen and (max-height: 360px) {
      max-width: 10rem;
      h1 {
        font-size: 16px;
      }
      h2 {
        font-size: 14px;
      }
      h3 {
        font-size: 12px;
      }
      h4 {
        font-size: 12px;
      }
      h5 {
        font-size: 10px;
      }
      h6 {
        font-size: 10px;
      }
      p {
        font-size: 8px;
      }
    }
  }
}
@mixin mobile-size {
}
