//--|🠊 Button_size.scss 🠈|--\\
@mixin desktop-size {
  &[class*='one_'] {
    h1 {
      font-size: 40px;
      font-weight: 800;
    }
    @media screen and (max-height: 768px) {
      h1 {
        font-size: 32px;
      }
    }
    @media screen and (max-height: 480px) {
      h1 {
        font-size: 24px;
      }
    }
    @media screen and (max-height: 360px) {
      h1 {
        font-size: 16px;
      }
    }
  }
  &[class*='two_'] {
    h2 {
      font-size: 32px;
      font-weight: 700;
    }
    @media screen and (max-height: 768px) {
      h2 {
        font-size: 28px;
      }
    }
    @media screen and (max-height: 480px) {
      h2 {
        font-size: 20px;
      }
    }
    @media screen and (max-height: 360px) {
      h2 {
        font-size: 14px;
      }
    }
  }
  &[class*='thr_'] {
    h3 {
      font-size: 28px;
      font-weight: 600;
    }
    @media screen and (max-height: 768px) {
      h3 {
        font-size: 24px;
      }
    }
    @media screen and (max-height: 480px) {
      h3 {
        font-size: 16px;
      }
    }
    @media screen and (max-height: 360px) {
      font-size: 12px;
    }
  }
  &[class*='fou_'] {
    h4 {
      font-size: 24px;
      font-weight: 500;
    }
    @media screen and (max-height: 768px) {
      h4 {
        font-size: 20px;
      }
    }
    @media screen and (max-height: 480px) {
      h4 {
        font-size: 16px;
      }
    }
    @media screen and (max-height: 360px) {
      h4 {
        font-size: 12px;
      }
    }
  }
  &[class*='fiv_'] {
    h5 {
      font-size: 20px;
      font-weight: 400;
    }
    @media screen and (max-height: 768px) {
      h5 {
        font-size: 16px;
      }
    }
    @media screen and (max-height: 480px) {
      h5 {
        font-size: 14px;
      }
    }
    @media screen and (max-height: 360px) {
      h5 {
        font-size: 10px;
      }
    }
  }
  &[class*='six_'] {
    h6 {
      font-size: 16px;
      font-weight: 300;
    }
    @media screen and (max-height: 768px) {
      h6 {
        font-size: 14px;
      }
    }
    @media screen and (max-height: 480px) {
      h6 {
        font-size: 12px;
      }
    }
    @media screen and (max-height: 360px) {
      h6 {
        font-size: 10px;
      }
    }
  }
  &[class*='par_'] {
    p {
      font-size: 14px;
      font-weight: 200;
    }
    @media screen and (max-height: 768px) {
      p {
        font-size: 12px;
      }
    }
    @media screen and (max-height: 480px) {
      p {
        font-size: 10px;
      }
    }
    @media screen and (max-height: 360px) {
      p {
        font-size: 8px;
      }
    }
  }

  &.default-button {
    .text * {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .icon * {
      height: 100%;
      display: flex;
    }

    &[class*='_top_'],
    &[class*='_bot_'] {
      .text * {
        justify-content: center;
      }
    }
    &[class*='_lef_'] {
      .text * {
        justify-content: left;
      }
    }
    &[class*='_rig_'] {
      .text * {
        justify-content: right;
      }
    }
    &[class*='_cen_'],
    &[class*='_tex_'] {
      .text * {
        justify-content: center;
      }
    }
  }
}
@mixin mobile-size {
  &[class*='one_'] {
    h1 {
      font-size: 40px;
      font-weight: 800;
    }
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 32px;
      }
    }
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 24px;
      }
    }
    @media screen and (max-width: 360px) {
      h1 {
        font-size: 16px;
      }
    }
  }
  &[class*='two_'] {
    h2 {
      font-size: 32px;
      font-weight: 700;
    }
    @media screen and (max-width: 768px) {
      h2 {
        font-size: 28px;
      }
    }
    @media screen and (max-width: 480px) {
      h2 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 360px) {
      h2 {
        font-size: 14px;
      }
    }
  }
  &[class*='thr_'] {
    h3 {
      font-size: 28px;
      font-weight: 600;
    }
    @media screen and (max-width: 768px) {
      h3 {
        font-size: 24px;
      }
    }
    @media screen and (max-width: 480px) {
      h3 {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 360px) {
      font-size: 12px;
    }
  }
  &[class*='fou_'] {
    h4 {
      font-size: 24px;
      font-weight: 500;
    }
    @media screen and (max-width: 768px) {
      h4 {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 480px) {
      h4 {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 360px) {
      h4 {
        font-size: 12px;
      }
    }
  }
  &[class*='fiv_'] {
    h5 {
      font-size: 20px;
      font-weight: 400;
    }
    @media screen and (max-width: 768px) {
      h5 {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 480px) {
      h5 {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 360px) {
      h5 {
        font-size: 10px;
      }
    }
  }
  &[class*='six_'] {
    h6 {
      font-size: 16px;
      font-weight: 300;
    }
    @media screen and (max-width: 768px) {
      h6 {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 480px) {
      h6 {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 360px) {
      h6 {
        font-size: 10px;
      }
    }
  }
  &[class*='par_'] {
    p {
      font-size: 14px;
      font-weight: 200;
    }
    @media screen and (max-width: 768px) {
      p {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 480px) {
      p {
        font-size: 10px;
      }
    }
    @media screen and (max-width: 360px) {
      p {
        font-size: 8px;
      }
    }
  }
  &.default-button {
    .text * {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &[class*='_top_'],
    &[class*='_bot_'] {
      .text * {
        justify-content: center;
      }
    }
    &[class*='_lef_'] {
      .text * {
        justify-content: left;
      }
    }
    &[class*='_rig_'] {
      .text * {
        justify-content: right;
      }
    }
    &[class*='_cen_'],
    &[class*='_tex_'] {
      .text * {
        justify-content: center;
      }
    }
  }
}

/*
  &[class*='_top_'] {
  }
  &[class*='_bot_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  &[class*='_lef_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  &[class*='_rig_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  &[class*='_cen_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  &[class*='_tex_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  &[class*='_ico_'] {
    &[class*='one_'] {
      h1 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h1 {
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
        }
      }
    }
    &[class*='two_'] {
      h2 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h2 {
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
        }
      }
    }
    &[class*='thr_'] {
      h3 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h3 {
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
        }
      }
    }
    &[class*='fou_'] {
      h4 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h4 {
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h5 {
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
        }
      }
    }
    &[class*='six_'] {
      h6 {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        h6 {
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
        }
      }
    }
    &[class*='par_'] {
      p {
      }
      img {
      }
      @media screen and (max-height: 768px) {
        p {
        }
      }
      @media screen and (max-height: 480px) {
        p {
        }
      }
      @media screen and (max-height: 360px) {
        p {
        }
      }
    }
  }
  */
