//--|🠊 Button_flex.scss 🠈|--\\
@mixin desktop-flex {
  &[class*='_top_'],
  &[class*='_bot_'] {
    //--Todo--\\
    &[class*='fou_'] {
      h4 {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 768px) {
        h4 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 480px) {
        h4 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 360px) {
        h4 {
          // padding: ??px ??px;
        }
      }
    }
    &[class*='fiv_'] {
      h5 {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 768px) {
        h5 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 480px) {
        h5 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 360px) {
        h5 {
          // padding: ??px ??px;
        }
      }
    }
    &[class*='six_'] {
      h6 {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 768px) {
        h6 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 480px) {
        h6 {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 360px) {
        h6 {
          // padding: ??px ??px;
        }
      }
    }
    &[class*='par_'] {
      p {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 768px) {
        p {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 480px) {
        p {
          // padding: ??px ??px;
        }
      }
      @media screen and (max-height: 360px) {
        p {
          // padding: ??px ??px;
        }
      }
    }

    //--Done--\\
    &[class*='one_'] {
      h1 {
        padding: 4px 16px;
      }
      img {
        margin: 4px;
      }
      @media screen and (max-height: 768px) {
        h1 {
          padding: 4px 16px;
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
          padding: 2px 8px;
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
          padding: 0 4px;
        }
      }
    }
    &[class*='two_'] {
      h2 {
        padding: 6px 16px;
      }
      img {
        margin: 6px;
      }
      @media screen and (max-height: 768px) {
        h2 {
          padding: 6px 16px;
        }
      }
      @media screen and (max-height: 480px) {
        h2 {
          padding: 3px 8px;
        }
        img {
          margin: 4px;
        }
      }
      @media screen and (max-height: 360px) {
        h2 {
          padding: 1px 4px;
        }
      }
    }
    &[class*='thr_'] {
      h3 {
        padding: 6px 16px;
      }
      img {
        margin: 8px;
      }
      @media screen and (max-height: 768px) {
        h3 {
          padding: 8px 16px;
        }
        img {
          margin: 4px 8px;
        }
      }
      @media screen and (max-height: 480px) {
        h3 {
          padding: 3px 8px;
        }
      }
      @media screen and (max-height: 360px) {
        h3 {
          padding: 1px 4px;
        }
        img {
          margin: 2px 8px;
        }
      }
    }
  }
  &[class*='_lef_'],
  &[class*='_rig_'] {
    //--Todo--\\
    h4 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    h5 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    h6 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    p {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }

    //--Done--\\
    img {
      margin-top: 4px;
      @media screen and (max-height: 768px) {
        margin-top: 3px;
      }
      @media screen and (max-height: 480px) {
        margin-top: 2px;
      }
      @media screen and (max-height: 360px) {
        margin-top: 0;
      }
    }
    h1 {
      padding: 4px 16px;
      @media screen and (max-height: 768px) {
        padding: 2px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 0 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 0 4px;
      }
    }
    h2 {
      padding: 10px 16px;
      @media screen and (max-height: 768px) {
        padding: 4px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 2px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 2px 4px;
      }
    }
    h3 {
      padding: 12px 16px;
      @media screen and (max-height: 768px) {
        padding: 8px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 5px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 3px 4px;
      }
    }
  }
  &[class*='_cen_'] {
    //--Todo--\\

    h4 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    h5 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    h6 {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }
    p {
      // padding: ??px ??px;
      @media screen and (max-height: 768px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 480px) {
        // padding: ??px ??px;
      }
      @media screen and (max-height: 360px) {
        // padding: ??px ??px;
      }
    }

    //--Done--\\
    img {
      margin-top: 4px;
      @media screen and (max-height: 768px) {
        margin-top: 3px;
      }
      @media screen and (max-height: 480px) {
        margin-top: 2px;
      }
      @media screen and (max-height: 360px) {
        margin-top: 1px;
      }
    }
    h1 {
      padding: 12px 16px;
      @media screen and (max-height: 768px) {
        padding: 16px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 10px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 8px 4px;
      }
    }
    h2 {
      padding: 14px 16px;
      @media screen and (max-height: 768px) {
        padding: 18px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 12px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 10px 4px;
      }
    }
    h3 {
      padding: 20px 16px;
      @media screen and (max-height: 768px) {
        padding: 20px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 14px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 10px 4px;
      }
    }
  }
  &[class*='_tex_'] {
    h4 {
      @media screen and (max-height: 768px) {
      }
      @media screen and (max-height: 480px) {
      }
      @media screen and (max-height: 360px) {
      }
    }
    h5 {
      @media screen and (max-height: 768px) {
      }
      @media screen and (max-height: 480px) {
      }
      @media screen and (max-height: 360px) {
      }
    }
    h6 {
      @media screen and (max-height: 768px) {
      }
      @media screen and (max-height: 480px) {
      }
      @media screen and (max-height: 360px) {
      }
    }
    p {
      @media screen and (max-height: 768px) {
      }
      @media screen and (max-height: 480px) {
      }
      @media screen and (max-height: 360px) {
      }
    }

    .icon {
      opacity: 0;
      display: none;
      background: none;
    }
    h1 {
      padding: 2px 16px;
      @media screen and (max-height: 768px) {
        padding: 4px 16px;
      }
      @media screen and (max-height: 480px) {
        padding: 2px 4px;
      }
      @media screen and (max-height: 360px) {
        padding: 0 4px;
      }
    }
    h2 {
      padding: 6px 16px;
      @media screen and (max-height: 768px) {
        padding: 6px 8px;
      }
      @media screen and (max-height: 480px) {
        padding: 3px 8px;
      }
      @media screen and (max-height: 360px) {
        padding: 1px 4px;
      }
    }
    h3 {
      padding: 6px 16px;
      @media screen and (max-height: 768px) {
        padding: 6px 16px;
      }
      @media screen and (max-height: 480px) {
        padding: 2px 8px;
      }
      @media screen and (max-height: 360px) {
        padding: 1px 4px;
      }
    }
  }
  &[class*='_ico_'] {
    //--Todo--\\

    &[class*='fou_'] {
      img {
        // margin-top: ??px;
      }
      @media screen and (max-height: 768px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 480px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 360px) {
        img {
          // margin-top: ??px;
        }
      }
    }
    &[class*='fiv_'] {
      img {
        // margin-top: ??px;
      }
      @media screen and (max-height: 768px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 480px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 360px) {
        img {
          // margin-top: ??px;
        }
      }
    }
    &[class*='six_'] {
      img {
        // margin-top: ??px;
      }
      @media screen and (max-height: 768px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 480px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 360px) {
        img {
          // margin-top: ??px;
        }
      }
    }
    &[class*='par_'] {
      img {
        // margin-top: ??px;
      }
      @media screen and (max-height: 768px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 480px) {
        img {
          // margin-top: ??px;
        }
      }
      @media screen and (max-height: 360px) {
        img {
          // margin-top: ??px;
        }
      }
    }

    //--Done--\\
    .text {
      opacity: 0;
      display: none;
      background: none;
    }
    &[class*='one_'] {
      img {
        margin-top: 8px;
        @media screen and (max-height: 768px) {
          margin-top: 4px;
        }
        @media screen and (max-height: 480px) {
          margin-top: 3px;
        }
        @media screen and (max-height: 360px) {
          margin-top: 2px;
        }
      }
    }
    &[class*='two_'] {
      img {
        margin-top: 7px;
        @media screen and (max-height: 768px) {
          margin-top: 5px;
        }
        @media screen and (max-height: 480px) {
          margin-top: 3px;
        }
        @media screen and (max-height: 360px) {
          margin-top: 1px;
        }
      }
    }
    &[class*='thr_'] {
      img {
        margin-top: 4px;
        @media screen and (max-height: 768px) {
          margin-top: 4px;
        }
        @media screen and (max-height: 480px) {
          margin-top: 2px;
        }
        @media screen and (max-height: 360px) {
          margin-top: 1px;
        }
      }
    }
  }
}
@mixin mobile-flex {
}
