//--|🠊 Button_motions.scss 🠈|--//

@mixin desktop-motions {
  @extend %desktop-motions;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-motions {
  @extend %mobile-motions;

  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

//--|🠋 Desktop (Landscape) 🠋|--//
%desktop-motions {
  @media screen and (orientation: landscape) {
    //--|🠊 display: flex; 🠈|--//
    div[class*='_top_'],
    div[class*='_bot_'] {
      span {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          transition: color ease-in-out 0.25s;
          transition: background ease-in-out 0.75s;
          transition: drop-shadow() ease-in-out 0.5s;
        }
        img {
          transition: background 1s ease-in-out;
        }
      }
    }
    div[class*='_lef_'] {
      &[class*='_back'] {
        span[class*='_back'] {
          transition: background ease-in-out 0.75s;
        }
      }
      &[class*='_text'] {
        span {
          h1 {
            transition: color ease-in-out 0.25s;
          }
        }
      }
      &[class*='_icon'] {
        span {
          img {
            transition: background 1s ease-in-out;
          }
        }
      }
    }
    div[class*='_rig_'] {
      &[class*='_back'] {
        span[class*='_back'] {
          transition: background ease-in-out 0.75s;
        }
      }
      &[class*='_text'] {
        span {
          h1 {
            transition: color ease-in-out 0.25s;
          }
        }
      }
      &[class*='_icon'] {
        span {
          img {
            transition: background 1s ease-in-out;
          }
        }
      }
    }
    div[class*='_cen_'] {
      &[class*='_back'] {
        span[class*='_back'] {
          transition: background ease-in-out 0.75s;
        }
      }
      &[class*='_text'] {
        span {
          h1 {
            transition: color ease-in-out 0.25s;
          }
        }
      }
      &[class*='_icon'] {
        span {
          img {
            transition: background 1s ease-in-out;
          }
        }
      }
    }
    div[class*='_tex_'] {
      &[class*='_back'] {
        span[class*='_back'] {
          transition: background ease-in-out 0.75s;
        }
      }
      &[class*='_text'] {
        span {
          h1 {
            transition: color ease-in-out 0.25s;
          }
        }
      }
      // &[class*='_icon'] {

      // }
    }
    div[class*='_ico_'] {
      &[class*='_back'] {
        span[class*='_back'] {
          transition: background ease-in-out 0.75s;
        }
      }
      &[class*='_text'] {
        span {
          h1 {
            transition: color ease-in-out 0.25s;
          }
        }
      }
      &[class*='_icon'] {
        span {
          img {
            transition: background 1s ease-in-out;
          }
        }
      }
    }
  }
}
//--|🠋 Mobile (Portrait) 🠋|--//
%mobile-motions {
  @media screen and (orientation: portrait) {
  }
}
