//--|🠊 Button_flex.scss 🠈|--\\
@mixin desktop-flex {
  &[class*='_top_'],
  &[class*='_bot_'] {
    &[class*='one_'] {
      h1 {
        padding: 4px 16px;
      }
      img {
        padding: 4px;
      }
      @media screen and (max-height: 768px) {
        h1 {
          padding: 4px 16px;
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
          padding: 2px 8px;
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
          padding: 0 4px;
        }
      }
    }
  }
  &[class*='_lef_'],
  &[class*='_rig_'] {
    &[class*='one_'] {
      h1 {
        padding: 4px 16px;
      }
      img {
        margin-top: 4px;
      }
      @media screen and (max-height: 768px) {
        h1 {
          padding: 2px 8px;
        }
        img {
          margin-top: 2px;
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
          padding: 0 4px;
        }
        img {
          margin-top: 1px;
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
          padding: 0 4px;
        }
        img {
          margin-top: 0;
        }
      }
    }
  }
  &[class*='_cen_'] {
    &[class*='one_'] {
      h1 {
        padding: 12px 16px;
      }
      img {
        margin-top: 4px;
      }

      @media screen and (max-height: 768px) {
        h1 {
          padding: 16px 8px;
        }
        img {
          margin-top: 2px;
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
          padding: 10px 4px;
        }
        img {
          margin-top: 3px;
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
          padding: 8px 4px;
        }
        img {
          margin-top: 1px;
        }
      }
    }
  }
  &[class*='_tex_'] {
    .icon {
      opacity: 0;
      display: none;
      background: none;
    }

    &[class*='one_'] {
      h1 {
        padding: 4px 16px;
      }
      @media screen and (max-height: 768px) {
        h1 {
          padding: 4px 16px;
        }
      }
      @media screen and (max-height: 480px) {
        h1 {
          padding: 2px 8px;
        }
      }
      @media screen and (max-height: 360px) {
        h1 {
          padding: 0 4px;
        }
      }
    }
  }
  &[class*='_ico_'] {
    .text {
      opacity: 0;
      display: none;
      background: none;
    }

    &[class*='one_'] {
      img {
        margin-top: 8px;
      }

      @media screen and (max-height: 768px) {
        img {
          margin-top: 4px;
        }
      }
      @media screen and (max-height: 480px) {
        img {
          margin-top: 3px;
        }
      }
      @media screen and (max-height: 360px) {
        img {
          margin-top: 2px;
        }
      }
    }
  }
}
@mixin mobile-flex {
  &[class*='one_'] {
    h1 {
      font-size: 40px;
    }
    @media screen and (max-width: 768px) {
      h1 {
      }
    }
    @media screen and (max-width: 480px) {
      h1 {
      }
    }
    @media screen and (max-width: 360px) {
      h1 {
      }
    }
  }
  &[class*='two_'] {
    h2 {
    }
    @media screen and (max-width: 768px) {
      h2 {
      }
    }
    @media screen and (max-width: 480px) {
      h2 {
      }
    }
    @media screen and (max-width: 360px) {
      h2 {
      }
    }
  }
  &[class*='thr_'] {
    h3 {
    }
    @media screen and (max-width: 768px) {
      h3 {
      }
    }
    @media screen and (max-width: 480px) {
      h3 {
      }
    }
    @media screen and (max-width: 360px) {
      h3 {
      }
    }
  }
  &[class*='fou_'] {
    h4 {
    }
    @media screen and (max-width: 768px) {
      h4 {
      }
    }
    @media screen and (max-width: 480px) {
      h4 {
      }
    }
    @media screen and (max-width: 360px) {
      h4 {
      }
    }
  }
  &[class*='fiv_'] {
    h5 {
    }
    @media screen and (max-width: 768px) {
      h5 {
      }
    }
    @media screen and (max-width: 480px) {
      h5 {
      }
    }
    @media screen and (max-width: 360px) {
      h5 {
      }
    }
  }
  &[class*='six_'] {
    h6 {
    }
    @media screen and (max-width: 768px) {
      h6 {
      }
    }
    @media screen and (max-width: 480px) {
      h6 {
      }
    }
    @media screen and (max-width: 360px) {
      h6 {
      }
    }
  }
  &[class*='par_'] {
    p {
    }
    @media screen and (max-width: 768px) {
      p {
      }
    }
    @media screen and (max-width: 480px) {
      p {
      }
    }
    @media screen and (max-width: 360px) {
      p {
      }
    }
  }
}
