//--|🠊 Button_placing.scss 🠈|--//
/* Gradually place each <button> into a grid. */

@mixin desktop-placing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    //--|🠊 display: flex; 🠈|--//
    div[class*='_top_'] {
      //--|🠊 display: grid; 🠈|--//
      grid-template-columns: 8px 1fr 8px; //--|🠊 columns 🠈|--//
      grid-template-rows: 8px 4rem 1fr 8px; //--|🠊 rows 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        @extend %align-top;
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      img[class*='_icon'] {
        overflow: hidden;
        grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      %align-top {
        //--|🠊 display: flex; 🠈|--//
        & {
          margin: 0;
          text-align: center;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
    }
    div[class*='_bot_'] {
      //--|🠊 display: grid; 🠈|--//
      grid-template-columns: 8px 1fr 8px; //--|🠊 columns 🠈|--//
      grid-template-rows: 8px 1fr 4rem 8px; //--|🠊 rows 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        @extend %align-bot;
        grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      img[class*='_icon'] {
        overflow: hidden;
        grid-area: 2 / 2 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      %align-bot {
        //--|🠊 display: flex; 🠈|--//
        & {
          margin: 0;
          text-align: center;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
    }

    div[class*='_lef_'] {
      //--|🠊 display: grid; 🠈|--//
      &.graphic {
        grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px 4rem auto 1fr 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          @extend %align-left-icon;
          grid-area: 3 / 2 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
        img[class*='_icon'] {
          grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }

        %align-left-icon {
          //--|🠊 display: flex; 🠈|--//
          & {
            margin: 0;
            text-align: left;
            border-radius: 8px;
            padding: 8px 8px 0 72px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
      }
      &.missing {
        grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px auto 1fr 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          @extend %align-left-null;
          grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }
        img[class*='_icon'] {
          display: none;
        }

        %align-left-null {
          //--|🠊 display: flex; 🠈|--//
          & {
            margin: 0;
            text-align: left;
            border-radius: 8px;
            padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
      }
    }
    div[class*='_rig_'] {
      //--|🠊 display: grid; 🠈|--//
      &.graphic {
        grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px 1fr auto 4rem 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          grid-area: 3 / 3 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          @extend %align-right-icon;
        }
        img[class*='_icon'] {
          grid-area: 3 / 4 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        }

        %align-right-icon {
          //--|🠊 display: flex; 🠈|--//
          & {
            margin: 0;
            text-align: right;
            border-radius: 8px;
            padding: 8px 72px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
      }
      &.missing {
        grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px 1fr auto 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          @extend %align-right-null;
        }
        img[class*='_icon'] {
          display: none;
        }

        %align-right-null {
          //--|🠊 display: flex; 🠈|--//
          & {
            margin: 0;
            text-align: right;
            border-radius: 8px;
            padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
      }
    }

    div[class*='_cen_'] {
      //--|🠊 display: grid; 🠈|--//
      grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
      grid-template-columns: 8px 1fr 4rem 1fr 8px; //--|🠊 columns 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        //--|🠊 display: flex; 🠈|--//
        @extend %align-center;
        grid-area: 3 / 2 / 4 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      img[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }

      %align-center {
        //--|🠊 display: flex; 🠈|--//
        & {
          margin: 0;
          text-align: center;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
    }
    div[class*='_tex_'] {
      //--|🠊 display: grid; 🠈|--//
      grid-template-rows: 8px 1fr 4rem 1fr 8px; //--|🠊 rows 🠈|--//
      grid-template-columns: 8px 1fr auto 1fr 8px; //--|🠊 columns 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        //--|🠊 display: flex; 🠈|--//
        @extend %align-text;
        grid-area: 3 / 3 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      }
      img[class*='_icon'] {
        display: none;
      }

      %align-text {
        //--|🠊 display: flex; 🠈|--//
        & {
          margin: 0;
          text-align: center;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
    }

    div[class*='_ico_'] {
      //--|🠊 display: grid; 🠈|--//
      grid-template-rows: 2px 1fr 2px; //--|🠊 rows 🠈|--//
      grid-template-columns: 2px 1fr auto 1fr 2px; //--|🠊 columns 🠈|--//

      *[class*='_text'] {
        display: none;
      }
      *[class*='_back'] {
        margin: 0;
        border-radius: 8px;
        text-overflow: clip;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        span {
          display: none;
        }
      }
      img[class*='_icon'] {
        //--|🠊 display: flex; 🠈|--//
        overflow: hidden;
        grid-area: 2 / 3 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//

        /*
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        */
      }
    }

    //--|🠋 Desktop (Landscape) 🠋|--//
    @media screen and (max-height: 768px) {
      div[class*='_top_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 8px 1fr 8px; //--|🠊 columns 🠈|--//
        grid-template-rows: 8px 3rem 1fr 8px; //--|🠊 rows 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_bot_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 8px 1fr 8px; //--|🠊 columns 🠈|--//
        grid-template-rows: 8px 1fr 3rem 8px; //--|🠊 rows 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }

      div[class*='_lef_'] {
        //--|🠊 display: grid; 🠈|--//
        &.graphic {
          grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
          grid-template-columns: 8px 3rem auto 1fr 8px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 8px 0 56px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
          grid-template-columns: 8px auto 1fr 8px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 8px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }
      div[class*='_rig_'] {
        //--|🠊 display: grid; 🠈|--//

        &.graphic {
          grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
          grid-template-columns: 8px 1fr auto 3rem 8px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 56px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
          grid-template-columns: 8px 1fr auto 8px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 8px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }

      div[class*='_cen_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px 1fr 3rem 1fr 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_tex_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 8px 1fr 3rem 1fr 8px; //--|🠊 rows 🠈|--//
        grid-template-columns: 8px 1fr auto 1fr 8px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
    }
    @media screen and (max-height: 480px) {
      //--|🠋 ~~~ 🠋|--//
      div[class*='_top_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 4px 1fr 4px; //--|🠊 columns 🠈|--//
        grid-template-rows: 4px 2rem 1fr 4px; //--|🠊 rows 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_bot_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 4px 1fr 4px; //--|🠊 columns 🠈|--//
        grid-template-rows: 4px 1fr 2rem 4px; //--|🠊 rows 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }

      div[class*='_lef_'] {
        //--|🠊 display: grid; 🠈|--//
        &.graphic {
          grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
          grid-template-columns: 4px 2rem auto 1fr 4px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 4px 0 36px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
          grid-template-columns: 4px auto 1fr 4px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 4px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }
      div[class*='_rig_'] {
        //--|🠊 display: grid; 🠈|--//

        &.graphic {
          grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
          grid-template-columns: 4px 1fr auto 2rem 4px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 36px 0 4px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
          grid-template-columns: 4px 1fr auto 4px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 4px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }

      div[class*='_cen_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
        grid-template-columns: 4px 1fr 2rem 1fr 4px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_tex_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 4px 1fr 2rem 1fr 4px; //--|🠊 rows 🠈|--//
        grid-template-columns: 4px 1fr auto 1fr 4px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
    }
    @media screen and (max-height: 360px) {
      div[class*='_top_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 2px 1fr 2px; //--|🠊 columns 🠈|--//
        grid-template-rows: 2px 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//

        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_bot_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-columns: 2px 1fr 2px; //--|🠊 columns 🠈|--//
        grid-template-rows: 2px 1fr 1.5rem 2px; //--|🠊 rows 🠈|--//

        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }

      div[class*='_lef_'] {
        //--|🠊 display: grid; 🠈|--//

        &.graphic {
          grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
          grid-template-columns: 2px 1.5rem auto 1fr 2px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 2px 0 26px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
          grid-template-columns: 2px auto 1fr 2px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 2px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }
      div[class*='_rig_'] {
        //--|🠊 display: grid; 🠈|--//

        &.graphic {
          grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
          grid-template-columns: 2px 1fr auto 1.5rem 2px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 26px 0 2px; //--|🠈 top / right / bottom / left 🠈|--//
          }
        }
        &.missing {
          grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
          grid-template-columns: 2px 1fr auto 2px; //--|🠊 columns 🠈|--//
          *[class*='_text'],
          *[class*='_back'] {
            padding: 0 2px; //--|🠈 top & bottom / left & right 🠈|--//
          }
        }
      }

      div[class*='_cen_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
        grid-template-columns: 2px 1fr 1.5rem 1fr 2px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
      div[class*='_tex_'] {
        //--|🠊 display: grid; 🠈|--//
        grid-template-rows: 2px 1fr 1.5rem 1fr 2px; //--|🠊 rows 🠈|--//
        grid-template-columns: 2px 1fr auto 1fr 2px; //--|🠊 columns 🠈|--//
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
        }
      }
    }
  }
}
@mixin mobile-placing {
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    //--|🠋 Tablet (Portrait) 🠋|--//
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 480px) {
    }
    @media screen and (max-width: 360px) {
    }
  }
}
