//--|🠊 Button_scaling.scss 🠈|--//
@mixin desktop-scaling {
  //--|🠉 display: flex; 🠉|--//
  //--|🠋 Desktop (Landscape) 🠋|--//
  //--|🠊 button[class*='default'] 🠈|--//
  div[class*='one_'] {
    //--|🠊 display: grid; 🠈|--//
    h1[class*='_text'],
    h1[class*='_back'] {
      font-weight: 600;
    }
  }
  div[class*='two_'] {
    //--|🠊 display: grid; 🠈|--//
    h2[class*='_text'],
    h2[class*='_back'] {
      font-weight: 550;
    }
  }
  div[class*='thr_'] {
    //--|🠊 display: grid; 🠈|--//
    h3[class*='_text'],
    h3[class*='_back'] {
      font-weight: 500;
    }
  }
  div[class*='fou_'] {
    //--|🠊 display: grid; 🠈|--//
    h4[class*='_text'],
    h4[class*='_back'] {
      font-weight: 450;
    }
  }
  div[class*='fiv_'] {
    //--|🠊 display: grid; 🠈|--//
    h5[class*='_text'],
    h5[class*='_back'] {
      font-weight: 400;
    }
  }
  div[class*='six_'] {
    //--|🠊 display: grid; 🠈|--//
    h6[class*='_text'],
    h6[class*='_back'] {
      font-weight: 350;
    }
  }
  div[class*='par_'] {
    //--|🠊 display: grid; 🠈|--//
    p[class*='_text'],
    p[class*='_back'] {
      font-weight: 300;
    }
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
    //--|🠋 ~~~ 🠋|--//
    div[class*='one_'] {
      //--|🠊 display: grid; 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        font-size: 1.75rem;
      }
    }
    /*
      div[class*='two_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='thr_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fou_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fiv_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='six_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='par_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      */
  }
  @media screen and (max-height: 360px) {
    div[class*='one_'] {
      //--|🠊 display: grid; 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        font-size: 1.25rem;
      }
    }
    /*
      div[class*='two_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='thr_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fou_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fiv_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='six_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='par_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      */
  }
}
@mixin mobile-scaling {
  //--|🠉 display: flex; 🠉|--//
  //--|🠋 Tablet (Portrait) 🠋|--//
  //--|🠊 button[class*='default'] 🠈|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}
