//--|🠊 Button_motions.scss 🠈|--//
@use '../../../../designs/Palettes.scss' as Palettes;
@mixin desktop-motions {
  div[class*='_top_'],
  div[class*='_bot_'] {
    //--|🠋 Monochrome 🠋|--//
    &[class*='dar_mon'] {
      p:hover,
      h1:hover,
      h2:hover,
      h3:hover,
      h4:hover,
      h5:hover,
      h6:hover {
        color: Palettes.$indexLand-dark;
      }
      &[class*='_text']:hover {
        ~ div[class*='_back'] p,
        ~ div[class*='_back'] h1,
        ~ div[class*='_back'] h2,
        ~ div[class*='_back'] h3,
        ~ div[class*='_back'] h4,
        ~ div[class*='_back'] h5,
        ~ div[class*='_back'] h6,
        ~ div[class*='_icon'] img {
          background: Palettes.$indexLand-medium;
        }
      }
    }
  }

  div[class*='_lef_'],
  div[class*='_rig_'],
  div[class*='_cen_'],
  div[class*='_tex_'] {
    &[class*='dar_mon'] {
      p:hover,
      h1:hover,
      h2:hover,
      h3:hover,
      h4:hover,
      h5:hover,
      h6:hover {
        color: Palettes.$indexLand-dark;
      }
      &[class*='_text']:hover {
        ~ div[class*='_back'] p,
        ~ div[class*='_back'] h1,
        ~ div[class*='_back'] h2,
        ~ div[class*='_back'] h3,
        ~ div[class*='_back'] h4,
        ~ div[class*='_back'] h5,
        ~ div[class*='_back'] h6,
        ~ div[class*='_icon'] img {
          background: Palettes.$indexLand-medium;
        }
        ~ div[class*='_icon'] img {
          background: Palettes.$indexLand-dark;
        }
      }
    }
  }

  div[class*='_ico_'] {
    &[class*='dar_mon'] {
      &[class*='_icon']:hover {
        ~ div[class*='_back'] p,
        ~ div[class*='_back'] h1,
        ~ div[class*='_back'] h2,
        ~ div[class*='_back'] h3,
        ~ div[class*='_back'] h4,
        ~ div[class*='_back'] h5,
        ~ div[class*='_back'] h6,
        ~ div[class*='_icon'] img {
          background: Palettes.$indexLand-medium;
        }
      }
      &[class*='_icon']:hover {
        img {
          background: Palettes.$indexLand-dark;
        }
      }
    }
  }
  div {
    img,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      transition: background 0.25s ease-in-out;
      span {
        transition: color 0.25s ease-in-out;
      }
    }
  }
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-motions {
  //--|🠉 display: flex; 🠉|--//
  //--|🠋 Mobile (Portrait) 🠋|--//
  //--|🠊 button[class*='default'] 🠈|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}
