//--|🠊 Button_scaling.scss 🠈|--//
@mixin desktop-scaling {
  //--|🠉 display: flex; 🠉|--//
  //--|🠋 Desktop (Landscape) 🠋|--//
  //--|🠊 button[class*='default'] 🠈|--//
  div[class*='one_'] {
    //--|🠊 display: grid; 🠈|--//
    h1[class*='_text'],
    h1[class*='_back'] {
      font-weight: 600;
    }
  }
  div[class*='two_'] {
    //--|🠊 display: grid; 🠈|--//
    h2[class*='_text'],
    h2[class*='_back'] {
      font-weight: 550;
    }
  }
  div[class*='thr_'] {
    //--|🠊 display: grid; 🠈|--//
    h3[class*='_text'],
    h3[class*='_back'] {
      font-weight: 500;
    }
  }
  div[class*='fou_'] {
    //--|🠊 display: grid; 🠈|--//
    h4[class*='_text'],
    h4[class*='_back'] {
      font-weight: 450;
    }
  }
  div[class*='fiv_'] {
    //--|🠊 display: grid; 🠈|--//
    h5[class*='_text'],
    h5[class*='_back'] {
      font-weight: 400;
    }
  }
  div[class*='six_'] {
    //--|🠊 display: grid; 🠈|--//
    h6[class*='_text'],
    h6[class*='_back'] {
      font-weight: 350;
    }
  }
  div[class*='par_'] {
    //--|🠊 display: grid; 🠈|--//
    p[class*='_text'],
    p[class*='_back'] {
      font-weight: 300;
    }
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
    //--|🠋 ~~~ 🠋|--//
    div[class*='one_'] {
      //--|🠊 display: grid; 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        font-size: 1.75rem;
      }
    }
    /*
      div[class*='two_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='thr_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fou_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fiv_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='six_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='par_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      */
  }
  @media screen and (max-height: 360px) {
    div[class*='one_'] {
      //--|🠊 display: grid; 🠈|--//
      *[class*='_text'],
      *[class*='_back'] {
        font-size: 1.25rem;
      }
    }
    /*
      div[class*='two_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='thr_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fou_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='fiv_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='six_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      div[class*='par_'] {
        //--|🠊 display: grid; 🠈|--//
      }
      */
  }
}
@mixin mobile-scaling {
  //--|🠉 display: flex; 🠉|--//
  //--|🠋 Tablet (Portrait) 🠋|--//
  //--|🠊 button[class*='default'] 🠈|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}
/*
      %align-left-icon {
        top: 2px;
        position: relative;
      }
      %align-left-text {
        //--|🠊 display: flex; 🠈|--//
        & {
          
          border-radius: 8px;
        }
      }
      */
/*
      %align-left-null {
        //--|🠊 display: flex; 🠈|--//
        & {
          
          text-align: left;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
      */
/*
      %align-right-icon {
        top: 2px;
        position: relative;
      }
      %align-right-text {
        //--|🠊 display: flex; 🠈|--//
        & {
          
          text-align: right;
          border-radius: 8px;
          padding: 8px 72px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
      */
/*
      %align-right-null {
        //--|🠊 display: flex; 🠈|--//
        & {
          
          text-align: right;
          border-radius: 8px;
          padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
      }
      */
/*
    %align-center-icon {
      top: 2px;
      position: relative;
    }
    %align-center-text {
      //--|🠊 display: flex; 🠈|--//
      & {
        
        text-align: center;
        border-radius: 8px;
        padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
      }
    }
    */
/*
    %align-text {
      //--|🠊 display: flex; 🠈|--//
      & {
        
        text-align: center;
        border-radius: 8px;
        padding: 8px 8px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
      }
    }
    */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px 0 56px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 56px 0 8px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 8px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 8px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px 0 36px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 36px 0 4px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 4px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 4px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px 0 26px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 26px 0 2px; //--|🠈 top / right / bottom / left 🠈|--//
        }
        */
/*
        *[class*='_text'],
        *[class*='_back'] {
          padding: 0 2px; //--|🠈 top & bottom / left & right 🠈|--//
        }
        */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
/*
      *[class*='_text'],
      *[class*='_back'] {
        padding: 0 2px; //--|🠈 top & bot / right & left 🠈|--//
      }
      */
