// LandingLeftbar.scss
@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 1fr 40rem 1fr / 6rem 1fr 25rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}

aside[id*='leftbar'] {
  display: grid;
  overflow: hidden; //--|🠊 Hide elements outside the visible area 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
