//--|🠊 MenuElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './swipe-menu/SwipeMenu.scss';
@use './select-menu/SelectMenu.scss';

section[class*='menu-main'] {
  div.menu-main_container {
    aside[class*='menu'] {
      @media screen and (orientation: landscape) {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='select'] {
          @include SelectMenu.desktop-landscape;
        }
        &[class*='swipe'] {
          @include SwipeMenu.desktop-landscape;
        }
      }
      @media screen and (orientation: portrait) {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='select'] {
          @include SelectMenu.mobile-portrait;
        }
        &[class*='swipe'] {
          @include SwipeMenu.mobile-portrait;
        }
      }
    }
  }
}
