//--|🠊 LandingOverlay.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: block; 🠈|--//
  section[class*='loading'] {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); //--|🠊 1280x720, rows / columns 🠈|--//
    background: linear-gradient(0deg, rgba(white, 1) 0%, rgba(Palettes.$indexLand-medium, 1) 100%);
    img {
      width: 1280px;
      height: 720px;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  section[class*='selection'] {
    display: grid;
    grid-template: 4rem 1fr 40rem 1fr 4rem / 6rem 1fr 25rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//
    background: linear-gradient(180deg, rgba(white, 1) 0%, rgba(Palettes.$indexLand-medium, 1) 100%);

    header[class*='branding'] {
      grid-area: 1 / 1 / 2 / 6;
    }
    article[class*='selection'] {
      grid-area: 3 / 3 / 4 / 4;
    }
  }

  @media screen and (max-height: 768px) {
    section[class*='loading'] {
      img {
        width: 854px;
        height: 480px;
      }
    }
  }
  @media screen and (max-height: 360px) {
    section[class*='loading'] {
      img {
        width: 426px;
        height: 240px;
      }
    }
    section[class*='selection'] {
      grid-template: 2rem 1fr 2rem / 3rem 0.5fr 1fr 0.5fr 3rem; //--|🠊 rows / columns 🠈|--//
      article[class*='selection'] {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 display: block; 🠈|--//
  section[class*='loading'] {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); //--|🠊 640x360, rows / columns 🠈|--//
    background: linear-gradient(0deg, rgba(white, 1) 0%, rgba(Palettes.$indexLand-medium, 1) 100%);
    img {
      width: 640px;
      height: 360px;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  section[class*='selection'] {
    display: grid;
    grid-template: 6rem 1fr 6rem / 2rem 1fr 2rem; //--|🠊 rows / columns 🠈|--//
    background: linear-gradient(180deg, rgba(white, 1) 0%, rgba(Palettes.$indexLand-medium, 1) 100%);

    header[class*='branding'] {
      grid-area: 1 / 2 / 2 / 3;
    }
    article[class*='selection'] {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  @media screen and (max-width: 768px) {
    section[class*='loading'] {
      img {
        width: 640px;
        height: 360px;
      }
    }
  }
  @media screen and (max-width: 360px) {
    section[class*='loading'] {
      img {
        width: 256px;
        height: 144px;
      }
    }
  }
}

section[id*='landing'] {
  //--|🠊 display: block; 🠈|--//
  overflow: hidden; //--|🠈 Hide elements outside the visible area 🠈|--//
  grid-area: 1 / 1 / 4 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  .landing-carousel {
    display: flex;
    @extend %slide-up;
    flex-direction: column;
    animation: slide-up 1s ease-in-out forwards;
    section {
      width: 100vw;
      height: 100vh;
      &[class*='loading'] {
        img {
          filter: drop-shadow(0 0 1rem white);
          outline: 4px dashed rgba(Palettes.$indexLand-medium, 1);
          box-shadow: inset 0 0 4rem rgba(Palettes.$indexLand-medium, 1); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
        }
      }
      &[class*='selection'] {
      }
    }

    //--|🠋 Desktop (Landscape) 🠋|--//
    @media screen and (orientation: landscape) {
      @include desktop-landscape();
    }
    //--|🠋 Mobile (Portrait) 🠋|--//
    @media screen and (orientation: portrait) {
      @include mobile-portrait();
    }
  }
}
%slide-up {
  animation-delay: 3s; //--|🠈 Wait 3 seconds before starting the animation 🠈|--//
  @keyframes slide-up {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-100vh);
    }
  }
}
