//--|🠊 DefaultButton.scss 🠈|--\\
@use '../../../../../../designs/Palettes.scss';
@use '../../../../../../designs/Mixins.scss' as Mixins;

@mixin desktop-landscape {
  //--|🠊 <aside className="default-button"> 🠈|--\\
  mask-image: linear-gradient(to bottom, transparent 0%, black 5rem, black calc(100% - 5rem), transparent 100%);
  section[class*='foreground'] {
    @extend %mark-area-desk;
    @extend %mark-disp-desk;
    div {
      //--|🠊 display: grid; 🠈|--\\
      &[class*='container'] {
        //--|🠊 display: flex; 🠈|--\\
        section[class*='default-main'] {
          //--|🠊 display: grid; 🠈|--\\
          //--|🠋 96px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            repeat(2, 4rem) repeat(7, 1fr) repeat(2, 4rem) //--|🠈 rows 🠈|--//
            / 48px repeat(2, 1fr) 48px; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            //--|🠋 64px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              repeat(2, 3rem) repeat(7, 1fr) repeat(2, 3rem) //--|🠈 rows 🠈|--//
              / 32px repeat(2, 1fr) 32px; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            //--|🠋 48px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              repeat(2, 2rem) repeat(7, 1fr) repeat(2, 2rem) //--|🠈 rows 🠈|--//
              / 24px repeat(2, 1fr) 24px; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            //--|🠋 32px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              repeat(2, 1.5rem) repeat(7, 1fr) repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
              / 16px repeat(2, 1fr) 16px; //--|🠈 columns 🠈|--\\
          }
        }
      }
      &[class*='toggle'] {
        //--|🠋 96px (Left & Right) for Design 🠋|--\\
        grid-template: //--|🠋 Width: 1920px 🠋|--\\
          8rem repeat(3, 1fr) 8rem //--|🠈 rows 🠈|--//
          / 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠋 64px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1366px 🠋|--\\
            6rem repeat(3, 1fr) 6rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠋 48px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 854px 🠋|--\\
            4rem repeat(3, 1fr) 4rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠋 32px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 640px 🠋|--\\
            3rem repeat(3, 1fr) 3rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
      }
    }
    //--|🠋 96px (Left & Right) for Design 🠋|--\\
    grid-template: //--|🠋 Width: 1920px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 48px 1fr repeat(2, 8rem) 1fr 48px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 64px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 1366px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr repeat(2, 6rem) 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 48px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 854px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr repeat(2, 4rem) 1fr 24px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 32px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 Width: 640px 🠋|--\\
        repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
        / 16px 1fr repeat(2, 3rem) 1fr 16px; //--|🠈 columns 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    display: grid;
    grid-row: 1 / 2; //--|🠈 row-start row-end 🠈|--\\
    grid-template-rows: 1fr;

    .left-side {
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-darkMode;
      filter: drop-shadow(1rem 0px 1rem rgba(white, 0.25));
    }
    .right-side {
      grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-lightMode;
      filter: drop-shadow(-1rem 0px 1rem rgba(black, 0.25));
    }
    grid-template-columns: 1fr 256px 1fr; //--|🠈 Width: 1920px 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template-columns: 1fr 192px 1fr; //--|🠈 Width: 1366px 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template-columns: 1fr 128px 1fr; //--|🠈 Width: 854px 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template-columns: 1fr 96px 1fr; //--|🠈 Width: 640px 🠈|--\\
    }
  }
  //--|===|--\\
  %mark-area-desk {
    menu {
      &[class*='darkside'] {
        grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &[class*='lightside'] {
        grid-area: 2 / 4 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    div {
      &[class*='toggle'] {
        grid-area: 2 / 3 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        label:nth-child(1) {
          grid-area: 2 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        label:nth-child(2) {
          grid-area: 3 / 1 / 4 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        label:nth-child(3) {
          grid-area: 4 / 1 / 5 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
      &[class*='default'] {
        &[class*='darkside'] {
          //--|🠊 background: black; 🠈|--\\
          grid-area: 1 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        section[class*='default'] {
          button[class*='_top_'] {
            grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_bot_'] {
            grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_lef_'] {
            grid-area: 5 / 2 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_rig_'] {
            grid-area: 6 / 2 / 7 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_cen_'] {
            grid-area: 7 / 2 / 8 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_tex_'] {
            grid-area: 8 / 2 / 9 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_ico_'] {
            grid-area: 9 / 2 / 11 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
        }
        &[class*='lightside'] {
          //--|🠊 background: white; 🠈|--\\
          grid-area: 1 / 5 / 6 / 7; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
    }
  }
  %mark-disp-desk {
    display: grid;
    div[class*='default'] {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      &[class*='container'] {
        section[class*='default-main'] {
          display: grid;
        }
      }
      &[class*='side-main'] {
        flex-direction: column;
        //--|🠊 display: flex; 🠈|--\\
      }
    }
    div[class*='toggle'] {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
    }
  }
  @include Mixins.layering-position;
}
@mixin mobile-portrait {
  //--|🠊 <aside className="default-button"> 🠈|--\\
  /*
  mask-image: linear-gradient(to bottom, transparent 0%, black 5rem, black calc(100% - 5rem), transparent 100%);
  display: none !important;
  */
  section[class*='foreground'] {
    @extend %mark-area-mobi;
    @extend %mark-disp-mobi;
    div {
      //--|🠊 display: grid; 🠈|--\\
      &[class*='container'] {
        //--|🠊 display: flex; 🠈|--\\
        section[class*='default-main'] {
          //--|🠊 display: grid; 🠈|--\\
          height: 100%;

          &:nth-child(1) {
            background: rgba(darkred, 0.25);
          }
          &:nth-child(2) {
            background: rgba(darkblue, 0.25);
          }
          &:nth-child(3) {
            background: rgba(darkgreen, 0.25);
          }
          /*
          //--|🠋 96px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1920px 🠋|--\\
            repeat(2, 4rem) repeat(7, 1fr) repeat(2, 4rem) //--|🠈 rows 🠈|--//
            / 48px repeat(2, 1fr) 48px; //--|🠈 columns 🠈|--\\
          @media screen and (max-height: 768px) {
            //--|🠋 64px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 1366px 🠋|--\\
              repeat(2, 3rem) repeat(7, 1fr) repeat(2, 3rem) //--|🠈 rows 🠈|--//
              / 32px repeat(2, 1fr) 32px; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 480px) {
            //--|🠋 48px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 854px 🠋|--\\
              repeat(2, 2rem) repeat(7, 1fr) repeat(2, 2rem) //--|🠈 rows 🠈|--//
              / 24px repeat(2, 1fr) 24px; //--|🠈 columns 🠈|--\\
          }
          @media screen and (max-height: 360px) {
            //--|🠋 32px (Left & Right) for Design 🠋|--\\
            grid-template: //--|🠋 Width: 640px 🠋|--\\
              repeat(2, 1.5rem) repeat(7, 1fr) repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
              / 16px repeat(2, 1fr) 16px; //--|🠈 columns 🠈|--\\
          }
          */
        }
      }
      &[class*='toggle'] {
        //--|🠋 96px (Left & Right) for Design 🠋|--\\
        grid-template: //--|🠋 Width: 1920px 🠋|--\\
          8rem repeat(3, 1fr) 8rem //--|🠈 rows 🠈|--//
          / 1fr; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          //--|🠋 64px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 1366px 🠋|--\\
            6rem repeat(3, 1fr) 6rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          //--|🠋 48px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 854px 🠋|--\\
            4rem repeat(3, 1fr) 4rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          //--|🠋 32px (Left & Right) for Design 🠋|--\\
          grid-template: //--|🠋 Width: 640px 🠋|--\\
            3rem repeat(3, 1fr) 3rem //--|🠈 rows 🠈|--//
            / 1fr; //--|🠈 columns 🠈|--\\
        }
      }
    }
    grid-template: //--|🠋 Height: 1920px 🠋|--\\
      repeat(2, 6rem) repeat(2, 1fr) repeat(4, 6rem) //--|🠈 rows 🠈|--//
      / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
    @media screen and (max-width: 768px) {
      //--|🠊 48px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 1366px 🠋|--\\
        repeat(2, 5rem) repeat(2, 1fr) repeat(4, 5rem) //--|🠈 rows 🠈|--//
        / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 480px) {
      //--|🠊 32px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 854px 🠋|--\\
        repeat(2, 3rem) repeat(2, 1fr) repeat(4, 3rem) //--|🠈 rows 🠈|--//
        / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 360px) {
      //--|🠊 24px (Left & Right) for Design 🠈|--\\
      grid-template: //--|🠋 Height: 640px 🠋|--\\
        repeat(2, 2rem) repeat(2, 1fr) repeat(4, 2rem) //--|🠈 rows 🠈|--//
        / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    /*
    display: grid;
    grid-row: 1 / 2; //--|🠈 row-start row-end 🠈|--\\
    grid-template-rows: 1fr;

    .left-side {
      grid-column: 1 / 2; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-darkMode;
      filter: drop-shadow(1rem 0px 1rem rgba(white, 0.25));
    }
    .right-side {
      grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--\\
      background: Palettes.$indexLand-lightMode;
      filter: drop-shadow(-1rem 0px 1rem rgba(black, 0.25));
    }
    grid-template-columns: 1fr 256px 1fr; //--|🠈 Width: 1920px 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template-columns: 1fr 192px 1fr; //--|🠈 Width: 1366px 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template-columns: 1fr 128px 1fr; //--|🠈 Width: 854px 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template-columns: 1fr 96px 1fr; //--|🠈 Width: 640px 🠈|--\\
    }
    */
  }
  //--|===|--\\
  %mark-area-mobi {
    menu {
      display: none;
      &[class*='darkside'] {
        background: rgba(darkred, 0.25);
        grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
      &[class*='lightside'] {
        background: rgba(darkblue, 0.25);
        grid-area: 2 / 4 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      }
    }
    div {
      &[class*='toggle'] {
        display: none !important;
        background: rgba(darkgreen, 0.25);
        grid-area: 2 / 3 / 5 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        label:nth-child(1) {
          grid-area: 2 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        label:nth-child(2) {
          grid-area: 3 / 1 / 4 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        label:nth-child(3) {
          grid-area: 4 / 1 / 5 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
      &[class*='darkside'] {
        //--|🠊 background: rgba(black, 0.25); 🠈|--\\
        grid-area: 2 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        /*
          .vert-Y-axis {
            display: none;
          }
          */
      }
      &[class*='lightside'] {
        background: rgba(darkblue, 0.5);
        //--|🠊 background: rgba(white, 0.25); 🠈|--\\
        grid-area: 4 / 2 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        /*
          .vert-Y-axis {
            display: none;
          }
          */
      }
      &[class*='default'] {
        section[class*='default'] {
          button {
            display: none !important;
          }
          button[class*='_top_'] {
            grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_bot_'] {
            grid-area: 2 / 3 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_lef_'] {
            grid-area: 5 / 2 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_rig_'] {
            grid-area: 6 / 2 / 7 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_cen_'] {
            grid-area: 7 / 2 / 8 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_tex_'] {
            grid-area: 8 / 2 / 9 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          button[class*='_ico_'] {
            grid-area: 9 / 2 / 11 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
        }
      }
    }
  }
  %mark-disp-mobi {
    width: 100%;
    display: grid;
    height: 100svh;
    div[class*='default'] {
      /*
      height: 100%;
      overflow: hidden;
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      */
      &[class*='container'] {
        overflow: hidden;
        // height: 100%;

        // width: 100%;
        section[class*='default-main'] {
          // height: inherit;
          // background: rgba(darkred, 0.5);
          display: grid;
        }
      }
      &[class*='side-main'] {
        flex-direction: column;
        //--|🠊 display: flex; 🠈|--\\
      }
    }
    div[class*='toggle'] {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
    }
  }
  @include Mixins.layering-position;
}
