//--|🠊 ComponentsLeftbar.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Layers) 🠋|--\\
  %foreground {
    menu[class*='carousel'] {
      grid-area: 1 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      li.downplay {
        opacity: 0.5;
      }
    }
  }
  %midground {
  }
  %background {
  }

  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    &[class*='fore'] {
      @extend %foreground;
    }
    &[class*='mid'] {
      @extend %midground;
    }
    &[class*='back'] {
      @extend %background;
    }
  }

  //--|🠋 Desktop (Labelling) 🠋|--\\
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    h1 {
      color: darkblue;
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Layers) 🠋|--//
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    h1 {
      grid-area: 3 / 2 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
}
aside[id='components-leftbar'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid;
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid;
  }
}
