//--|🠊 HyperlinkMain.scss 🠈|--//
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop: Hyperlink Main 🠋|--\\
  section[class*='foreground'] {
    div[class*='default'] {
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
  }
  @include Mixins.landscape-grid;
}
@mixin mobile-portrait {
  //--|🠋 Mobile: Hyperlink Main 🠋|--\\
}

main[id*='hyperlink'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
/*
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  background: rgba(Palettes.$findLink-medium, 0.5);
  // section[class*='fore'] {
  // }
  // figure[class*='mid'] {
  // }
  // div[class*='back'] {
  // }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--//
}

main[id*='hyperlink'] {
  position: relative;
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    section[class*='foreground'],
    figure[class*='midground'],
    div[class*='background'] {
      //--|🠋 Layer Perimeters 🠋|--\\
      width: 100%;
      height: 100%;
      display: grid;
      overflow: hidden;
      position: absolute;
      //--|🠋 96px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 1080px 🠋|--\\
        repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
        / 48px repeat(3, 1fr) 48px; //--|🠈 columns 🠈|--//
      @media screen and (max-height: 768px) {
        //--|🠋 64px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 3rem) 1fr repeat(2, 3rem) / 32px repeat(3, 1fr) 32px; //--|🠈 row / col 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        //--|🠋 48px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 2rem) 1fr repeat(2, 2rem) / 24px repeat(3, 1fr) 24px; //--|🠈 row / col 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        //--|🠋 32px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) / 16px repeat(3, 1fr) 16px; //--|🠈 row / col 🠈|--\\
      }
    }
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
*/
