//--|🠊 Section.characters.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Section) 🠋|--\\
  div[class='wrapper'] {
    display: grid;
    grid-area: 4 / 3 / 5 / 4;
    background: rgba(black, 0.25);
    header,
    section,
    footer {
      display: inherit; //--|🠊 display: grid; 🠈|--\\
      background: rgba(darkred, 0.25);
      &[class='information'] {
        img {
          display: none;
        }
        h1[class='full-name'] {
          display: none;
        }
        p[class='country'] {
          display: none;
        }

        grid-template-rows: 1fr;
        grid-template-columns: 1fr 234px; //--|🠈 Width: 1920px 🠈|--\\
        @media screen and (max-height: 768px) {
          grid-template-columns: 1fr 178fr; //--|🠈 Width: 1366px 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          grid-template-columns: 1fr 148px; //--|🠈 Width: 854px 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          grid-template-columns: 1fr 99px; //--|🠈 Width: 640px 🠈|--\\
        }
      }
      &[class='permissions'] {
        display: none;

        background: rgba(darkgreen, 0.25);
      }
      &[class='description'] {
        display: none;

        background: rgba(darkblue, 0.25);
      }
    }

    grid-template-columns: 1fr;
    grid-template-rows: 214px 64px 394px; //--|🠈 Width: 1920px 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template-rows: 107px 36px 273px; //--|🠈 Width: 1366px 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template-rows: 66px 36px 210px; //--|🠈 Width: 854px 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template-rows: 66px 20px 154px; //--|🠈 Width: 640px 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Section) 🠋|--\\
}

section[class*='characters'] {
  display: inherit; //--|🠈 display: grid; 🠈|--\\
  grid-area: inherit; //--|🠈 grid-area: 1 / 1 / 6 / 4; 🠈|--\\
  // grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  //--|🠊 96px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Width: 1920px 🠋|--\\
    repeat(2, 4rem) 1fr 672px 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
    / 48px 1fr 448px 1fr 48px; //--|🠈 columns 🠈|--\\
  @media screen and (max-height: 768px) {
    //--|🠊 64px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 1366px 🠋|--\\
      repeat(2, 3rem) 1fr 416px 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
      / 32px 1fr 285px 1fr 32px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 480px) {
    //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 854px 🠋|--\\
      repeat(2, 2rem) 1fr 312px 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
      / 24px 1fr 214px 1fr 24px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 360px) {
    //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 640px 🠋|--\\
      repeat(2, 1.5rem) 1fr 240px 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
      / 16px 1fr 165px 1fr 16px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

//--|🠊 ProfileOvertime.scss 🠈|--\\
/*
@use '../../../../../designs/Palettes.scss';
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  // height: 100%;

  // background: rgba(darkblue, 0.25);
  .one {
    background: rgba(orange, 0.5);
  }
  .two {
    background: rgba(purple, 0.5);
  }
  .thr {
    background: rgba(black, 0.5);
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--//
}
*/
