//--|🠊 FigureElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-figure/DefaultFigure.scss';

section[class*='figure'] {
  div.figure-main_container {
    aside[class*='figure'] {
      width: 100vw;
      height: 100svh;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        &[class*='default'] {
          @include DefaultFigure.desktop-landscape;
        }
      }
      @media screen and (orientation: portrait) {
        &[class*='default'] {
          @include DefaultFigure.mobile-portrait;
        }
      }
    }
  }
}
