@mixin desktop-landscape {
  //--|🠊 display: flex; 🠈|--//
}
@mixin mobile-portrait {
  //--|🠊 display: flex; 🠈|--//
}

main[id*='main'] {
  // display: grid;
  // overflow: hidden; // Hide elements outside the visible area //
  // grid-template: inherit; //~~|🠊 64px 1fr 64px / 96px 1fr 96px; 🠈|~~//
  // grid-area: 1 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//

  div[class='test'] {
    background: purple;
    color: white;
    // width: 100%;
    // height: 100%;
    grid-area: 1 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
  }
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
