//--|🠊 Global.scss 🠈|--//
@use '../../utilities/vendors/bootstrap/5.3.3/css/bootstrap.css';
html {
  overflow: hidden; //--|🠈 Disable Scrolling 🠈|--\\
  body {
    overflow: hidden; //--|🠈 Disable Scrolling 🠈|--\\
    position: relative; //--|🠈 Overlay Elements 🠈|--\\
    div[id*='body'] {
      display: grid; //--|🠈 Sets Grid 🠈|--\\
      * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 0;
          outline: none;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-family: 'Baloo Bhai 2', arial;
        }
        p {
          margin: 0;
          white-space: wrap;
          font-family: 'Source Sans 3', arial;
        }
        menu {
          list-style: none;
        }
        time {
          cursor: default;
        }
        button {
          outline: none;
        }
        select {
          cursor: pointer;
        }

        ul,
        ol {
          padding: 0;
          list-style: none;
        }
        pre {
          margin: 0;
        }
      }
      section[class*='foreground'],
      figure[class*='midground'],
      div[class*='background'] {
        &[class*='foreground'] {
          z-index: 2;
        }
        &[class*='midground'] {
          z-index: 1;
        }
        &[class*='background'] {
          z-index: 0;
        }
      }

      > * {
        display: inherit; //--|🠈 Only direct children are affected to preserve layout boundaries. 🠈|--//
        grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 All direct children inherit the parent layout mode and are placed into the same grid coordinates (row 1–4, col 1–4). 🠈|--//
        //--|🠊 This intentionally stacks child elements on top of each other, enabling controlled view switching via state, z-index, or visibility. 🠈|--//
      }
    }
  }
}
