//--|🠊 Mixins.scss 🠈|--\\
//--|🠊 @include Mixins.landscape-grid; 🠈|--\\
@mixin landscape-grid {
  display: grid;
  section[class*='foreground'],
  figure[class*='midground'],
  div[class*='background'] {
    width: 100%;
    height: 100svh;
    display: inherit; //--|🠈 display: grid; 🠈|--\\
    grid-template: inherit;
    grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
  }

  //--|🠊 96px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Width: 1920px 🠋|--\\
    repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
    / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
  @media screen and (max-height: 768px) {
    //--|🠊 64px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 1366px 🠋|--\\
      repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
      / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 480px) {
    //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 854px 🠋|--\\
      repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
      / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 360px) {
    //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Width: 640px 🠋|--\\
      repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
      / 16px 1fr 16px; //--|🠈 columns 🠈|--\\
  }
}
//--|🠊 @include Mixins.portrait-grid; 🠈|--\\
@mixin portrait-grid {
  display: grid;
  //--|🠊 64px (Left & Right) for Design 🠈|--\\
  grid-template: //--|🠋 Height: 1920px 🠋|--\\
    repeat(2, 6rem) 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
    / 64px 1fr 64px; //--|🠈 columns 🠈|--\\
  @media screen and (max-width: 768px) {
    //--|🠊 48px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 1366px 🠋|--\\
      repeat(2, 5rem) 1fr repeat(2, 5rem) //--|🠈 rows 🠈|--//
      / 48px 1fr 48px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-width: 480px) {
    //--|🠊 32px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 854px 🠋|--\\
      repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
      / 32px 1fr 32px; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-width: 360px) {
    //--|🠊 24px (Left & Right) for Design 🠈|--\\
    grid-template: //--|🠋 Height: 640px 🠋|--\\
      repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
      / 24px 1fr 24px; //--|🠈 columns 🠈|--\\
  }
}

//--|🠋 Resolution Testing 🠋|--//
@mixin display-testing {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    & {
      width: 100%;
      aside[class*='leftbar'] {
        background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      aside[class*='rightbar'] {
        // background: rgba($red-light, 0.25);
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }

        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
      }
      section[class*='overlay'] {
        header[class*='foreground'] {
          background: rgba($green-neon, 0.25);
        }
        div[class*='background'] {
          background: rgba($green-dark, 0.25);
        }
        footer[class*='midground'] {
          background: rgba($green-neon, 0.25);
        }
      }

      header {
        background: rgba($red-light, 0.25);
      }
      main {
        background: rgba($red-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
      footer {
        background: rgba($red-light, 0.25);
      }
    }
    //--|🠊 border: 2px dashed $red-neon; 🠈|--//
    //--|🠊 background: rgba($red-dark, 0.25); 🠈|--//
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    & {
      aside[class*='leftbar'] {
        background: rgba($blue-light, 0.25);
      }
      aside[class*='rightbar'] {
        background: rgba($blue-light, 0.25);
      }
      section[class*='overlay'] {
        background: rgba($blue-dark, 0.25);
      }

      header {
        background: rgba($blue-light, 0.25);
      }
      footer {
        background: rgba($blue-light, 0.25);
      }
      main {
        background: rgba($blue-dark, 1);
        div[id*='fore'],
        div[id*='mid'],
        div[id*='back'] {
          background: rgba($purple-dark, 0.25) !important;
        }
      }
    }
    //--|🠊 border: 2px dashed $blue-neon; 🠈|--//
    //--|🠊 background: rgba($blue-dark, 0.25); 🠈|--//
  }
}

@mixin clip-menu {
  //--|🠋 X-axis 🠋|--\\
  /*
  &[class*='_rig_'] {
    clip-path: inset(0% 0% 0% calc(100% - 128px)); //--|🠈 top / right / bottom / left 🠈|--\\
    @media screen and (max-height: 768px) {
      clip-path: inset(0% 0% 0% calc(100% - 96px)); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      clip-path: inset(0% 0% 0% calc(100% - 64px)); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      clip-path: inset(0% 0% 0% calc(100% - 48px)); //--|🠈 top / right / bottom / left 🠈|--\\
    }
  }
  &[class*='_bot_'] {
    clip-path: inset(calc(100% - 128px) 0% 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    @media screen and (max-height: 768px) {
      clip-path: inset(calc(100% - 96px) 0% 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      clip-path: inset(calc(100% - 64px) 0% 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      clip-path: inset(calc(100% - 48px) 0% 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
  }
  */

  //--|🠋 Y-axis 🠋|--\\
  /*
  &[class*='_lef_'] {
    clip-path: inset(0% calc(100% - 128px) 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    @media screen and (max-height: 768px) {
      clip-path: inset(0% calc(100% - 96px) 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      clip-path: inset(0% calc(100% - 64px) 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      clip-path: inset(0% calc(100% - 48px) 0% 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
  }
  &[class*='_top_'] {
    clip-path: inset(0% 0% calc(100% - 128px) 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    @media screen and (max-height: 768px) {
      clip-path: inset(0% 0% calc(100% - 96px) 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      clip-path: inset(0% 0% calc(100% - 64px) 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      clip-path: inset(0% 0% calc(100% - 48px) 0%); //--|🠈 top / right / bottom / left 🠈|--\\
    }
  }
  */
}

//--|🠊 @include Mixins.desktop-grid; 🠈|--\\
@mixin desktop-grid {
  grid-template: //--|🠋 1920px 🠋|--\\
    8rem 1fr 8rem //--|🠈 rows 🠈|--//
    / 6rem 1fr 6rem; //--|🠈 columns 🠈|--//
  @media screen and (max-height: 768px) {
    grid-template:  //--|🠋 1366px 🠋|--\\
      6rem 1fr 6rem //--|🠈 rows 🠈|--//
      / 4rem 1fr 4rem; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 480px) {
    grid-template:  //--|🠋 854px 🠋|--\\
      4rem 1fr 4rem //--|🠈 rows 🠈|--//
      / 3rem 1fr 3rem; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-height: 360px) {
    grid-template: //--|🠋 640px 🠋|--\\
      3rem 1fr 3rem //--|🠈 rows 🠈|--//
      / 2rem 1fr 2rem; //--|🠈 columns 🠈|--\\
  }
}
//--|🠊 @include Mixins.mobile-grid; 🠈|--\\
@mixin mobile-grid {
  grid-template: //--|🠋 1920px 🠋|--\\
    12rem 1fr 12rem //--|🠈 rows 🠈|--//
    / 4rem 1fr 4rem; //--|🠈 columns 🠈|--\\
  @media screen and (max-width: 768px) {
    grid-template:  //--|🠋 1366px 🠋|--\\
      10rem 1fr 10rem //--|🠈 rows 🠈|--//
      / 3rem 1fr 3rem; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-width: 480px) {
    grid-template:  //--|🠋 854px 🠋|--\\
      6rem 1fr 6rem //--|🠈 rows 🠈|--//
      / 2rem 1fr 2rem; //--|🠈 columns 🠈|--\\
  }
  @media screen and (max-width: 360px) {
    grid-template:  //--|🠋 640px 🠋|--\\
      4rem 1fr 4rem //--|🠈 rows 🠈|--//
      / 1.5rem 1fr 1.5rem; //--|🠈 columns 🠈|--\\
  }
}
