//--||🠊 Palettes.scss 🠈|--\\
//--||🠋 Preset Palettes 🠋|--\\
$red-neon: #ff0000; //--|🠈 rgba() 🠈|--\\
$red-dark: #660000; //--|🠈 rgba() 🠈|--\\
$red-light: #ea9999; //--|🠈 rgba() 🠈|--\\
$red-medium: #863236; //--|🠈 rgba() 🠈|--\\

$green-neon: #00ff00; //--|🠈 rgba() 🠈|--\\
$green-dark: #0d1a07; //--|🠈 rgba() 🠈|--\\
$green-light: #b6d7a8; //--|🠈 rgba() 🠈|--\\
$green-medium: #274e13; //--|🠈 rgba() 🠈|--\\

$blue-neon: #006eff; //--|🠈 rgba() 🠈|--\\
$blue-dark: #0b1431; //--|🠈 rgba() 🠈|--\\
$blue-light: #9fc5e8; //--|🠈 rgba() 🠈|--\\
$blue-medium: #073763; //--|🠈 rgba() 🠈|--\\

$purple-neon: #9900ff; //--|🠈 rgba() 🠈|--\\
$purple-dark: #0e091b; //--|🠈 rgba() 🠈|--\\
$purple-light: #7f6fa8; //--|🠈 rgba() 🠈|--\\
$purple-medium: #2a1d55; //--|🠈 rgba() 🠈|--\\

$pink-neon: #ff00ff; //--|🠈 rgba() 🠈|--\\
$pink-dark: #4c1130; //--|🠈 rgba() 🠈|--\\
$pink-light: #d5a6bd; //--|🠈 rgba() 🠈|--\\
$pink-medium: #814381; //--|🠈 rgba() 🠈|--\\

$yellow-neon: #ffff00; //--|🠈 rgba() 🠈|--\\
$yellow-dark: #4d1f05; //--|🠈 rgba() 🠈|--\\
$yellow-light: #ffe599; //--|🠈 rgba() 🠈|--\\
$yellow-medium: #7f6000; //--|🠈 rgba() 🠈|--\\

$orange-neon: #ffc400; //--|🠈 rgba() 🠈|--\\
$orange-dark: #783f04; //--|🠈 rgba() 🠈|--\\
$orange-light: #e4d8cc; //--|🠈 rgba() 🠈|--\\
$orange-medium: #e08f14; //--|🠈 rgba() 🠈|--\\

$brown-neon: #9c4600; //--|🠈 rgba() 🠈|--\\
$brown-dark: #302114; //--|🠈 rgba() 🠈|--\\
$brown-light: #ffd3af; //--|🠈 rgba() 🠈|--\\
$brown-medium: #b46849; //--|🠈 rgba() 🠈|--\\

$grey-neon: #eeeee0; //--|🠈 rgba() 🠈|--\\
$grey-dark: #111111; //--|🠈 rgba() 🠈|--\\
$grey-light: #c5c5c5; //--|🠈 rgba() 🠈|--\\
$grey-medium: #585858; //--|🠈 rgba() 🠈|--\\

$turquoise-neon: #00ffff; //--|🠈 rgba() 🠈|--\\
$turquoise-dark: #0c1f24; //--|🠈 rgba() 🠈|--\\
$turquoise-light: #b9d1d4; //--|🠈 rgba() 🠈|--\\
$turquoise-medium: #115f70; //--|🠈 rgba() 🠈|--\\

//--|🠋 Track a Day - Trinity {A]pps 🠋|--\\
$trackDay-neon: #00ff44; //--|🠈 rgba() 🠈|--\\
$trackDay-dark: #072007; //--|🠈 rgba() 🠈|--\\
$trackDay-light: #afebb2; //--|🠈 rgba() 🠈|--\\
$trackDay-medium: #39853b; //--|🠈 rgba() 🠈|--\\

//--|🠋 Log a Ticket - Trinity {A]pps 🠋|--\\
$logTicket-neon: #132eff; //--|🠈 rgba() 🠈|--\\
$logTicket-dark: #070e27; //--|🠈 rgba() 🠈|--\\
$logTicket-light: #8facec; //--|🠈 rgba() 🠈|--\\
$logTicket-medium: #1f3584; //--|🠈 rgba() 🠈|--\\

//--|🠋 Find a Link - Trinity {A]pps 🠋|--\\
$findLink-neon: #eb1224; //--|🠈 rgba() 🠈|--\\
$findLink-dark: #2b0a0d; //--|🠈 rgba() 🠈|--\\
$findLink-light: #e2bcca; //--|🠈 rgba() 🠈|--\\
$findLink-medium: #893141; //--|🠈 rgba() 🠈|--\\

//--|🠋 Index or Landing - Trinity {A]pps 🠋|--\\
$indexLand-neon: #ffffd3; //--|🠈 rgba() 🠈|--\\
$indexLand-dark: #0e0e0b; //--|🠈 rgba() 🠈|--\\
$indexLand-light: #cecebe; //--|🠈 rgba() 🠈|--\\
$indexLand-medium: #737373; //--|🠈 rgba() 🠈|--\\
