//--|🠊 Button.sharped.scss 🠈|--//
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';
@forward '../../../designs/Mixins.scss';

@mixin desktop-landscape {
  div {
    width: 8rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@mixin mobile-portrait {
}

button[class*='sharped'] {
  @include Mixins.button-sharped(); //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  @include Mixins.button-presets(); //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  @include Mixins.button-spacing(); //--|🠈 row-start / col-start / row-end / col-end 🠈|--//

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
