//--|🠊 CharactersAside.scss 🠈|--\\
@use '../../../../../../styles/Mixins.scss' as Mixins;
@use '../../../../../../styles/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠊 <aside className="characters-aside"> 🠈|--\\
  section[class*='main-fore'] {
    display: grid;
    aside:nth-child(1) {
      grid-area: 1 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    aside:nth-child(2) {
      grid-area: 1 / 4 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    grid-template: //--|🠋 Width: 1920px 🠋|--\\
      repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
      / 48px auto 1fr auto 48px; //--|🠈 columns 🠈|--\\
    @media screen and (max-height: 768px) {
      grid-template: //--|🠋 Width: 1366px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px auto 1fr auto 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      grid-template: //--|🠋 Width: 854px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px auto 1fr auto 24px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      grid-template: //--|🠋 Width: 640px 🠋|--\\
        repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) //--|🠈 rows 🠈|--//
        / 16px auto 1fr auto 16px; //--|🠈 columns 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 <aside className="characters-aside"> 🠈|--\\
  section[class*='main-fore'] {
    display: grid;
    aside:nth-child(1) {
      grid-area: 1 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    aside:nth-child(2) {
      grid-area: 1 / 4 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }

    grid-template: //--|🠋 Height: 1920px 🠋|--\\
      repeat(2, 6rem) 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
      / 64px auto 1fr auto 64px; //--|🠈 columns 🠈|--\\
    @media screen and (max-width: 768px) {
      grid-template: //--|🠋 Height: 1366px 🠋|--\\
        repeat(2, 5rem) 1fr repeat(2, 5rem) //--|🠈 rows 🠈|--//
        / 48px auto 1fr auto 48px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 480px) {
      grid-template: //--|🠋 Height: 854px 🠋|--\\
        repeat(2, 3rem) 1fr repeat(2, 3rem) //--|🠈 rows 🠈|--//
        / 32px auto 1fr auto 32px; //--|🠈 columns 🠈|--\\
    }
    @media screen and (max-width: 360px) {
      grid-template: //--|🠋 Height: 640px 🠋|--\\
        repeat(2, 2rem) 1fr repeat(2, 2rem) //--|🠈 rows 🠈|--//
        / 24px auto 1fr auto 24px; //--|🠈 columns 🠈|--\\
    }
  }
}
