//--|🠊 Article.leave.scss 🠈|--//
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';
@forward '../../../designs/Mixins.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 4rem repeat(7, 1fr) 4rem / 8rem 1fr 8rem; //--|🠊 rows / columns 🠈|--//
  time[class*='hourly'] {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 8 / 1 / 10 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    color: Palettes.$trackDay-light;
    filter: drop-shadow(0 0 4px rgba(black, 1));
  }
  header[class*='name'] {
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    h1 {
      color: Palettes.$trackDay-light;
      filter: drop-shadow(0 0 4px rgba(black, 1));
    }
  }
  button[class*='leave'] {
    z-index: 2;
    grid-area: 6 / 1 / 8 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    background: none !important;
  }
  section[class*='metrics'] {
    z-index: 3;
    display: inherit; //--|🠈 display: grid; 🠈|--//
    grid-area: 3 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    grid-template-columns: inherit; //--|🠈 8rem 1fr 8rem 🠈|--//
    grid-template-rows: repeat(3, 1fr);

    div[class*='row'] {
      display: inherit; //--|🠈 display: grid; 🠈|--//
      grid-column: 1 / 4;
      grid-template-rows: 1fr;
      grid-template-columns: inherit; //--|🠈 8rem 1fr 8rem 🠈|--//
      color: Palettes.$trackDay-light;
      transition: background 0.25s ease-in-out;

      & {
        * {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: color 0.25s ease-in-out;
        }
        &:nth-child(1) {
          grid-row: 1 / 2;
          //--|🠊 background: rgba(darkred, 0.25); 🠈|--//
        }
        &:nth-child(2) {
          grid-row: 2 / 3;
          //--|🠊 background: rgba(darkgreen, 0.25); 🠈|--//
        }
        &:nth-child(3) {
          grid-row: 3 / 4;
          //--|🠊 background: rgba(darkblue, 0.25); 🠈|--//
        }
      }
      h3 {
        grid-column: 2 / 3;
        filter: drop-shadow(0 0 4px rgba(black, 1));
        //--|🠊 background: rgba(green, 0.25); 🠈|--//
      }
      time {
        grid-column: 1 / 2;
        //--|🠊 color: white; 🠈|--//
        filter: drop-shadow(0 0 4px rgba(black, 1));
        //--|🠊 background: rgba(red, 0.25); 🠈|--//
      }
      span {
        filter: drop-shadow(0 0 4px rgba(black, 1));
        img {
          height: 3rem;
          grid-column: 3 / 4;
          mask-position: center;
          mask-repeat: no-repeat;
          background: Palettes.$trackDay-light;
          transition: background 0.25s ease-in-out;
        }
      }
    }
    div[class*='row']:hover {
      color: Palettes.$trackDay-dark;
      background: Palettes.$trackDay-light;
      span img {
        background: Palettes.$trackDay-dark;
      }
    }
  }

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }

  div[class*='background'] {
    z-index: 0;
    display: inherit; //--|🠈 display: grid; 🠈|--//
    grid-template: inherit; //--|🠊 4rem repeat(7, 1fr) 4rem / 8rem 1fr 8rem 🠈|--//
    grid-area: 1 / 1 / 10 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-left: 4px solid Palettes.$trackDay-light;
    figure {
      margin: 0;
      box-shadow: inset 0 0 2rem rgba(Palettes.$trackDay-medium, 0.25);
      &[class*='fullname'] {
        grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        border-top-left-radius: 4rem;
        //--|🠊 background: rgba(green, 0.25); 🠈|--//
      }
      &[class*='metrics'] {
        display: inherit; //--|🠈 display: grid; 🠈|--//
        grid-area: 3 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        grid-template: 1fr / 8rem 1fr 8rem; //--|🠊 rows / columns 🠈|--//
        border-top: 2px solid Palettes.$trackDay-light;
        border-bottom: 2px solid Palettes.$trackDay-light;

        span:nth-child(1) {
          grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          border-right: 2px dashed Palettes.$trackDay-light;
          //--|🠊 background: rgba(darkblue, 0.25); 🠈|--//
        }
        span:nth-child(2) {
          grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          border-left: 2px dashed Palettes.$trackDay-light;
          //--|🠊 background: rgba(lightblue, 0.25); 🠈|--//
        }
      }
      &[class*='hourly'] {
        grid-area: 8 / 1 / 10 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        border-bottom-left-radius: 4rem;
        //--|🠊 background: rgba(red, 0.25); 🠈|--//
      }
      &[class*='leave'] {
        grid-area: 6 / 1 / 8 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        border-bottom: 2px solid Palettes.$trackDay-light;
        //--|🠊 background: rgba(purple, 0.25); 🠈|--//
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

article[class*='leave'] {
  width: 100%;
  height: 100%;
  display: grid;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
