//--|🠊 Section.buttons.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: block; 🠈|--//

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-portrait {
  //--|🠋 Tablet (Portrait) 🠋|--//
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

aside[class*='buttons'] {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

%section-motion {
  div[class*='size'] {
    transition: filter 0.75s ease-in-out, opacity 0.25s ease-in-out;
    &[class*='hidden'] {
      opacity: 0;
      filter: blur(8px);
    }
    &[class*='visible'] {
      opacity: 1;
      filter: blur(0);
    }
  }
}

/*
  div[class*='size'] {
    display: grid;
    grid-template-rows: 4rem 1fr 4rem; //--|🠊 rows 🠈|--//
    grid-template-columns: 6rem repeat(3, 1fr) 6rem; //--|🠊 columns 🠈|--//
    & {
      aside[class*='dar'],
      aside[class*='med'],
      aside[class*='lig'] {
        button[class*='top_'] {
          grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(red, 0.25); 🠈|--//
        }
        button[class*='bot_'] {
          grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(blue, 0.25); 🠈|--//
        }

        button[class*='lef_'] {
          grid-area: 2 / 1 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(green, 0.25); 🠈|--//
        }

        button[class*='rig_'] {
          grid-area: 3 / 1 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(orange, 0.25); 🠈|--//
        }
        button[class*='cen_'] {
          grid-area: 4 / 1 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(purple, 0.25); 🠈|--//
        }
        button[class*='tex_'] {
          grid-area: 5 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(maroon, 0.25); 🠈|--//
        }
        button[class*='ico_'] {
          grid-area: 6 / 1 / 7 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(turquoise, 0.25); 🠈|--//
        }
      }
      aside[class*='dar'] {
        grid-column: 2 / 3; //--|🠈 col-start / col-end 🠈|--//
        background: Palettes.$indexLand-light;
        //--|🠋 Dark 🠋|--//
        button[class*='top_'] {
          grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(red, 0.25); 🠈|--//
        }
        button[class*='bot_'] {
          grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(blue, 0.25); 🠈|--//
        }

        button[class*='lef_'] {
          grid-area: 2 / 1 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(green, 0.25); 🠈|--//
        }

        button[class*='rig_'] {
          grid-area: 3 / 1 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(orange, 0.25); 🠈|--//
        }
        button[class*='cen_'] {
          grid-area: 4 / 1 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(purple, 0.25); 🠈|--//
        }
        button[class*='tex_'] {
          grid-area: 5 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(maroon, 0.25); 🠈|--//
        }
        button[class*='ico_'] {
          grid-area: 6 / 1 / 7 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
          //--|🠊 background: rgba(turquoise, 0.25); 🠈|--//
        }
      }
      aside[class*='med'] {
        grid-column: 3 / 4; //--|🠈 col-start / col-end 🠈|--//

        background: Palettes.$indexLand-medium;
        //--|🠋 Medium 🠋|--//
        // button[class*='top_'] {
        //   grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(red, 0.25); 🠈|--//
        // }
        // button[class*='bot_'] {
        //   grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(blue, 0.25); 🠈|--//
        // }

        // button[class*='lef_'] {
        //   grid-area: 2 / 1 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(green, 0.25); 🠈|--//
        // }

        // button[class*='rig_'] {
        //   grid-area: 3 / 1 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(orange, 0.25); 🠈|--//
        // }
        // button[class*='cen_'] {
        //   grid-area: 4 / 1 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(purple, 0.25); 🠈|--//
        // }
        // button[class*='tex_'] {
        //   grid-area: 5 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(maroon, 0.25); 🠈|--//
        // }
        // button[class*='ico_'] {
        //   grid-area: 6 / 1 / 7 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //   //--|🠊 background: rgba(turquoise, 0.25); 🠈|--//
        // }
      }
      aside[class*='lig'] {
        grid-column: 4 / 5; //--|🠈 col-start / col-end 🠈|--//
        background: Palettes.$indexLand-dark;
      }

      //--|🠋 Medium 🠋|--//
      button[class*='top_'] {
        grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(red, 0.25); 🠈|--//
      }
      button[class*='bot_'] {
        grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(blue, 0.25); 🠈|--//
      }

      button[class*='lef_'] {
        grid-area: 2 / 1 / 3 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(green, 0.25); 🠈|--//
      }

      button[class*='rig_'] {
        grid-area: 3 / 1 / 4 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(orange, 0.25); 🠈|--//
      }
      button[class*='cen_'] {
        grid-area: 4 / 1 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(purple, 0.25); 🠈|--//
      }
      button[class*='tex_'] {
        grid-area: 5 / 1 / 6 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(maroon, 0.25); 🠈|--//
      }
      button[class*='ico_'] {
        grid-area: 6 / 1 / 7 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        //--|🠊 background: rgba(turquoise, 0.25); 🠈|--//
      }
    }
    aside[class*='aside'] {
      grid-row: 2 / 3; //--|🠈 row-start / row-end 🠈|--//
      display: inherit; //--|🠈 display: grid; 🠈|--//
      grid-template: 2fr repeat(5, 1fr) / repeat(2, 1fr); //--|🠊 rows / columns 🠈|--//
    }

    &[class*='h2'] {
      display: hidden;
    }
    &[class*='h3'] {
      display: hidden;
    }
    &[class*='h4'] {
      display: hidden;
    }
    &[class*='h5'] {
      display: hidden;
    }
    &[class*='h6'] {
      display: hidden;
    }
    &[class*='p'] {
      display: hidden;
    }
  }
  */
/*
  display: block;
  grid-area: inherit; //--|🠊 grid-area: 1 / 1 / 4 / 4; 🠈|--//
  @extend %section-motion;
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
*/
/*
    height: 100%;
    display: grid;
    grid-template: repeat(7, 1fr) / 6rem repeat(6, 1fr) 6rem; //--|🠊 rows / columns 🠈|--//
    
    section[class*='design'] {
      width: 100%;
      height: 100%;
      display: grid;
      grid-area: 1 / 2 / 8 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
      grid-template: 1fr / repeat(3, 1fr); //--|🠊 rows / columns 🠈|--//
      div[class*='dar_mon'] {
        grid-area: 1 / 1 / 2 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        background: rgba(Palettes.$indexLand-light, 0.75);
      }
      div[class*='med_mon'] {
        grid-area: 1 / 2 / 2 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        background: rgba(Palettes.$indexLand-medium, 0.75);
      }
      div[class*='lig_mon'] {
        grid-area: 1 / 3 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
        background: rgba(Palettes.$indexLand-dark, 0.75);
      }
    }


    */
/*
    button[class*='default'] {
      border: solid black 1px;
    }
    */

/*


    //--|🠋 Medium 🠋|--//
    button[class*='top_med'] {
      grid-area: 1 / 4 / 3 / 5; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='bot_med'] {
      grid-area: 1 / 5 / 3 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='lef_med'] {
      grid-area: 3 / 4 / 4 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='rig_med'] {
      grid-area: 4 / 4 / 5 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='cen_med'] {
      grid-area: 5 / 4 / 6 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='tex_med'] {
      grid-area: 6 / 4 / 7 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='ico_med'] {
      grid-area: 7 / 4 / 8 / 6; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }

    //--|🠋 Light 🠋|--//
    button[class*='top_lig'] {
      grid-area: 1 / 6 / 3 / 7; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='bot_lig'] {
      grid-area: 1 / 7 / 3 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='lef_lig'] {
      grid-area: 3 / 6 / 4 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='rig_lig'] {
      grid-area: 4 / 6 / 5 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='cen_lig'] {
      grid-area: 5 / 6 / 6 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='tex_lig'] {
      grid-area: 6 / 6 / 7 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    button[class*='ico_lig'] {
      grid-area: 7 / 6 / 8 / 8; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
    }
    */
/*
  div[class*='h1-size'] {
    background: rgba(darkred, 0.5);
  }
  div[class*='h2-size'] {
    background: rgba(darkgreen, 0.5);
  }
  div[class*='h3-size'] {
    background: rgba(darkblue, 0.5);
  }
  div[class*='h4-size'] {
    background: rgba(darkred, 0.5);
  }
  div[class*='h5-size'] {
    background: rgba(darkgreen, 0.5);
  }
  div[class*='h6-size'] {
    background: rgba(darkblue, 0.5);
  }
  div[class*='p-size'] {
    background: rgba(purple, 0.5);
  }
  */
