//--|🠊 ButtonsMain.scss 🠈|--\\
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  .default-buttons {
    section[class*='fore'] {
      z-index: 2;
      //--|🠊 display: grid; 🠈|--\\
      header,
      footer {
        z-index: 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr); //--|🠈 rows 🠈|--\\
        &[class*='header'] {
          grid-area: 1 / 1 / 3 / 6;
          button[id*='open-head'] {
            grid-area: 1 / 1 / 3 / 2;
          }
          menu {
            display: flex;
            align-items: center;
            grid-area: 1 / 2 / 3 / 3;
            justify-content: space-around;
          }
        }
        &[class*='footer'] {
          grid-area: 4 / 1 / 6 / 6;
          nav {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1 / 2 / 3 / 3;
          }
        }

        grid-template-columns: 128px 1fr 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          grid-template-columns: 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          grid-template-columns: 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          grid-template-columns: 48px 1fr 48px; //--|🠈 columns 🠈|--\\
        }
      }
      aside[class*='container'] {
        z-index: 0;
        &[id*='darkside'] {
          grid-area: 1 / 2 / 6 / 3;
        }
        &[id*='lightside'] {
          grid-area: 1 / 4 / 6 / 5;
        }
        div[class*='size'] {
          display: grid;
          height: inherit;
          grid-template-rows: repeat(7, 1fr);
          grid-template-columns: repeat(2, 1fr);

          button[class*='_top_'] {
            grid-area: 1 / 1 / 3 / 2;
          }
          button[class*='_bot_'] {
            grid-area: 1 / 2 / 3 / 3;
          }
          button[class*='_lef_'] {
            grid-area: 3 / 1 / 4 / 3;
          }
          button[class*='_rig_'] {
            grid-area: 4 / 1 / 5 / 3;
          }
          button[class*='_cen_'] {
            grid-area: 5 / 1 / 6 / 3;
          }
          button[class*='_tex_'] {
            grid-area: 6 / 1 / 7 / 3;
          }
          button[class*='_ico_'] {
            grid-area: 7 / 1 / 8 / 3;
          }
        }
      }
      div[class*='hitbox'] {
        z-index: 1;
        background: none;
        grid-area: 3 / 3 / 4 / 4;
      }
    }
    figure[class*='mid'] {
      z-index: 1;
      //--|🠊 display: grid; 🠈|--\\
      aside[class*='code'] {
        z-index: 1;
        display: grid;
        transition:
          filter 1s ease-in-out,
          grid-template-columns 750ms ease-in-out,
          transform 3s cubic-bezier(0.22, 1, 0.36, 1),
          opacity 750ms cubic-bezier(0.48, 1, 0.25, 1);
        pre[class*='text'] {
          &[class*='dark'] {
            color: black;
            filter: blur(12px);
          }
          &[class*='light'] {
            color: white;
            filter: blur(5px);
          }
          code {
            font-weight: 800;
          }
        }

        &.hidden {
          opacity: 0;
          filter: blur(24px);
          transform: scale(0.125);
        }
        &.visible {
          opacity: 1;
          filter: blur(0);
          transform: scale(1);
        }

        &[class*='dark'] {
          grid-area: 1 / 2 / 6 / 4;
          &.visible {
            grid-template-columns: 1fr 1fr 0.001fr;
          }
          &.hidden {
            grid-template-columns: 0.001fr 1fr 1fr;
          }
          pre {
            grid-area: 1 / 2 / 2 / 3;
          }
        }
        &[class*='light'] {
          grid-area: 1 / 3 / 6 / 5;
          &.hidden {
            grid-template-columns: 1fr 1fr 0.001fr;
          }
          &.visible {
            grid-template-columns: 0.001fr 1fr 1fr;
          }
          pre {
            grid-area: 1 / 2 / 2 / 3;
          }
        }
      }
      section[class*='size'] {
        z-index: 0;
        overflow: hidden;
        grid-area: 3 / 3 / 4 / 4;
        transition:
          filter 1.5s ease-in-out,
          transform 3s ease-in-out;
        &.hidden {
          filter: blur(24px);
          transform: scale(1.5);
        }

        ol[class*='preview'] {
          transition: transform 500ms ease-in-out;
          li {
            color: Palettes.$indexLand-medium;
            filter: drop-shadow(0 0 16px rgba(Palettes.$indexLand-medium, 0.25));
            h1 {
              font-weight: 800;
            }
            h2 {
              font-weight: 700;
            }
            h3 {
              font-weight: 600;
            }
            h4 {
              font-weight: 500;
            }
            h5 {
              font-weight: 400;
            }
            h6 {
              font-weight: 300;
            }
            p {
              font-weight: 200;
            }
          }
        }
      }
    }
    div[class*='back'] {
      z-index: 0;
      //--|🠊 display: grid; 🠈|--\\
      aside[class*='grade'] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: grid-template-columns 1s ease-in-out;
        &[class*='dark'] {
          grid-area: 1 / 1 / 6 / 4;
          &.visible {
            grid-template-columns: 1fr 0.001fr;
          }
          span {
            grid-column: 1 / 2;
            background: linear-gradient(
              270deg,
              rgba(Palettes.$indexLand-dark, 0) 0%,
              rgba(Palettes.$indexLand-dark, 0.5) 25%,
              rgba(Palettes.$indexLand-dark, 0.75) 75%,
              rgba(Palettes.$indexLand-dark, 0.75) 100%
            );
          }
        }
        &[class*='light'] {
          grid-area: 1 / 3 / 6 / 6;
          &.visible {
            grid-template-columns: 0.001fr 1fr;
          }
          span {
            grid-column: 2 / 3;
            background: linear-gradient(
              90deg,
              rgba(Palettes.$indexLand-light, 0) 0%,
              rgba(Palettes.$indexLand-light, 0.5) 25%,
              rgba(Palettes.$indexLand-light, 0.75) 75%,
              rgba(Palettes.$indexLand-light, 0.75) 100%
            );
          }
        }
      }
    }

    section[class*='foreground'],
    figure[class*='midground'],
    div[class*='background'] {
      //--|🠋 Layer Perimeters 🠋|--\\
      width: 100%;
      display: grid;
      overflow: hidden;

      //--|🠋 96px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 1080px 🠋|--\\
        repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
        / 48px repeat(3, 1fr) 48px; //--|🠈 columns 🠈|--//
      aside {
        &[id*='side'] {
          padding: 4rem 48px;
        }
        &[class*='code'] {
          padding: 0 48px;
        }
      }

      @media screen and (max-height: 768px) {
        //--|🠋 64px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 3rem) 1fr repeat(2, 3rem) / 32px repeat(3, 1fr) 32px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 3rem 32px;
          }
          &[class*='code'] {
            padding: 0 32px;
          }
        }
      }
      @media screen and (max-height: 480px) {
        //--|🠋 48px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 2rem) 1fr repeat(2, 2rem) / 24px repeat(3, 1fr) 24px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 2rem 24px;
          }
          &[class*='code'] {
            padding: 0 24px;
          }
        }
      }
      @media screen and (max-height: 360px) {
        //--|🠋 32px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) / 16px repeat(3, 1fr) 16px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 1.5rem 16px;
          }
          &[class*='code'] {
            padding: 0 16px;
          }
        }
      }
    }
  }
  .routing-buttons {
    // background: rgba(darkblue, 0.5);
    section[class*='fore'] {
      z-index: 2;
      //--|🠊 display: grid; 🠈|--\\
      header,
      footer {
        z-index: 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr); //--|🠈 rows 🠈|--\\
        &[class*='header'] {
          grid-area: 1 / 1 / 3 / 6;
          button[id*='open-head'] {
            grid-area: 1 / 1 / 3 / 2;
          }
          menu {
            display: flex;
            align-items: center;
            grid-area: 1 / 2 / 3 / 3;
            justify-content: space-around;
          }
        }
        &[class*='footer'] {
          grid-area: 4 / 1 / 6 / 6;
          nav {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1 / 2 / 3 / 3;
          }
        }

        grid-template-columns: 128px 1fr 128px; //--|🠈 columns 🠈|--\\
        @media screen and (max-height: 768px) {
          grid-template-columns: 96px 1fr 96px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          grid-template-columns: 64px 1fr 64px; //--|🠈 columns 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          grid-template-columns: 48px 1fr 48px; //--|🠈 columns 🠈|--\\
        }
      }
      aside[class*='container'] {
        z-index: 0;
        &[id*='darkside'] {
          grid-area: 1 / 2 / 6 / 3;
        }
        &[id*='lightside'] {
          grid-area: 1 / 4 / 6 / 5;
        }
        div[class*='size'] {
          display: grid;
          height: inherit;
          grid-template-rows: repeat(7, 1fr);
          grid-template-columns: repeat(2, 1fr);

          button[class*='_top_'] {
            grid-area: 1 / 1 / 3 / 2;
          }
          button[class*='_bot_'] {
            grid-area: 1 / 2 / 3 / 3;
          }
          button[class*='_lef_'] {
            grid-area: 3 / 1 / 4 / 3;
          }
          button[class*='_rig_'] {
            grid-area: 4 / 1 / 5 / 3;
          }
          button[class*='_cen_'] {
            grid-area: 5 / 1 / 6 / 3;
          }
          button[class*='_tex_'] {
            grid-area: 6 / 1 / 7 / 3;
          }
          button[class*='_ico_'] {
            grid-area: 7 / 1 / 8 / 3;
          }
        }
      }
      div[class*='hitbox'] {
        z-index: 1;
        background: none;
        grid-area: 3 / 3 / 4 / 4;
      }
    }
    figure[class*='mid'] {
      z-index: 1;
      //--|🠊 display: grid; 🠈|--\\
      aside[class*='code'] {
        z-index: 1;
        display: grid;
        transition:
          filter 1s ease-in-out,
          grid-template-columns 750ms ease-in-out,
          transform 3s cubic-bezier(0.22, 1, 0.36, 1),
          opacity 750ms cubic-bezier(0.48, 1, 0.25, 1);
        pre[class*='text'] {
          &[class*='dark'] {
            color: black;
            filter: blur(12px);
          }
          &[class*='light'] {
            color: white;
            filter: blur(5px);
          }
          code {
            font-weight: 800;
          }
        }

        &.hidden {
          opacity: 0;
          filter: blur(24px);
          transform: scale(0.125);
        }
        &.visible {
          opacity: 1;
          filter: blur(0);
          transform: scale(1);
        }

        &[class*='dark'] {
          grid-area: 1 / 2 / 6 / 4;
          &.visible {
            grid-template-columns: 1fr 1fr 0.001fr;
          }
          &.hidden {
            grid-template-columns: 0.001fr 1fr 1fr;
          }
          pre {
            grid-area: 1 / 2 / 2 / 3;
          }
        }
        &[class*='light'] {
          grid-area: 1 / 3 / 6 / 5;
          &.hidden {
            grid-template-columns: 1fr 1fr 0.001fr;
          }
          &.visible {
            grid-template-columns: 0.001fr 1fr 1fr;
          }
          pre {
            grid-area: 1 / 2 / 2 / 3;
          }
        }
      }
      section[class*='size'] {
        z-index: 0;
        overflow: hidden;
        grid-area: 3 / 3 / 4 / 4;
        transition:
          filter 1.5s ease-in-out,
          transform 3s ease-in-out;
        &.hidden {
          filter: blur(24px);
          transform: scale(1.5);
        }

        ol[class*='preview'] {
          transition: transform 500ms ease-in-out;
          li {
            color: Palettes.$indexLand-medium;
            filter: drop-shadow(0 0 16px rgba(Palettes.$indexLand-medium, 0.25));
            h1 {
              font-weight: 800;
            }
            h2 {
              font-weight: 700;
            }
            h3 {
              font-weight: 600;
            }
            h4 {
              font-weight: 500;
            }
            h5 {
              font-weight: 400;
            }
            h6 {
              font-weight: 300;
            }
            p {
              font-weight: 200;
            }
          }
        }
      }
    }
    div[class*='back'] {
      z-index: 0;
      //--|🠊 display: grid; 🠈|--\\
      aside[class*='grade'] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: grid-template-columns 1s ease-in-out;
        &[class*='dark'] {
          grid-area: 1 / 1 / 6 / 4;
          &.visible {
            grid-template-columns: 1fr 0.001fr;
          }
          span {
            grid-column: 1 / 2;
            background: linear-gradient(
              270deg,
              rgba(Palettes.$indexLand-dark, 0) 0%,
              rgba(Palettes.$indexLand-dark, 0.5) 25%,
              rgba(Palettes.$indexLand-dark, 0.75) 75%,
              rgba(Palettes.$indexLand-dark, 0.75) 100%
            );
          }
        }
        &[class*='light'] {
          grid-area: 1 / 3 / 6 / 6;
          &.visible {
            grid-template-columns: 0.001fr 1fr;
          }
          span {
            grid-column: 2 / 3;
            background: linear-gradient(
              90deg,
              rgba(Palettes.$indexLand-light, 0) 0%,
              rgba(Palettes.$indexLand-light, 0.5) 25%,
              rgba(Palettes.$indexLand-light, 0.75) 75%,
              rgba(Palettes.$indexLand-light, 0.75) 100%
            );
          }
        }
      }
    }

    section[class*='foreground'],
    figure[class*='midground'],
    div[class*='background'] {
      //--|🠋 Layer Perimeters 🠋|--\\
      width: 100%;
      display: grid;
      overflow: hidden;

      //--|🠋 96px (Left & Right) for Design 🠋|--\\
      grid-template: //--|🠋 1080px 🠋|--\\
        repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
        / 48px repeat(3, 1fr) 48px; //--|🠈 columns 🠈|--//
      aside {
        &[id*='side'] {
          padding: 4rem 48px;
        }
        &[class*='code'] {
          padding: 0 48px;
        }
      }

      @media screen and (max-height: 768px) {
        //--|🠋 64px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 3rem) 1fr repeat(2, 3rem) / 32px repeat(3, 1fr) 32px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 3rem 32px;
          }
          &[class*='code'] {
            padding: 0 32px;
          }
        }
      }
      @media screen and (max-height: 480px) {
        //--|🠋 48px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 2rem) 1fr repeat(2, 2rem) / 24px repeat(3, 1fr) 24px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 2rem 24px;
          }
          &[class*='code'] {
            padding: 0 24px;
          }
        }
      }
      @media screen and (max-height: 360px) {
        //--|🠋 32px (Left & Right) for Design 🠋|--\\
        grid-template: repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) / 16px repeat(3, 1fr) 16px; //--|🠈 row / col 🠈|--\\
        aside {
          &[id*='side'] {
            padding: 1.5rem 16px;
          }
          &[class*='code'] {
            padding: 0 16px;
          }
        }
      }
    }
  }

  @include desktop-default();
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--//
  section[class='foreground'] {
    margin: 0 64px;
    @media screen and (max-width: 768px) {
      margin: 0 48px;
    }
    @media screen and (max-width: 480px) {
      margin: 0 32px;
    }
    @media screen and (max-width: 360px) {
      margin: 0 24px;
    }
  }

  @include mobile-default();
}

@mixin desktop-default {
  //--|🠋 Desktop (Landscape) 🠋|--\\
  grid-template: //--|🠋 1080px 🠋|--//
    repeat(2, 4rem) 1fr repeat(2, 4rem) //--|🠈 rows 🠈|--//
    / 6rem 1fr 6rem; //--|🠈 columns 🠈|--//

  @media screen and (max-height: 768px) {
    grid-template: repeat(2, 3rem) 1fr repeat(2, 3rem) / 4rem 1fr 4rem;
  }
  @media screen and (max-height: 480px) {
    grid-template: repeat(2, 2rem) 1fr repeat(2, 2rem) / 3rem 1fr 3rem;
  }
  @media screen and (max-height: 360px) {
    grid-template: repeat(2, 1.5rem) 1fr repeat(2, 1.5rem) / 2rem 1fr 2rem;
  }
}
@mixin mobile-default {
  //--|🠋 Mobile (Portrait) 🠋|--\\
  grid-template: //--|🠋 1920px 🠋|--//
    repeat(2, 6rem) 1fr repeat(2, 6rem) //--|🠈 rows 🠈|--//
    / 4rem 1fr 4rem; //--|🠈 columns 🠈|--//

  @media screen and (max-width: 768px) {
    grid-template: repeat(2, 5rem) 1fr repeat(2, 5rem) / 3rem 1fr 3rem;
  }
  @media screen and (max-width: 480px) {
    grid-template: repeat(2, 3rem) 1fr repeat(2, 3rem) / 2rem 1fr 2rem;
  }
  @media screen and (max-width: 360px) {
    grid-template: repeat(2, 2rem) 1fr repeat(2, 2rem) / 1.5rem 1fr 1.5rem;
  }
}

main[id*='buttons'] {
  @extend %carousel-containers;

  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}

%carousel-containers {
  [class*='carousel'] {
    ol {
      transition: transform 500ms ease-in-out;
      li {
        div {
          transition:
            filter 1.5s ease-in-out,
            transform 1s ease-in-out,
            opacity 750ms ease-in-out;
          &.hidden {
            opacity: 0;
            filter: blur(24px);
            transform: scale(0.25);
          }
          &.visible {
            opacity: 1;
            filter: blur(0);
            transform: scale(1);
          }
        }
      }
      &[class*='def'] {
        li[class*='alt'] {
          div.visible {
            opacity: 0;
            filter: blur(12px);
            transform: scale(0.5);
          }
        }
      }
      &[class*='alt'] {
        li[class*='def'] {
          div.visible {
            opacity: 0;
            filter: blur(12px);
            transform: scale(0.5);
          }
        }
      }
    }
  }
  div[class*='carousel'] {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    ul[class*='preview'] {
      display: flex;
      height: inherit;
      //--|🠊 padding: 0; 🠈|--\\
      //--|🠊 list-style: none; 🠈|--\\
      transition: transform 500ms ease-in-out;
      li {
        flex: 0 0 100%;
        height: inherit;
        position: relative;
        section[class*='ground'],
        figure[class*='ground'],
        div[class*='ground'] {
          height: inherit;
          position: absolute;
        }
      }
      &[class*='rou'] {
        //--|🠋 <DefaultButton> 🠋|--\\
        transform: translateX(-100%);
      }
      &[class*='def'] {
        //--|🠋 <RoutingButton> 🠋|--\\
        transform: translateX(0);
      }
    }
  }
  aside[class*='carousel'] {
    ol[class*='preview'] {
      height: 100%;
      display: flex;
      //--|🠊 padding: 0; 🠈|--\\
      //--|🠊 list-style: none; 🠈|--\\
      li[class*='track'] {
        transition: transform 500ms ease-in-out;
        &[class*='one'] {
          transform: translateY(0);
        }
        &[class*='two'] {
          transform: translateY(-100%);
        }
        &[class*='thr'] {
          transform: translateY(-200%);
        }
        &[class*='fou'] {
          transform: translateY(-300%);
        }
        &[class*='fiv'] {
          transform: translateY(-400%);
        }
        &[class*='six'] {
          transform: translateY(-500%);
        }
        &[class*='sev'] {
          transform: translateY(-600%);
        }
      }
      &[class*='carousel'] {
        &[class*='alt'] {
          //--|🠋 alternative 🠋|--\\
          transform: translateX(-100%);
        }
        &[class*='def'] {
          //--|🠋 default 🠋|--\\
          transform: translateX(0%);
        }
      }
    }
  }
  section[class*='carousel'] {
    ol {
      height: 100%;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &[class*='preview'] {
        &[class*='one'] {
          transform: translateY(0%);
        }
        &[class*='two'] {
          transform: translateY(-100%);
        }
        &[class*='thr'] {
          transform: translateY(-200%);
        }
        &[class*='fou'] {
          transform: translateY(-300%);
        }
        &[class*='fiv'] {
          transform: translateY(-400%);
        }
        &[class*='six'] {
          transform: translateY(-500%);
        }
        &[class*='sev'] {
          transform: translateY(-600%);
        }
        &[class*='eig'] {
          transform: translateY(-700%);
        }
        &[class*='nin'] {
          transform: translateY(-800%);
        }
        &[class*='ten'] {
          transform: translateY(-900%);
        }
      }
    }
  }
}
