@import '../../../containers/color-palette.scss';

//--|🠋| Index Colors |🠋|--//
$primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
$primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
$primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//

@mixin desktop-landscape {
  background: rgba($red-dark, 0.25);
}
@mixin mobile-portrait {
  background: rgba($blue-dark, 0.25);
}

body {
  main {
    section[class*='contact'] {
      //--|🠋 Desktop (Landscape) 🠋|--//
      @media screen and (orientation: landscape) {
        @include desktop-landscape();
      }
      //--|🠋 Mobile (Portrait) 🠋|--//
      @media screen and (orientation: portrait) {
        @include mobile-portrait();
      }
    }
  }

  #index-body {
    @include index-colors();
  }
  #resume-body {
    @include resume-colors();
  }
}
