//--|🠊 ArchiveHeader.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠊 Desktop <Header> 🠈|--\\
  section[class*='foreground'] {
    div[class*='elements-header'] {
      background: rgba(darkred, 0.5);
      grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    header {
      grid-area: 1 / 1 / 2 / 4;
      background: rgba(red, 0.25);
      //--|🠊 background: Palettes.$indexLand-lightMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 1.5rem 1.5rem rgba(Palettes.$indexLand-light, 0.75)); 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 Mobile <Header> 🠈|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    header {
      grid-area: 1 / 1 / 2 / 4;
      background: rgba(blue, 0.25);
      //--|🠊 background: Palettes.$indexLand-lightMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 1.5rem 1.5rem rgba(Palettes.$indexLand-light, 0.75)); 🠈|--\\
    }
  }
}

header[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid;
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid;
  }
}
