//--|🠊 ArchiveHeader.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠋 Archive <header> 🠋|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    header {
      grid-area: 1 / 1 / 2 / 4;
      background: Palettes.$indexLand-lightMode;
      filter: drop-shadow(0 1.5rem 1.5rem rgba(Palettes.$indexLand-light, 0.75));
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Desktop: Components Header 🠋|--\\
  //--|🠊 <header id="components-header" class="default-header"> 🠈|--\\
  display: none !important;
}
header[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid;
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid;
  }
}
