//--|🠊 ArchiveHeader.scss 🠈|--\\
@use '../../../styles/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠊 Desktop <Header> 🠈|--\\
  $high-desk: 128px; //--|🠈 128px for Squares 🠈|--\\
  $test-desk: 96px; //--|🠈 96px for Squares 🠈|--\\
  $misc-desk: 64px; //--|🠈 64px for Squares 🠈|--\\
  $tiny-desk: 48px; //--|🠈 48px for Squares 🠈|--\\

  section[class*='foreground'] {
    div[class*='conveyor'] {
      z-index: 1;
      background: rgba(darkred, 0.5);
      grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\

      margin-left: 128px; //--|🠈 128px for Squares 🠈|--\\
      @media screen and (max-height: 768px) {
        margin-left: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        margin-left: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        margin-left: 48px; //--|🠈 48px for Squares 🠈|--\\
      }
    }
    nav[class*='navigation'] {
      z-index: 0;
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    header {
      grid-area: 1 / 1 / 2 / 4;
      background: rgba(red, 0.25);
      //--|🠊 background: Palettes.$indexLand-lightMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 1.5rem 1.5rem rgba(Palettes.$indexLand-light, 0.75)); 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 Mobile <Header> 🠈|--\\
  $high-mobi: 192px; //--|🠈 192px for Squares 🠈|--\\
  $test-mobi: 160px; //--|🠈 160px for Squares 🠈|--\\
  $misc-mobi: 96px; //--|🠈 96px for Squares 🠈|--\\
  $tiny-mobi: 64px; //--|🠈 64px for Squares 🠈|--\\

  section[class*='foreground'] {
    menu[class*='select'] {
      grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      background: rgba(darkgreen, 0.5);

      margin-left: $high-mobi;
      @media screen and (max-width: 768px) {
        margin-left: $test-mobi;
      }
      @media screen and (max-width: 480px) {
        margin-left: $misc-mobi;
      }
      @media screen and (max-width: 360px) {
        margin-left: $tiny-mobi;
      }
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    header {
      grid-area: 1 / 1 / 2 / 4;
      background: rgba(green, 0.25);
      //--|🠊 background: Palettes.$indexLand-lightMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 1.5rem 1.5rem rgba(Palettes.$indexLand-light, 0.75)); 🠈|--\\
    }
  }
}

header[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
