@import '../../../containers/color-palette.scss';

//--|🠋| Index Colors |🠋|--//
$primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
$primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
$primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//

@mixin desktop-landscape {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    display: grid;
    grid-template: repeat(2, auto) 1fr auto / repeat(2, 1fr); //~~|🠈 rows / columns 🠈|~~//
    input[class='first-name'] {
      grid-area: 1 / 1 / 2 / 2; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
    input[class='last-name'] {
      grid-area: 1 / 2 / 2 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
    input[class='email-address'] {
      grid-area: 2 / 1 / 3 / 2; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
    input[class='company-name'] {
      grid-area: 2 / 2 / 3 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
    input[class='sender-message'] {
      grid-area: 3 / 1 / 4 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
    button[class='send-button'] {
      grid-area: 4 / 1 / 5 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
  }
}

body {
  section {
    form[class*='form'] {
      @include mobile-portrait(); //~~|🠊 display: grid; 🠈|~~//
      @include desktop-landscape(); //~~|🠊 display: grid; 🠈|~~//
    }
  }
}
