//--|🠊 TicketingOverlay.scss 🠈|--\\
@use '../../../styles/Palettes.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Overlay) 🠋|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
    article[class*='loading'],
    article[class*='updates'] {
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  div[class*='background'] {
    background: linear-gradient(
      220deg,
      rgba(Palettes.$indexLand-dark, 0.75) 0%,
      rgba(Palettes.$indexLand-medium, 0.65) 50%,
      rgba(Palettes.$indexLand-light, 0.25) 100%
    );
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Overlay) 🠋|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
    article[class*='loading'],
    article[class*='updates'] {
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  div[class*='background'] {
    background: linear-gradient(
      55deg,
      rgba(Palettes.$indexLand-dark, 0.75) 0%,
      rgba(Palettes.$indexLand-medium, 0.65) 50%,
      rgba(Palettes.$indexLand-light, 0.25) 100%
    );
  }
}

section[id='ticketing-overlay'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
