//--|🠊 styles/buttons.scss 🠈|--//
//--|🠋 Containers 🠋|--//
@use '../containers/Main/ButtonsMain/ButtonsMain.scss';
@use '../containers/Header/ButtonsHeader/ButtonsHeader.scss';
@use '../containers/Footer/ButtonsFooter/ButtonsFooter.scss';

@mixin desktop-landscape {
  //--|🠋 Desktop (Landscape) 🠋|--\\
  grid-template: //--|🠋 1080px 🠋|--//
    8rem 1fr 8rem //--|🠈 rows 🠈|--//
    / 6rem 1fr 6rem; //--|🠈 columns 🠈|--//

  @media screen and (max-height: 768px) {
    grid-template: 6rem 1fr 6rem / 4rem 1fr 4rem;
  }
  @media screen and (max-height: 480px) {
    grid-template: 4rem 1fr 4rem / 3rem 1fr 3rem;
  }
  @media screen and (max-height: 360px) {
    grid-template: 3rem 1fr 3rem / 2rem 1fr 2rem;
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Portrait) 🠋|--\\
  grid-template: //--|🠋 1920px 🠋|--//
    12rem 1fr 12rem //--|🠈 rows 🠈|--//
    / 4rem 1fr 4rem; //--|🠈 columns 🠈|--//

  @media screen and (max-width: 768px) {
    grid-template: 10rem 1fr 10rem / 3rem 1fr 3rem;
  }
  @media screen and (max-width: 480px) {
    grid-template: 6rem 1fr 6rem / 2rem 1fr 2rem;
  }
  @media screen and (max-width: 360px) {
    grid-template: 4rem 1fr 4rem / 1.5rem 1fr 1.5rem;
  }
}
body {
  div[id*='buttons'] {
    display: grid; //--|🠈 Sets Grid 🠈|--//
    > * {
      display: inherit;
      grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    }
    @media screen and (orientation: landscape) {
      @include desktop-landscape();
    }
    @media screen and (orientation: portrait) {
      @include mobile-portrait();
    }
  }
}
