//--|🠊 Global.scss 🠈|--\\
html {
  overflow: hidden; //--|🠈 Disable Scrolling 🠈|--\\
  body {
    overflow: hidden; //--|🠈 Disable Scrolling 🠈|--\\
    position: relative; //--|🠈 Overlay Elements 🠈|--\\
    div[id*='body'] {
      * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 0;
          outline: none;
          overflow: hidden;
          font-family: 'Baloo Bhai 2', arial;
        }
        p {
          margin: 0;
          white-space: wrap;
          white-space: pre-line;
          font-family: 'Source Sans 3', arial;
        }
        ul,
        ol {
          padding: 0;
          list-style: none;
        }
        pre {
          margin: 0;
        }
        menu {
          list-style: none;
        }
        time {
          cursor: default;
        }
        button {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          outline: none;
        }
        select {
          cursor: pointer;
        }
      }
    }
  }
}
