//--|🠊 styles/overtime.scss 🠈|--//
@use '../designs/Palettes.scss';
//--|🠋 Containers 🠋|--//
@use '../containers/Main/OvertimeMain/OvertimeMain.scss';
@use '../containers/Header/OvertimeHeader/OvertimeHeader.scss';
@use '../containers/Footer/OvertimeFooter/OvertimeFooter.scss';
@use '../containers/Overlay/OvertimeOverlay/OvertimeOverlay.scss';
@use '../containers/Leftbar/OvertimeLeftbar/OvertimeLeftbar.scss';
// @use '../containers/Rightbar/OvertimeRightbar/OvertimeRightbar.scss';

//--|🠋 Device Layouts 🠋|--//
@mixin desktop-landscape {
  grid-template: 8rem 1fr 4rem / 8rem 1fr 3rem; //--|🠊 rows / columns 🠈|--//
  //--|🠋 Desktop (Landscape) 🠋|--\\
  @media screen and (max-height: 768px) {
  }
  @media screen and (max-height: 480px) {
  }
  @media screen and (max-height: 360px) {
  }
}
@mixin mobile-portrait {
  grid-template: 6rem 1fr 6rem / 2rem 1fr 2rem; //--|🠊 rows / columns 🠈|--//
  //--|🠋 Mobile (Portrait) 🠋|--\\
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 360px) {
  }
}

div[id*='overtime'] {
  background: linear-gradient(90deg, rgba(Palettes.$trackDay-light, 1) 0%, rgba(Palettes.$trackDay-dark, 1) 10%);
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }

  /*
  &[id*='overtime'] {
    background: Palettes.$trackDay-dark;
  }
  */
}
