//--|🠊 Skeleton.scss 🠈|--\\
//--|🠋 Designs 🠋|--\\
@use './Mixins.scss' as Mixins;
@use './Palettes.scss' as Palettes;
@use './Transition.scss' as Transition;
body {
  %position {
    section[class*='overlay'] {
      z-index: 10;
    }
    header[class*='header'] {
      z-index: 6;
    }
    footer[class*='footer'] {
      z-index: 9;
    }
    aside[class*='leftbar'] {
      z-index: 5;
    }
    aside[class*='rightbar'] {
      z-index: 4;
    }
    main[class*='main'] {
      z-index: 0;
    }
  }
  %colouring {
    @at-root body[class*='meridiem'] {
      &::before {
        inset: 0;
        content: '';
        position: fixed;
        animation: overlay-fade 1.5s ease-in-out 1.5s both;
      }
      &[class*='ante'] {
        background: Palettes.$indexLand-lightMode;
        &::before {
          background: white;
        }
      }
      &[class*='post'] {
        background: Palettes.$indexLand-darkMode;
        &::before {
          background: black;
        }
      }
      @keyframes overlay-fade {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }
  %transition {
    @include Transition.body-transition();
    //--|===|--\\
    @include Transition.overlay-transition();
    @include Transition.sidebar-transition();
    //--|===|--\\
    @include Transition.header-transition();
    @include Transition.main-transition();
    @include Transition.footer-transition();
  }
  div[class*='body'] {
    &[id='components-body'] {
      //--|🟨|--\\
      main[id*='components'] {
        aside[class*='menu'],
        aside[class*='time'],
        aside[class*='table'],
        aside[class*='aside'],
        aside[class*='button'],
        aside[class*='figure'],
        aside[class*='article'],
        aside[class*='section'],
        aside[class*='division'],
        aside[class*='navigation'] {
          width: 100vw;
          height: 100svh;
          flex: 0 0 100vw;
          min-width: 100vw;
        }
        @media screen and (orientation: landscape) {
          //--|🟨| Archive |🟨|--\\
          @include Mixins.landscape-grid;
          aside[class*='time'],
          aside[class*='table'],
          aside[class*='figure'],
          aside[class*='article'],
          aside[class*='division'],
          aside[class*='navigation'] {
            @include Mixins.landscape-grid;
          }
          aside[class*='button'] {
            @include Mixins.layering-position;
          }
        }
        @media screen and (orientation: portrait) {
          //--|🟨| Archive |🟨|--\\
          @include Mixins.portrait-grid;
          aside[class*='time'],
          aside[class*='table'],
          aside[class*='figure'],
          aside[class*='article'],
          aside[class*='division'],
          aside[class*='navigation'] {
            @include Mixins.portrait-grid;
          }
          aside[class*='button'] {
            @include Mixins.layering-position;
          }
        }
      }
    }
    &[id='overtime-body'] {
      //--|🟩|--\\
    }
    &[id='ticketing-body'] {
      //--|🟦|--\\
    }
    &[id='hyperlink-body'] {
      //--|🟪|--\\
    }
    &[id='landing-body'] {
      //--|🟥|--\\
    }
    //--|===|--\\
    > * {
      height: 100svh;
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      //--|🠊 All direct children inherit the parent grid coordinates 🠈|--\\
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
      section[class*='foreground'],
      figure[class*='midground'],
      div[class*='background'] {
        &[class*='foreground'] {
          z-index: 2;
          header[class*='default'] {
            z-index: 1;
            grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          nav[class*='default'] {
            z-index: 0;
            height: 100svh;
            grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
          footer[class*='default'] {
            z-index: 1;
            grid-area: 4 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
          }
        }
        &[class*='midground'] {
          z-index: 1;
        }
        &[class*='background'] {
          z-index: 0;
        }
      }
      @media screen and (orientation: landscape) {
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        @include Mixins.portrait-grid();
      }
    }
    @extend %position;
    @extend %colouring;
    @extend %transition;
    //--|🠊 display: grid; 🠈|--\\
    @media screen and (orientation: landscape) {
      @include Mixins.landscape-grid;
    }
    @media screen and (orientation: portrait) {
      @include Mixins.portrait-grid;
    }
  }
}
