//--|🠊 Skeleton.scss 🠈|--\\
//--|🠋 Designs 🠋|--\\
@use './Mixins.scss' as Mixins;
@use './Palettes.scss' as Palettes;
@use './Transition.scss' as Transition;

body {
  %position {
    section[class*='overlay'] {
      z-index: 10;
    }
    header[class*='header'] {
      z-index: 6;
    }
    footer[class*='footer'] {
      z-index: 9;
    }
    aside[class*='leftbar'] {
      z-index: 5;
    }
    aside[class*='rightbar'] {
      z-index: 4;
    }
    main[class*='main'] {
      z-index: 0;
    }
  }
  %colouring {
    @at-root body[class*='ante-meridiem'] {
      background: Palettes.$indexLand-lightMode;
    }
    @at-root body[class*='post-meridiem'] {
      background: Palettes.$indexLand-darkMode;
    }
  }
  %transition {
    @include Transition.overlay-transition();
    @include Transition.body-transition();
    @include Transition.sidebar-transition();
    //--|===|--\\
    @include Transition.header-transition();
    @include Transition.main-transition();
    @include Transition.footer-transition();
  }
  div[class*='body'] {
    @extend %position;
    @extend %colouring;
    @extend %transition;
    > * {
      height: 100svh;
      display: inherit; //--|🠈 Only direct children are affected to preserve layout boundaries. 🠈|--//
      grid-area: 1 / 1 / 6 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--\\
      //--|🠊 All direct children inherit the parent layout mode and are placed into the same grid coordinates (row 1–4, col 1–4). 🠈|--//
      //--|🠊 This intentionally stacks child elements on top of each other, enabling controlled view switching via state, z-index, or visibility. 🠈|--//
    }
    section[class*='foreground'],
    figure[class*='midground'],
    div[class*='background'] {
      &[class*='foreground'] {
        z-index: 2;
        header[class*='default'] {
          z-index: 1;
          grid-area: 1 / 1 / 3 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        nav[class*='default'] {
          z-index: 0;
          grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
        footer[class*='default'] {
          z-index: 1;
          grid-area: 4 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
        }
      }
      &[class*='midground'] {
        z-index: 1;
      }
      &[class*='background'] {
        z-index: 0;
      }
    }
    @media screen and (orientation: landscape) {
      @include Mixins.landscape-grid;
    }
    @media screen and (orientation: portrait) {
      @include Mixins.portrait-grid;
    }
  }
  //--|===|--\\
  div[id='components-body'] {
    main[id*='main'],
    header[id*='header'],
    footer[id*='footer'],
    aside[id*='leftbar'],
    aside[id*='rightbar'],
    section[id*='overlay'] {
      @media screen and (orientation: landscape) {
        //--|🟨| Archive |🟨|--\\
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        //--|🟨| Archive |🟨|--\\
        @include Mixins.portrait-grid();
      }
    }
    main[id*='components'] {
      aside[class*='menu'],
      aside[class*='time'],
      aside[class*='table'],
      aside[class*='aside'],
      aside[class*='button'],
      aside[class*='figure'],
      aside[class*='article'],
      aside[class*='section'],
      aside[class*='division'],
      aside[class*='navigation'] {
        width: 100vw;
        height: 100svh;
        flex: 0 0 100vw;
        min-width: 100vw;
      }
      @media screen and (orientation: landscape) {
        //--|🟨| Archive |🟨|--\\
        @include Mixins.landscape-grid;
        aside[class*='time'],
        aside[class*='table'],
        aside[class*='figure'],
        aside[class*='article'],
        aside[class*='division'],
        aside[class*='navigation'] {
          @include Mixins.landscape-grid;
        }
        aside[class*='button'] {
          @include Mixins.layering-position;
        }
      }
      @media screen and (orientation: portrait) {
        //--|🟨| Archive |🟨|--\\
        @include Mixins.portrait-grid;
        aside[class*='time'],
        aside[class*='table'],
        aside[class*='figure'],
        aside[class*='article'],
        aside[class*='division'],
        aside[class*='navigation'] {
          @include Mixins.portrait-grid;
        }
        aside[class*='button'] {
          @include Mixins.layering-position;
        }
      }
    }
  }
  div[id='overtime-body'] {
    main[id*='main'],
    header[id*='header'],
    footer[id*='footer'],
    aside[id*='leftbar'],
    aside[id*='rightbar'],
    section[id*='overlay'] {
      @media screen and (orientation: landscape) {
        //--|🟩| Overtime |🟩|--\\
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        //--|🟩| Overtime |🟩|--\\
        @include Mixins.portrait-grid();
      }
    }
  }
  div[id='ticketing-body'] {
    main[id*='main'],
    header[id*='header'],
    footer[id*='footer'],
    aside[id*='leftbar'],
    aside[id*='rightbar'],
    section[id*='overlay'] {
      @media screen and (orientation: landscape) {
        //--|🟦| Ticketing |🟦|--\\
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        //--|🟦| Ticketing |🟦|--\\
        @include Mixins.portrait-grid();
      }
    }
  }
  div[id='hyperlink-body'] {
    main[id*='main'],
    header[id*='header'],
    footer[id*='footer'],
    aside[id*='leftbar'],
    aside[id*='rightbar'],
    section[id*='overlay'] {
      @media screen and (orientation: landscape) {
        //--|🟥| Hyperlink |🟥|--\\
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        //--|🟥| Hyperlink |🟥|--\\
        @include Mixins.portrait-grid();
      }
    }
  }
  div[id='landing-body'] {
    main[id*='main'],
    header[id*='header'],
    footer[id*='footer'],
    aside[id*='leftbar'],
    aside[id*='rightbar'],
    section[id*='overlay'] {
      @media screen and (orientation: landscape) {
        //--|🟪| Landing |🟪|--\\
        @include Mixins.landscape-grid();
      }
      @media screen and (orientation: portrait) {
        //--|🟪| Landing |🟪|--\\
        @include Mixins.portrait-grid();
      }
    }
  }
}
