//--|🠊 Figure.rotation.scss 🠈|--//
@use '../../../design/Palettes.scss';

@mixin desktop-landscape {
  margin: 0;
  position: relative; // Needed for z-index to work correctly
  // background: radial-gradient(circle, white, black 95%);

  svg {
    width: 100%;
    height: 100%;
    position: absolute;

    animation-duration: 15s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
    &[class*='top-right'] {
      animation-delay: 0s;
      // background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%); // Corrected gradient
    }
    &[class*='bot-right'] {
      animation-delay: 15s; // Adjusted delay
      // background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%); // Corrected gradient
    }
    &[class*='bot-left'] {
      animation-delay: 30s; // Adjusted delay
      // background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%); // Corrected gradient
    }
    &[class*='top-left'] {
      animation-delay: 45s; // Adjusted delay
      // background: linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%); // Corrected gradient
    }
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }
  }
  &[class*='find-a-link'] {
    background: radial-gradient(circle, white, Palettes.$findLink-light 95%);
    svg[class*='top-right'] {
      background: linear-gradient(45deg, white 0%, Palettes.$findLink-light 100%);
    }
    svg[class*='bot-right'] {
      background: linear-gradient(135deg, white 0%, Palettes.$findLink-light 100%);
    }
    svg[class*='bot-left'] {
      background: linear-gradient(225deg, white 0%, Palettes.$findLink-light 100%);
    }
    svg[class*='top-left'] {
      background: linear-gradient(315deg, white 0%, Palettes.$findLink-light 100%);
    }
  }
  &[class*='track-a-day'] {
    background: radial-gradient(circle, white, Palettes.$trackDay-light 95%);
    svg[class*='top-right'] {
      background: linear-gradient(45deg, white 0%, Palettes.$trackDay-light 100%);
    }
    svg[class*='bot-right'] {
      background: linear-gradient(135deg, white 0%, Palettes.$trackDay-light 100%);
    }
    svg[class*='bot-left'] {
      background: linear-gradient(225deg, white 0%, Palettes.$trackDay-light 100%);
    }
    svg[class*='top-left'] {
      background: linear-gradient(315deg, white 0%, Palettes.$trackDay-light 100%);
    }
  }
  &[class*='log-a-ticket'] {
    background: radial-gradient(circle, white, Palettes.$logTicket-light 95%);
    svg[class*='top-right'] {
      background: linear-gradient(45deg, white 0%, Palettes.$logTicket-light 100%);
    }
    svg[class*='bot-right'] {
      background: linear-gradient(135deg, white 0%, Palettes.$logTicket-light 100%);
    }
    svg[class*='bot-left'] {
      background: linear-gradient(225deg, white 0%, Palettes.$logTicket-light 100%);
    }
    svg[class*='top-left'] {
      background: linear-gradient(315deg, white 0%, Palettes.$logTicket-light 100%);
    }
  }
  /*
        &[class*='password'] {
        // background: rgba(red, 0.25);
        background: Palettes.$findLink-light;
      }
              &[class*='register'] {
        // background: rgba(green, 0.25);
        background: Palettes.$trackDay-light;
      }
      &[class*='login'] {
        // background: rgba(blue, 0.25);
        background: Palettes.$logTicket-light;
      }


      */
}
@mixin mobile-portrait {
  //--|🠊 display: flex; 🠈|--//
  div[class*='container'] {
    grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //--|🠊 rows / columns 🠈|--//
  }
}

figure[class*='rotation'] {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
