//--|🠊 Menu.select.scss 🠈|--\\
@mixin desktop-landscape {
  //--|🠋 Desktop (Elements) 🠋|--\\
  $high-desk: 128px; //--|🠈 128px for Squares 🠈|--\\
  $test-desk: 96px; //--|🠈 96px for Squares 🠈|--\\
  $misc-desk: 64px; //--|🠈 64px for Squares 🠈|--\\
  $tiny-desk: 48px; //--|🠈 48px for Squares 🠈|--\\

  ul[class*='hori-X-select'] {
    height: 100%;
    display: flex;
    li[class*='horizontal'] {
      display: inherit; //--|🠈 display: flex; 🠈|--\\
      flex-direction: row;
      justify-content: space-around;
      div.hori-view {
        display: grid;
        padding: 0 16px;
        @media screen and (max-height: 768px) {
          padding: 0 12px;
        }
        @media screen and (max-height: 480px) {
          padding: 0 8px;
        }
        @media screen and (max-height: 360px) {
          padding: 0 4px;
        }
      }
    }

    &[class*='bot_lef'] {
      justify-content: flex-start;
      li {
        align-items: end;
      }
    }
    &[class*='bot_cen'] {
      justify-content: center;
      li {
        align-items: end;
      }
    }
    &[class*='bot_rig'] {
      justify-content: flex-end;
      li {
        align-items: end;
      }
    }

    &[class*='mid_cen'] {
      li {
        width: 100%;
        align-items: center;
        div.hori-view {
          //--|🠊 display: grid; 🠈|--\\
          justify-content: space-around;
        }
      }
    }

    &[class*='top_lef'] {
      justify-content: flex-start;
      li {
        align-items: start;
      }
    }
    &[class*='top_cen'] {
      justify-content: center;
      li {
        align-items: start;
      }
    }
    &[class*='top_rig'] {
      justify-content: flex-end;
      li {
        align-items: start;
      }
    }
  }
  ol[class*='vert-Y-select'] {
    height: 100%;
    display: flex;

    li[class*='vertical'] {
      width: 100%;
      display: inherit; //--|🠈 display: flex; 🠈|--\\
      flex-direction: column;
      div.vert-view {
        display: grid;

        padding: 16px 0;
        @media screen and (max-height: 768px) {
          padding: 12px 0;
        }
        @media screen and (max-height: 480px) {
          padding: 8px 0;
        }
        @media screen and (max-height: 360px) {
          padding: 4px 0;
        }
      }
      &[class*='lef'],
      &[class*='rig'] {
        width: $high-desk; //--|🠈 128px for Squares 🠈|--\\
        @media screen and (max-height: 768px) {
          width: $test-desk; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-height: 480px) {
          width: $misc-desk; //--|🠈 64px for Squares 🠈|--\\
        }
        @media screen and (max-height: 360px) {
          width: $tiny-desk; //--|🠈 48px for Squares 🠈|--\\
        }
      }
    }

    &[class*='lef_top'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
        margin-right: calc(100% - $high-desk);
        @media screen and (max-height: 768px) {
          margin-right: calc(100% - $test-desk);
        }
        @media screen and (max-height: 480px) {
          margin-right: calc(100% - $misc-desk);
        }
        @media screen and (max-height: 360px) {
          margin-right: calc(100% - $tiny-desk);
        }
      }
    }
    &[class*='lef_cen'] {
      li {
        justify-content: center;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='lef_bot'] {
      li {
        justify-content: flex-end;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
        margin-right: calc(100% - $high-desk);
        @media screen and (max-height: 768px) {
          margin-right: calc(100% - $test-desk);
        }
        @media screen and (max-height: 480px) {
          margin-right: calc(100% - $misc-desk);
        }
        @media screen and (max-height: 360px) {
          margin-right: calc(100% - $tiny-desk);
        }
      }
    }

    &[class*='bot_mid'] {
      li {
        width: 100%;
        justify-content: flex-end;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='cen_mid'] {
      li {
        justify-content: space-around;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='top_mid'] {
      li {
        width: 100%;
        justify-content: flex-start;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }

    &[class*='rig_top'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
        margin-left: calc(100% - $high-desk);
        @media screen and (max-height: 768px) {
          margin-left: calc(100% - $test-desk);
        }
        @media screen and (max-height: 480px) {
          margin-left: calc(100% - $misc-desk);
        }
        @media screen and (max-height: 360px) {
          margin-left: calc(100% - $tiny-desk);
        }
      }
    }
    &[class*='rig_cen'] {
      li {
        justify-content: center;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='rig_bot'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
        &:first-child {
          margin-top: auto;
        }
        margin-left: calc(100% - $high-desk);
        @media screen and (max-height: 768px) {
          margin-left: calc(100% - $test-desk);
        }
        @media screen and (max-height: 480px) {
          margin-left: calc(100% - $misc-desk);
        }
        @media screen and (max-height: 360px) {
          margin-left: calc(100% - $tiny-desk);
        }
      }
    }

    //--|===|--\\
    @at-root menu[class*='select']:has([class*='lef_top']) {
      overflow-y: auto;
      scrollbar-width: none; //--|🠈 Firefox 🠈|--\\
      -ms-overflow-style: none; //--|🠈 IE/Edge 🠈|--\\
      &::-webkit-scrollbar {
        display: none; //--|🠈 Chrome/Safari 🠈|--\\
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
      @media screen and (max-height: 768px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
      }
      @media screen and (max-height: 480px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
      }
      @media screen and (max-height: 360px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
      }
    }
    @at-root menu[class*='select']:has([class*='rig_bot']) {
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
      @media screen and (max-height: 768px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
      }
      @media screen and (max-height: 480px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
      }
      @media screen and (max-height: 360px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Elements) 🠋|--\\
  $high-mobi: 192px; //--|🠈 192px for Squares 🠈|--\\
  $test-mobi: 160px; //--|🠈 160px for Squares 🠈|--\\
  $misc-mobi: 96px; //--|🠈 96px for Squares 🠈|--\\
  $tiny-mobi: 64px; //--|🠈 64px for Squares 🠈|--\\

  ul[class*='hori-X-select'] {
    height: 100%;
    display: flex;
    li[class*='horizontal'] {
      display: inherit; //--|🠈 display: flex; 🠈|--\\
      flex-direction: row;
      justify-content: space-around;
      div.hori-view {
        display: grid;

        padding: 0 8px;
        @media screen and (max-height: 768px) {
          padding: 0 6px;
        }
        @media screen and (max-height: 480px) {
          padding: 0 4px;
        }
        @media screen and (max-height: 360px) {
          padding: 0 2px;
        }
      }
    }

    &[class*='bot_lef'] {
      justify-content: flex-start;
      li {
        align-items: end;
      }
    }
    &[class*='bot_cen'] {
      justify-content: center;
      li {
        align-items: end;
      }
    }
    &[class*='bot_rig'] {
      justify-content: flex-end;
      li {
        align-items: end;
      }
    }

    &[class*='mid_cen'] {
      li {
        width: 100%;
        align-items: center;
        div.hori-view {
          //--|🠊 display: grid; 🠈|--\\
          justify-content: space-around;
        }
      }
    }

    &[class*='top_lef'] {
      justify-content: flex-start;
      li {
        align-items: start;
      }
    }
    &[class*='top_cen'] {
      justify-content: center;
      li {
        align-items: start;
      }
    }
    &[class*='top_rig'] {
      justify-content: flex-end;
      li {
        align-items: start;
      }
    }
  }
  ol[class*='vert-Y-select'] {
    height: 100%;
    display: flex;
    li[class*='vertical'] {
      width: 100%;
      display: inherit; //--|🠈 display: flex; 🠈|--\\
      flex-direction: column;
      div.vert-view {
        display: grid;

        padding: 8px 0;
        @media screen and (max-height: 768px) {
          padding: 6px 0;
        }
        @media screen and (max-height: 480px) {
          padding: 4px 0;
        }
        @media screen and (max-height: 360px) {
          padding: 2px 0;
        }
      }
      &[class*='lef'],
      &[class*='rig'] {
        width: $high-mobi; //--|🠈 192px for Squares 🠈|--\\
        @media screen and (max-width: 768px) {
          width: $test-mobi; //--|🠈 160px for Squares 🠈|--\\
        }
        @media screen and (max-width: 480px) {
          width: $misc-mobi; //--|🠈 96px for Squares 🠈|--\\
        }
        @media screen and (max-width: 360px) {
          width: $tiny-mobi; //--|🠈 64px for Squares 🠈|--\\
        }
      }
    }

    &[class*='lef_top'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
      margin-right: calc(100% - $high-mobi);
      @media screen and (max-width: 768px) {
        margin-right: calc(100% - $test-mobi);
      }
      @media screen and (max-width: 480px) {
        margin-right: calc(100% - $misc-mobi);
      }
      @media screen and (max-width: 360px) {
        margin-right: calc(100% - $tiny-mobi);
      }
    }
    &[class*='lef_cen'] {
      li {
        justify-content: center;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='lef_bot'] {
      li {
        justify-content: flex-end;
        div.vert-view {
          justify-items: start;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
      margin-right: calc(100% - $high-mobi);
      @media screen and (max-width: 768px) {
        margin-right: calc(100% - $test-mobi);
      }
      @media screen and (max-width: 480px) {
        margin-right: calc(100% - $misc-mobi);
      }
      @media screen and (max-width: 360px) {
        margin-right: calc(100% - $tiny-mobi);
      }
    }

    &[class*='bot_mid'] {
      li {
        width: 100%;
        justify-content: flex-end;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='cen_mid'] {
      li {
        justify-content: space-around;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='top_mid'] {
      li {
        width: 100%;
        justify-content: flex-start;
        div.vert-view {
          justify-items: center;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }

    &[class*='rig_top'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
      margin-left: calc(100% - $high-mobi);
      @media screen and (max-width: 768px) {
        margin-left: calc(100% - $test-mobi);
      }
      @media screen and (max-width: 480px) {
        margin-left: calc(100% - $misc-mobi);
      }
      @media screen and (max-width: 360px) {
        margin-left: calc(100% - $tiny-mobi);
      }
    }
    &[class*='rig_cen'] {
      li {
        justify-content: center;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
      }
    }
    &[class*='rig_bot'] {
      li {
        justify-content: flex-start;
        div.vert-view {
          justify-items: end;
          //--|🠊 display: grid; 🠈|--\\
        }
        &:first-child {
          margin-top: auto;
        }
        margin-left: calc(100% - $high-mobi);
        @media screen and (max-width: 768px) {
          margin-left: calc(100% - $test-mobi);
        }
        @media screen and (max-width: 480px) {
          margin-left: calc(100% - $misc-mobi);
        }
        @media screen and (max-width: 360px) {
          margin-left: calc(100% - $tiny-mobi);
        }
      }
    }

    //--|===|--\\
    @at-root menu[class*='select']:has([class*='lef_top']) {
      overflow-y: auto;
      scrollbar-width: none; //--|🠈 Firefox 🠈|--\\
      -ms-overflow-style: none; //--|🠈 IE/Edge 🠈|--\\
      &::-webkit-scrollbar {
        display: none; //--|🠈 Chrome/Safari 🠈|--\\
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
      @media screen and (max-width: 768px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
      }
      @media screen and (max-width: 480px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
      }
      @media screen and (max-width: 360px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
      }
    }
    @at-root menu[class*='select']:has([class*='rig_bot']) {
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      mask-image: linear-gradient(to bottom, transparent 0rem, black 1rem, black calc(100% - 1rem), transparent 100%);
      @media screen and (max-width: 768px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
      }
      @media screen and (max-width: 480px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.5rem, black calc(100% - 0.5rem), transparent 100%);
      }
      @media screen and (max-width: 360px) {
        mask-image: linear-gradient(to bottom, transparent 0rem, black 0.25rem, black calc(100% - 0.25rem), transparent 100%);
      }
    }
  }
}

menu[class*='select'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
