//--|🠊 ButtonElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-button/DefaultButton.scss';
@use './routing-button/RoutingButton.scss';
@use './profile-button/ProfileButton.scss';
@use './stretch-button/StretchButton.scss';

section[class*='button-main'] {
  div.button-main_container {
    @media screen and (orientation: landscape) {
      aside[class*='button'] {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
      }
      @include DefaultButton.desktop-landscape;
      @include RoutingButton.desktop-landscape;
      @include ProfileButton.desktop-landscape;
      @include StretchButton.desktop-landscape;
    }
    @media screen and (orientation: portrait) {
      @include DefaultButton.mobile-portrait;
      @include RoutingButton.mobile-portrait;
      @include ProfileButton.mobile-portrait;
      @include StretchButton.mobile-portrait;
    }
  }
}
