//--|🠊 ButtonElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-button/DefaultButton.scss';
@use './routing-button/RoutingButton.scss';
@use './profile-button/ProfileButton.scss';
@use './stretch-button/StretchButton.scss';

section[class*='button-main'] {
  div.button-main_container {
    @media screen and (orientation: landscape) {
      aside[class*='button'] {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='default'] {
          @include DefaultButton.desktop-landscape;
        }
        &[class*='routing'] {
          @include RoutingButton.desktop-landscape;
        }
        &[class*='profile'] {
          @include ProfileButton.desktop-landscape;
        }
        &[class*='stretch'] {
          @include StretchButton.desktop-landscape;
        }
      }
    }
    @media screen and (orientation: portrait) {
      aside[class*='button'] {
        &[class*='default'] {
          @include DefaultButton.mobile-portrait;
        }
        &[class*='routing'] {
          @include RoutingButton.mobile-portrait;
        }
        &[class*='profile'] {
          @include ProfileButton.mobile-portrait;
        }
        &[class*='stretch'] {
          @include StretchButton.mobile-portrait;
        }
      }
    }
  }
}
