//--|🠊 ButtonElements.scss 🠈|--\\
@use '../../../../../designs/Palettes.scss';

@use './default-button/DefaultButton.scss';
@use './routing-button/RoutingButton.scss';
@use './profile-button/ProfileButton.scss';
@use './stretch-button/StretchButton.scss';

section[class*='button-main'] {
  div.button-main_container {
    aside[class*='button'] {
      @media screen and (orientation: landscape) {
        width: 100vw;
        flex: 0 0 100vw;
        min-width: 100vw;
        &[class*='default'] {
          @include DefaultButton.desktop-landscape;
        }
        &[class*='routing'] {
          @include RoutingButton.desktop-landscape;
        }
        &[class*='profile'] {
          @include ProfileButton.desktop-landscape;
        }
        &[class*='stretch'] {
          @include StretchButton.desktop-landscape;
        }
      }
      @media screen and (orientation: portrait) {
        // width: 100vw;
        // flex: 0 0 100vw;
        min-width: 100vw;
        // background: rgba(darkred, 0.25);

        &[class*='default'] {
          // background: rgba(darkred, 0.25);
          @include DefaultButton.mobile-portrait;
        }
        &[class*='routing'] {
          display: none !important;
          @include RoutingButton.mobile-portrait;
        }
        &[class*='profile'] {
          display: none !important;
          @include ProfileButton.mobile-portrait;
        }
        &[class*='stretch'] {
          display: none !important;
          @include StretchButton.mobile-portrait;
        }
      }
    }
  }
}
