//--|🠊 ArticleElements.scss 🠈|--\\
@use './loading-article/LoadingArticle.scss';
@use './updates-article/UpdatesArticle.scss';

@use '../../../../../designs/Palettes.scss' as Palettes;

section[class*='article-main'] {
  div.article-main_container {
    aside[class*='article'] {
      width: 100vw;
      flex: 0 0 100vw;
      min-width: 100vw;
      @media screen and (orientation: landscape) {
        &[class*='loading'] {
          @include LoadingArticle.desktop-landscape;
        }
        &[class*='updates'] {
          @include UpdatesArticle.desktop-landscape;
        }
      }
      @media screen and (orientation: portrait) {
        &[class*='loading'] {
          @include LoadingArticle.mobile-portrait;
        }
        &[class*='updates'] {
          @include UpdatesArticle.mobile-portrait;
        }
      }
    }
  }
}
