//--|🠊 Menu.carousel.scss 🠈|--\\
@use './pipeline/Menu_layout.scss';
@use './pipeline/Menu_letters.scss';
@use './pipeline/Menu_motion.scss';
@use './pipeline/Menu_visuals.scss';
@use './pipeline/Menu_queries.scss';

menu[class*='carousel'] {
  @extend %flex-clip;
  @media screen and (orientation: landscape) {
    @include Menu_layout.desktop-layout();
    @include Menu_motion.desktop-motion();
    @include Menu_visuals.desktop-visuals();
    @include Menu_letters.desktop-letters();
    @include Menu_queries.desktop-queries();
  }
  @media screen and (orientation: portrait) {
    @include Menu_layout.mobile-layout();
    @include Menu_motion.mobile-motion();
    @include Menu_visuals.mobile-visuals();
    @include Menu_letters.mobile-letters();
    @include Menu_queries.mobile-queries();
  }
}
%flex-clip {
  &:has(> li:first-child[class*='_top_']),
  &:has(> li:first-child[class*='_bot_']) {
    clip-path: inset(0% 128px 0% 128px); //--|🠈 top / right / bottom / left 🠈|--\\
    @media screen and (max-height: 768px) {
      //--|🠋 96px for Squares 🠋|--\\
      clip-path: inset(0% 96px 0% 96px); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 480px) {
      //--|🠋 64px for Squares 🠋|--\\
      clip-path: inset(0% 64px 0% 64px); //--|🠈 top / right / bottom / left 🠈|--\\
    }
    @media screen and (max-height: 360px) {
      //--|🠋 48px for Squares 🠋|--\\
      clip-path: inset(0% 48px 0% 48px); //--|🠈 top / right / bottom / left 🠈|--\\
    }
  }
  &:has(> li:first-child[class*='_lef_']),
  &:has(> li:first-child[class*='_rig_']) {
  }
}
