//--|🠊 TicketingFooter.scss 🠈|--\\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss';
@mixin desktop-landscape {
  //--|🠋 Desktop (Layers) 🠋|--\\
  section[class*='foreground'] {
    /*
    footer[class*='default'] {
      z-index: 2;
      grid-area: 4 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    nav[class*='default'] {
      z-index: 1;
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
    */
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Layers) 🠋|--\\
}
footer[id*='ticketing'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid();
  }
}
