//--|🠊 ArchiveFooter.scss 🠈|--\\
@use '../../../designs/Mixins.scss';
@use '../../../designs/Palettes.scss' as Palettes;

@mixin desktop-landscape {
  //--|🠋 Desktop <Footer> 🠋|--\\
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    footer {
      grid-area: 5 / 1 / 6 / 4;
      background: rgba(red, 0.25);
      //--|🠊 background: Palettes.$indexLand-darkMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 -1.5rem 1.5rem rgba(Palettes.$indexLand-dark, 0.75)); 🠈|--\\
    }
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile <Footer> 🠋|--\\
  section[class*='foreground'] {
    div[class*='conveyor'] {
      background: rgba(darkblue, 0.5);
      grid-area: 4 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\

      margin-right: 192px; //--|🠈 192px for Squares 🠈|--\\
      @media screen and (max-width: 768px) {
        margin-right: 160px; //--|🠈 160px for Squares 🠈|--\\
      }
      @media screen and (max-width: 480px) {
        margin-right: 96px; //--|🠈 96px for Squares 🠈|--\\
      }
      @media screen and (max-width: 360px) {
        margin-right: 64px; //--|🠈 64px for Squares 🠈|--\\
      }
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    footer {
      grid-area: 5 / 1 / 6 / 4;
      background: rgba(blue, 0.25);
      //--|🠊 background: Palettes.$indexLand-darkMode; 🠈|--\\
      //--|🠊 filter: drop-shadow(0 -1.5rem 1.5rem rgba(Palettes.$indexLand-dark, 0.75)); 🠈|--\\
    }
  }
}
footer[id*='components'] {
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
    @include Mixins.landscape-grid();
  }
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
    @include Mixins.portrait-grid();
  }
}
