// Section.blocked.scss
@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  /*
  grid-template: 4rem 1fr 4rem / 6rem repeat(3, 1fr) 6rem; //~~|🠊 rows / columns 🠈|~~//
  // background: rgba(black, 0.25);

  div[id*='overtime'] {
    grid-area: 2 / 2 / 3 / 3; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba(darkgreen, 0.75);
  }
  div[id*='ticketing'] {
    grid-area: 2 / 3 / 3 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba(darkblue, 0.75);
  }
  div[id*='hyperlink'] {
    grid-area: 2 / 4 / 3 / 5; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba(darkred, 0.75);
  }

  div {
    height: 100%;
  }
  */
}
@mixin mobile-portrait {
}

section[class*='blocked'] {
  display: grid;

  // background: rgba(black, 0.5);

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
