//--|🠊 CharactersSection.scss 🠈|--\\
@use '../../../../../../designs/Mixins.scss';
@use '../../../../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 <aside className="profiles-section"> 🠈|--\\
  section[class*='foreground'] {
    section[class*='profiles'] {
      background: rgba(red, 0.25);
      grid-area: 2 / 2 / 5 / 3; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
    h1 {
      color: darkgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: 1 / 1 / 6 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--\\
    }
  }
  @include Mixins.landscape-grid;
}
@mixin mobile-portrait {
  //--|🠊 <aside className="profiles-section"> 🠈|--\\
  display: none !important;
  section[class*='foreground'] {
  }
  figure[class*='midground'] {
  }
  div[class*='background'] {
  }

  @include Mixins.portrait-grid;
}
