//--|🠊 OvertimeHeader.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: repeat(2, 4rem) 1fr 4rem / 8rem 1fr 3rem; //--|🠊 rows / columns 🠈|--//
  button[class*='preview'] {
    z-index: 3;
    opacity: 0;
    grid-area: 1 / 1 / 3 / 2; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  div[class*='identity'] {
    z-index: 2;
    grid-area: 1 / 1 / 3 / 2; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//

    /*
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 4rem; //--|🠈 Curve Bottom Right Corner 🠈|--//
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: inset 0 0 8px rgba(black, 1); //--|🠈 <x-axis> | <y-axis> | <blur> | <color> 🠈|--//
    background: linear-gradient(135deg, white, Palettes.$trackDay-light) padding-box,
      //--|🠉 Border  Background 🠉|--//
      //--|🠋 Element Background 🠋|--//
      linear-gradient(135deg, Palettes.$trackDay-medium, Palettes.$trackDay-dark) border-box;

    img {
      height: 75%; //--|🠈 width: auto; 🠈|--//
    }
    */
  }

  menu {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  }

  section[class*='preview'] {
    z-index: 0;
    grid-area: 1 / 1 / 5 / 4; //--|🠈 row-start / col-start / row-end / col-end 🠈|--//
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}

header[id*='overtime'] {
  display: grid;

  grid-area: 1 / 1 / 4 / 4; //--|🠊 row-start / col-start / row-end / col-end 🠈|--//
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
