// Aside.leftbar.scss
// Look out for this note...I don't know if the syntax is correct but I want the <a> element to be the same height as the 1fr height of its grid attribute.

//--|🠋| Color Palette |🠋|--//
$red-neon: #ff0000; //--🠊 rgba(255, 0, 0, 1) 🠈--//
$red-dark: #660000; //--🠊 rgba(102, 0, 0, 1) 🠈--//
$red-light: #ea9999; //--🠊 rgba(234, 153, 153, 1) 🠈--//

$green-neon: #00ff00; //--🠊 rgba(0, 255, 0, 1) 🠈--//
$green-dark: #274e13; //--🠊 rgba(39, 78, 19, 1) 🠈--//
$green-light: #b6d7a8; //--🠊 rgba(182, 215, 168, 1) 🠈--//

$blue-neon: #3c90ff; //--🠊 rgba(0, 0, 255, 1) 🠈--//
$blue-dark: #073763; //--🠊 rgba(127, 17, 224, 1) 🠈--//
$blue-light: #9fc5e8; //--🠊 rgba(159, 197, 232, 1) 🠈--//

$purple-neon: #9900ff; //--🠊 rgba(153, 0, 255, 1) 🠈--//
$purple-dark: #20124d; //--🠊 rgba(32, 18, 77, 1) 🠈--//
$purple-light: #b4a7d6; //--🠊 rgba(180, 167, 214, 1) 🠈--//

$pink-neon: #ff00ff; //--🠊 rgba(255, 0, 255, 1) 🠈--//
$pink-dark: #4c1130; //--🠊 rgba(76, 17, 48, 1) 🠈--//
$pink-light: #d5a6bd; //--🠊 rgba(213, 166, 189, 1) 🠈--//

$yellow-neon: #ffff00; //--🠊 rgba(255, 255, 0, 1) 🠈--//
$yellow-dark: #7f6000; //--🠊 rgba(127, 96, 0, 1) 🠈--//
$yellow-light: #ffe599; //--🠊 rgba(255, 229, 153, 1) 🠈--//

$orange-neon: #ff9900; //--🠊 rgba(255, 153, 0, 1) 🠈--//
$orange-dark: #783f04; //--🠊 rgba(120, 63, 4, 1) 🠈--//
$orange-light: #f9cb9c; //--🠊 rgba(249, 203, 156, 1) 🠈--//

$brown-neon: #a97142; //--🠊 rgba(169, 113, 66, 1) 🠈--//
$brown-dark: #4f341d; //--🠊 rgba(79, 52, 29, 1) 🠈--//
$brown-light: #ffd3af; //--🠊 rgba(255, 211, 175, 1) 🠈--//

$grey-neon: #bec2cb; //--🠊 rgba(190, 194, 203, 1) 🠈--//
$grey-dark: #434343; //--🠊 rgba(67, 67, 67, 1) 🠈--//
$grey-light: #efefef; //--🠊 rgba(239, 239, 239, 1) 🠈--//

$turquoise-neon: #00ffff; //--🠊 rgba(0, 255, 255, 1) 🠈--//
$turquoise-dark: #0c343d; //--🠊 rgba(12, 52, 61, 1) 🠈--//
$turquoise-light: #a2c4c9; //--🠊 rgba(162, 196, 201, 1) 🠈--//

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 4rem 1fr 4rem / 1fr 1fr; //~~|🠊 rows / columns 🠈|~~//
  header[class*='foreground'] {
    button {
      width: 100%;
      height: 100%;
    }
    background: rgba($green-neon, 0.75);
    grid-area: 1 / 1 / 2 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
  }
  footer[class*='midground'] {
    grid-area: 3 / 1 / 4 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba($green-neon, 0.25);
  }

  div[class*='background'] {
    display: inherit; //~~|🠈 display: grid; 🠈|~~//
    grid-template: inherit; //~~|🠈 4rem 1fr 4rem / 1fr 1fr 🠈|~~//
    grid-area: 1 / 1 / 4 / 3;
    menu {
      display: inherit; //~~|🠈 display: grid; 🠈|~~//
      grid-area: 2 / 1 / 3 / 2; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
      background: rgba(darkgreen, 0.5);
      grid-template: repeat(6, 1fr) / 3rem 1fr 3rem; //~~|🠈 rows / columns 🠈|~~//
      & {
        // I don't know if the syntax is correct but I want the <a> element to be the same height as the 1fr height of its grid attribute.
        a {
          color: inherit;
          display: inherit; //~~|🠈 display: grid; 🠈|~~//
          grid-column: 2 / 3; //~~|🠈 column-start / column-end 🠈|~~//
          text-decoration: none; /* to remove underline */
          grid-template-rows: repeat(3, 1fr);
          h3,
          img {
            display: flex;
            grid-row: 2 / 3; //~~|🠈 row-start / row-end 🠈|~~//
          }
          h3 {
            padding: 4px; //~~|🠈 top & bottom / left & right 🠈|~~//
          }
        }
        a:nth-child(1) {
          grid-area: 1 / 2 / 2 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          background: rgba($red-dark, 0.25);
        }
        a:nth-child(2) {
          grid-area: 2 / 2 / 3 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          // grid-row: 2 / 3; //~~|🠈 row-start / row-end 🠈|~~//
          background: rgba($blue-dark, 0.25);
        }
        a:nth-child(3) {
          grid-area: 3 / 2 / 4 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          // grid-row: 3 / 4; //~~|🠈 row-start / row-end 🠈|~~//
          background: rgba($purple-dark, 0.25);
        }
        a:nth-child(4) {
          grid-area: 4 / 2 / 5 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          // grid-row: 4 / 5; //~~|🠈 row-start / row-end 🠈|~~//
          background: rgba($orange-dark, 0.25);
        }
        a:nth-child(5) {
          grid-area: 5 / 2 / 6 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          // grid-row: 5 / 6; //~~|🠈 row-start / row-end 🠈|~~//
          background: rgba($pink-dark, 0.25);
        }
        a:nth-child(6) {
          grid-area: 6 / 2 / 7 / 3; //~~|🠈 row-start / column-start / row-end / column-end 🠈|~~//
          // grid-row: 6 / 7; //~~|🠈 row-start / row-end 🠈|~~//
          background: rgba($turquoise-dark, 0.25);
        }
      }

      .left {
        grid-template-columns: repeat(2, auto) 1fr; //~~|🠊 display: grid; 🠈|~~//
        h3,
        img {
          //--|🠊 display: flex; 🠈|--//
          justify-content: flex-start;
          &h3 {
            grid-column: 2 / 3; //~~|🠈 column-start / column-end 🠈|~~//
            //--|🠊 display: flex; 🠈|--//
          }
          &img {
            margin-left: 3rem;
            grid-column: 1 / 2; //~~|🠈 column-start / column-end 🠈|~~//
            //--|🠊 display: flex; 🠈|--//
          }
        }
      }
      .right {
        grid-template-columns: 1fr repeat(2, auto); //~~|🠊 display: grid; 🠈|~~//
        h3,
        img {
          justify-content: flex-end; //~~|🠊 display: flex; 🠈|~~//
          &h3 {
            grid-column: 2 / 3; //~~|🠈 column-start / column-end 🠈|~~//
            //--|🠊 display: flex; 🠈|--//
          }
          &img {
            margin-right: 3rem;
            grid-column: 3 / 4; //~~|🠈 column-start / column-end 🠈|~~//
            //--|🠊 display: flex; 🠈|--//
          }
        }
      }
      .center {
        grid-template-columns: 1fr auto 1fr; //~~|🠊 display: grid; 🠈|~~//
        h3,
        img {
          grid-column: 2 / 3; //~~|🠈 column-start / column-end 🠈|~~//
          align-items: center;
          justify-content: center; //~~|🠊 display: flex; 🠈|~~//
        }
      }
    }
    section {
      grid-area: 1 / 2 / 4 / 3;
      background: rgba($green-dark, 0.5);
    }
    /*
    menu {
      display: flex;
      justify-content: flex-start;

      margin: 0;
      padding: 4rem 0;
      grid-area: 2 / 2 / 3 / 3; //~~|🠈 row-start / col-start / row-end / col-end 🠈|~~//
      background: rgba($green-dark, 0.75) !important;
    }
    section {
      grid-area: 1 / 2 / 2 / 3;
      background: rgba($green-light, 0.75);
    }
    */
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 6rem 1fr 6rem / 1fr; //~~|🠊 rows / columns 🠈|~~//
  header[class*='foreground'] {
    button {
      width: 100%;
      height: 100%;
    }
    grid-area: 1 / 1 / 2 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba($green-neon, 0.75);
  }
  footer[class*='midground'] {
    grid-area: 3 / 1 / 4 / 2; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    background: rgba($green-neon, 0.75);
  }
  div[class*='background'] {
    display: inherit; //~~|🠈 display: grid; 🠈|~~//
    grid-area: 2 / 1 / 3 / 2;
    grid-template: 1fr / 1fr; //~~|🠊 rows / columns 🠈|~~//
    ul {
      z-index: 1;
      background: rgba($green-dark, 0.5);
    }
    article {
      z-index: 0;
      background: rgba($green-light, 0.5);
    }
    ul,
    article {
      margin: 0;
      padding: 0;
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}

aside[id*='leftbar'] {
  display: grid;
  grid-area: 1 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
  //--|🠋| Index Colors |🠋|--//
  @mixin index-colors {
    $primary-dark: #000000; //--🠊 rgba(0,0,0,1) 🠈--//
    $primary-medium: #737373; //--🠊 rgba(115,115,115,1) 🠈--//
    $primary-light: #ffffff; //--🠊 rgba(255,255,255,1) 🠈--//
    // Noir Inspiration: Fuctionality First!
    // https://blog.daisie.com/understanding-film-noirs-reflection-of-post-wwii-social-and-cultural-climate/
  }

  &[class*='collapsed'] {
    transition: clip-path 0.25s;
    clip-path: inset(0% 100% 0% 0%); //~~|🠈 top / right / bottom / left 🠈|~~//
  }
  &[class*='expanded'] {
    transition: clip-path 0.25s;
    clip-path: inset(0% 0% 0% 0%); //~~|🠈 top / right / bottom / left 🠈|~~//
  }

  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
}
