@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 4rem / repeat(2, 1fr); //~~|🠊 rows / columns 🠈|~~//
  menu {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: space-around;
    button {
      // display: none;
    }
  }
  background: rgba($red-neon, 0.25) !important;
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
  grid-template: 6rem / 2rem repeat(4, 1fr) 2rem; //~~|🠊 rows / columns 🠈|~~//
  menu:first-child {
    grid-area: 1 / 2 / 2 / 5;
    background: green !important;
  }
  button[class*='rightbar'] {
    grid-area: 1 / 5 / 2 / 6;
    background: darkgreen !important;
  }

  menu {
    a {
      // display: none;
    }
  }
  background: rgba($blue-neon, 0.25) !important;
}
footer[id*='index'] {
  display: grid;
  grid-area: 3 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//

  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
}
