@mixin desktop-landscape {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    background: $red-neon !important;
  }
}
@mixin mobile-portrait {
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    //--|🠊 display: grid; 🠈|--//
    grid-template: 6rem / 1fr auto; //~~|🠊 rows / columns 🠈|~~//

    menu {
      height: 6rem;
    }
    background: $blue-neon !important;
  }
}
footer[id*='index'] {
  display: grid;
  grid-area: 3 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//

  @include mobile-portrait();
  @include desktop-landscape();
}
