//--|🠊 Span.scrolling.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  button {
    height: 4rem;
    div {
      height: 4rem;
      img {
        height: 4rem;
      }
    }
  }
}
@mixin mobile-portrait {
  //--|🠊 display: grid; 🠈|--//
}

span[class*='scrolling'] {
  margin: 0;
  padding: 0;
  display: grid;
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
