//--|🠊 routing/pipeline/Button_flex.scss 🠈|--\\
@mixin desktop-flex {
  //--|🠋 Desktop (Landscape) 🠋|--\\
  .fore {
    padding: 16px;
    span {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      img {
        height: 100%;
        display: flex;
        overflow: hidden;
        mask-position: center;
        mask-repeat: no-repeat;
      }
    }
  }
}
@mixin mobile-flex {
  //--|🠋 Mobile (Portrait) 🠋|--\\
}
