//--|🠊 routing/pipeline/Button_tint.scss 🠈|--\\
@use 'sass:color';
@use '../../../../designs/Palettes.scss' as Palettes;

@mixin desktop-tint {
  //--|🠋 Desktop (Landscape) 🠋|--\\
  // background: Palettes.$red-neon !important;

  &[class*='_tl_'] {
    background: Palettes.$red-neon;
  }
  &[class*='_tc_'] {
    background: Palettes.$green-neon;
  }
  &[class*='_tr_'] {
    background: Palettes.$blue-neon;
  }
  &[class*='_ml_'] {
    background: Palettes.$purple-neon;
  }
  &[class*='_mc_'] {
    background: Palettes.$pink-neon;
  }
  &[class*='_mr_'] {
    background: Palettes.$yellow-neon;
  }
  &[class*='_bl_'] {
    background: Palettes.$orange-neon;
  }
  &[class*='_bc_'] {
    background: Palettes.$brown-neon;
  }
  &[class*='_br_'] {
    background: Palettes.$grey-neon;
  }
}
@mixin mobile-tint {
  //--|🠋 Mobile (Portrait) 🠋|--\\
}
