//--|🠊 routing/pipeline/Button_size.scss 🠈|--\\
@use 'sass:color';
@use '../../../../designs/Palettes.scss' as Palettes;
@mixin desktop-size {
  //--|🠋 Desktop (Size) 🠋|--\\
  &[class*='one_'] {
    width: 128px;
    height: 128px;
    .fore {
      span {
        width: 94px;
        height: 94px;
      }
    }
    @media screen and (max-height: 768px) {
      width: 96px;
      height: 96px;
      .fore {
        span {
          width: 72px;
          height: 72px;
        }
      }
    }
    @media screen and (max-height: 480px) {
      width: 64px;
      height: 64px;
      .fore {
        span {
          width: 48px;
          height: 48px;
        }
      }
    }
    @media screen and (max-height: 360px) {
      width: 48px;
      height: 48px;
      .fore {
        span {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  &[class*='par_'] {
  }
}
@mixin mobile-size {
  //--|🠋 Mobile (Size) 🠋|--\\
  &[class*='one_'] {
    width: 192px;
    height: 192px;
    .fore {
      span {
        width: 144px;
        height: 144px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 160px;
      height: 160px;
      .fore {
        span {
          width: 120px;
          height: 120px;
        }
      }
    }
    @media screen and (max-width: 480px) {
      width: 96px;
      height: 96px;
      .fore {
        span {
          width: 72px;
          height: 72px;
        }
      }
    }
    @media screen and (max-width: 360px) {
      width: 64px;
      height: 64px;
      .fore {
        span {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
