//--|🠊 routing/pipeline/Button_flex.scss 🠈|--\\
@mixin desktop-flex {
  //--|🠋 Desktop (Flex) 🠋|--\\
  .fore {
    span {
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
}
@mixin mobile-flex {
  //--|🠋 Mobile (Flex) 🠋|--\\
  .fore {
    span {
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
}
