//--|🠊 profile/pipeline/Button_layout.scss 🠈|--\\
//--|🠊 Layout: Grid and flex styles 🠈|--\\
@mixin desktop-layout {
  @include desk-grid; //--|🠈 Desktop (Grid) 🠈|--\\
  @include desk-flex; //--|🠈 Desktop (Flex) 🠈|--\\
  @include desk-edge; //--|🠈 Desktop (Edge) 🠈|--\\
}
@mixin desk-grid {
  display: grid;
  &[class*='routing'] {
    div {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      overflow: hidden;
      grid-area: 1 / 1 / 4 / 4;
      span {
        cursor: pointer;
        grid-area: 2 / 2 / 3 / 3;
      }
      &.fore {
        z-index: 2;
        span {
          mask-size: contain;
          mask-position: center;
          mask-repeat: no-repeat;
        }
      }
      &.mid {
        z-index: 1;
      }
      &.back {
        z-index: 0;
      }
    }
  }

  &[class*='one_'] {
    .fore {
      grid-template: 1fr auto 1fr / 1fr 96px 1fr; //--|🠊 rows / cols 🠈|--\\
      @media screen and (max-height: 768px) {
        grid-template: 1fr auto 1fr / 1fr 72px 1fr; //--|🠊 rows / cols 🠈|--\\
      }
      @media screen and (max-height: 480px) {
        grid-template: 1fr auto 1fr / 1fr 48px 1fr; //--|🠊 rows / cols 🠈|--\\
      }
      @media screen and (max-height: 360px) {
        grid-template: 1fr auto 1fr / 1fr 36px 1fr; //--|🠊 rows / cols 🠈|--\\
      }
    }
  }
}
@mixin desk-flex {
  &[class*='one_'] {
    width: 128px;
    height: 128px;
    .fore {
      span {
        width: 94px;
        height: 94px;
      }
    }
    @media screen and (max-height: 768px) {
      width: 96px;
      height: 96px;
      .fore {
        span {
          width: 72px;
          height: 72px;
        }
      }
    }
    @media screen and (max-height: 480px) {
      width: 64px;
      height: 64px;
      .fore {
        span {
          width: 48px;
          height: 48px;
        }
      }
    }
    @media screen and (max-height: 360px) {
      width: 48px;
      height: 48px;
      .fore {
        span {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  &[class*='par_'] {
  }
}
@mixin desk-edge {
  .fore,
  .mid,
  .back {
    border-radius: inherit;
  }
  //--|🠊 <Top> 🠈|--\\
  &[class*='_tl_'] {
    border-bottom-right-radius: 64px;

    .mid {
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-bottom-right-radius: 48px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-right-radius: 32px;
    }
    @media screen and (max-height: 360px) {
      border-bottom-right-radius: 24px;
    }
  }
  &[class*='_tc_'] {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    .mid {
      border-left: 4px solid;
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    @media screen and (max-height: 360px) {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  &[class*='_tr_'] {
    border-bottom-left-radius: 64px;

    .mid {
      border-left: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-bottom-left-radius: 48px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-left: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-left-radius: 32px;
    }
    @media screen and (max-height: 360px) {
      border-bottom-left-radius: 24px;
    }
  }
  //--|🠊 <Mid> 🠈|--\\
  &[class*='_ml_'] {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;

    .mid {
      border-top: 4px solid;
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-top: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    @media screen and (max-height: 360px) {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  &[class*='_mc_'] {
    border-radius: 64px;

    .mid {
      border: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-radius: 48px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border: 2px solid;
      }
      border-radius: 32px;
    }
    @media screen and (max-height: 360px) {
      border-radius: 24px;
    }
  }
  &[class*='_mr_'] {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;

    .mid {
      border-top: 4px solid;
      border-left: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-top: 2px solid;
        border-left: 2px solid;
        border-bottom: 2px solid;
      }
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
    @media screen and (max-height: 360px) {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }
  //--|🠊 <Bot> 🠈|--\\
  &[class*='_bl_'] {
    border-top-right-radius: 64px;

    .mid {
      border-top: 4px solid;
      border-right: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-top-right-radius: 48px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-top: 2px solid;
        border-right: 2px solid;
      }
      border-top-right-radius: 32px;
    }
    @media screen and (max-height: 360px) {
      border-top-right-radius: 24px;
    }
  }
  &[class*='_bc_'] {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    .mid {
      border-top: 4px solid;
      border-left: 4px solid;
      border-right: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
      }
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    @media screen and (max-height: 360px) {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  &[class*='_br_'] {
    border-top-left-radius: 64px;

    .mid {
      border-left: 4px solid;
      border-top: 4px solid;
    }
    @media screen and (max-height: 768px) {
      border-top-left-radius: 48px;
    }
    @media screen and (max-height: 480px) {
      .mid {
        border-left: 2px solid;
        border-top: 2px solid;
      }
      border-top-left-radius: 32px;
    }
    @media screen and (max-height: 360px) {
      border-top-left-radius: 24px;
    }
  }
}

//--|===|--\\
@mixin mobile-layout {
  @include mobi-grid; //--|🠈 Mobile (Grid) 🠈|--\\
  @include mobi-flex; //--|🠈 Mobile (Flex) 🠈|--\\
  @include mobi-edge; //--|🠈 Mobile (Edge) 🠈|--\\
}
@mixin mobi-grid {
  &[class*='routing'] {
    div {
      display: inherit; //--|🠈 display: grid; 🠈|--\\
      overflow: hidden;
      grid-area: 1 / 1 / 4 / 4;
      span {
        grid-area: 2 / 2 / 3 / 3;
      }
      &.fore {
        span {
          mask-size: contain;
          mask-position: center;
          mask-repeat: no-repeat;
        }
      }
    }
  }
}
@mixin mobi-flex {
  .fore {
    span {
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
  //--|🠋 Mobile (Size) 🠋|--\\
  &[class*='one_'] {
    width: 192px;
    height: 192px;
    .fore {
      span {
        width: 144px;
        height: 144px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 160px;
      height: 160px;
      .fore {
        span {
          width: 120px;
          height: 120px;
        }
      }
    }
    @media screen and (max-width: 480px) {
      width: 96px;
      height: 96px;
      .fore {
        span {
          width: 72px;
          height: 72px;
        }
      }
    }
    @media screen and (max-width: 360px) {
      width: 64px;
      height: 64px;
      .fore {
        span {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
@mixin mobi-edge {
  .fore,
  .mid,
  .back {
    border-radius: inherit;
  }
  //--|🠊 <Top> 🠈|--\\
  &[class*='_tl_'] {
    border-bottom-right-radius: 96px;

    .mid {
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-bottom-right-radius: 80px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-right-radius: 48px;
    }
    @media screen and (max-width: 360px) {
      border-bottom-right-radius: 32px;
    }
  }
  &[class*='_tc_'] {
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;

    .mid {
      border-left: 4px solid;
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    @media screen and (max-width: 360px) {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
  &[class*='_tr_'] {
    border-bottom-left-radius: 96px;

    .mid {
      border-left: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-bottom-left-radius: 80px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-left: 2px solid;
        border-bottom: 2px solid;
      }
      border-bottom-left-radius: 48px;
    }
    @media screen and (max-width: 360px) {
      border-bottom-left-radius: 32px;
    }
  }
  //--|🠊 <Mid> 🠈|--\\
  &[class*='_ml_'] {
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;

    .mid {
      border-top: 4px solid;
      border-right: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-top: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
      }
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    @media screen and (max-width: 360px) {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
  &[class*='_mc_'] {
    border-radius: 96px;

    .mid {
      border: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-radius: 80px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border: 2px solid;
      }
      border-radius: 48px;
    }
    @media screen and (max-width: 360px) {
      border-radius: 32px;
    }
  }
  &[class*='_mr_'] {
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;

    .mid {
      border-top: 4px solid;
      border-left: 4px solid;
      border-bottom: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-top: 2px solid;
        border-left: 2px solid;
        border-bottom: 2px solid;
      }
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }
    @media screen and (max-width: 360px) {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
  //--|🠊 <Bot> 🠈|--\\
  &[class*='_bl_'] {
    border-top-right-radius: 96px;

    .mid {
      border-top: 4px solid;
      border-right: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-top-right-radius: 80px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-top: 2px solid;
        border-right: 2px solid;
      }
      border-top-right-radius: 48px;
    }
    @media screen and (max-width: 360px) {
      border-top-right-radius: 32px;
    }
  }
  &[class*='_bc_'] {
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;

    .mid {
      border-top: 4px solid;
      border-left: 4px solid;
      border-right: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
      }
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }
    @media screen and (max-width: 360px) {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
  &[class*='_br_'] {
    border-top-left-radius: 96px;

    .mid {
      border-left: 4px solid;
      border-top: 4px solid;
    }
    @media screen and (max-width: 768px) {
      border-top-left-radius: 80px;
    }
    @media screen and (max-width: 480px) {
      .mid {
        border-left: 2px solid;
        border-top: 2px solid;
      }
      border-top-left-radius: 48px;
    }
    @media screen and (max-width: 360px) {
      border-top-left-radius: 32px;
    }
  }
}

//--|===|--\\
