//--|🠊 Time.daily.scss 🠈|--//
@use '../../../designs/Palettes.scss';

@mixin desktop-landscape {
  //--|🠊 display: grid; 🠈|--//
  h1 {
    margin: 8px 0 8px 0;
    padding-left: 10rem;
    color: Palettes.$trackDay-light;
  }
}
@mixin mobile-portrait {
}

time[class*='daily'] {
  display: grid;

  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
    @include desktop-landscape();
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
    @include mobile-portrait();
  }
}
